uploads/*/*
node_modules
bower_components
assets/vendor
assets/uploads
assets/css
assets/js/dist
assets/js/src/app/controllers.js
assets/sass/.sass-cache
tests/coverage
tests/e2e/reports
*.pyc
.tmp
*.seed
*.log
*.csv
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
__pycache__
hurricane
*.yaml
!*.sample.yaml
esenv
*.log.*
