/**
 * Add the core framework
 */
@import "framework";

@import "components/base";

$orange: #ff8f1c;
$text: #282828;
$grayText: #757575;
$light: #fff;
$gray: #cbc8c7;
$lightGray: #f3f3f4;
$darkGray: #666;
$parts-3: 33.33333333333333%;

@mixin wrapper {
  max-width: 1080px;

  margin: 0 auto;
  @media only screen and (min-width: 1080px){
    max-width: 1200px;
  }
}

@mixin border-radius($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans; 
}

@mixin transform($trans) {
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  -ms-transform: $trans;
  transform: $trans; 
}

@import "../vendor/fontawesome/css/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
  font-family: 'Brandon_Grotesque';
  src: url('../fonts/Brandon_Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Brandon_Grotesque';
  src: url('../fonts/Brandon_light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Brandon_Grotesque';
  src: url('../fonts/Brandon_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Tungsten';
  src: url('../fonts/Tungsten-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Tungsten';
  src: url('../fonts/Tungsten-Medium.ttf') format('truetype');
  font-weight: normal;
}



body {
  background: #fff;
}


.main-header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: $orange;
  text-align: center;
  font-family: 'Brandon_Grotesque';
  position: relative;
  z-index: 3;
  
  .wrapper {
    position: relative;
    
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.brand {
  margin: 0;
  overflow: hidden;
  
  .nameplate, .logo {
    display: block;
    height: 52px;
  }
  
  .nameplate {
    margin-right: 10px;
    float: left;
    
    @include breakpoint(md) {
      height: auto;
      height: 54px;
      vertical-align: bottom;
      margin-bottom: 0;
    }
  }
  
  .logo {
    float: right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    
    @include breakpoint(md) {
      position: absolute;
      right: 20px;
      bottom: 20px;
      height: 54px;
      margin-bottom: 0;
    }
  }
  
  @include breakpoint(md) {
    vertical-align: bottom;
    float: left;
  }
}

.main-menu {
  letter-spacing: 2px;
  cursor: default;
  font-size: 16px;
  display: none;
  padding: $base-spacing-unit / 2 0;
  text-align: left;
  
  @include breakpoint(md) {
    padding: 0;
  }
  
  li {
    display: block;
  }
  
  a {
    display: block;
    padding: 6px 0;
    text-transform: uppercase;
    color: $light;
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      color: $grayText;
    }
  }
  
  &.show {
    display: block;
  }
  
}

.account-header-menu {
  color: $light;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
  position: relative;
  padding: 15px 0 10px 0;
  
  .options {
    font-size: 0.8em;
    text-align: left;
  }
  
  a {
    color: inherit;
    cursor: pointer;
    
    &:hover {
      color: $grayText;
    }
  }
  
  &.show {
    display: block;
  }
  
  .account {
    display: none;
  }
  
  .menu-list {
    position: absolute;
    z-index: 9;
    top: auto;
    left: -20px;
    right: -20px;
    padding-top: 46px;
    display: none;
    
    @include breakpoint(md) {
      left: auto;
      right: -100px;
      width: 320px;
      padding-top: 50px;
    }
  }
  
  &.logged-in {
    .login-toggle, .signup-toggle {
      display: none;
    }
    
    .account {
      display: block;
    }
    
    &:hover {
      .menu-list {
        display: block;
      }
    }
  }
  
  @include breakpoint(md) {
    position: absolute;
    right: 100px;
    bottom: 50px;
    text-align: right;
    display: block;
  }
}

.book-menu {
  position: relative;
  text-align: left;
  
  @include breakpoint(md) {
    position: absolute;
    right: 100px;
    bottom: 15px;
  }
 
  .book-toggle {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: $light;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 40px;
    cursor: pointer;
    color: purple;

    
    @include breakpoint(md) {
      text-align: right;
      margin-right: 0;
      font-size: 28px
    }
  }
  
  .menu-list {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    left: -20px;
    right: -20px;
    padding-top: 42px;
    
    @include breakpoint(md) {
      left: auto;
      right: -100px;
      width: 320px;
      padding-top: 48px;
    }
  }
  
  &:hover {
    .menu-list {
      display: block;
    }
  }
  
}

.holder {
  background: $lightGray;
  box-shadow: 0 1px 2px rgba($darkGray, .6);
  padding: 15px;
  text-align: center;
  
  a {
    display: block;
    border-bottom: 2px solid $light;
    color: inherit;
    text-transform: uppercase;
    padding: 10px;
    color: $grayText;
    font-size: 16px;

    &:last-child {
      border: none;
    }

    &:hover {
      color: $orange;
    }
  }
}

.menu-toggle {
  display: block;
  color: $light;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.4em;
  cursor: pointer;
  
  &:hover {
    color: $text;
  }
  
  @include breakpoint(md) {
    display: none;
  }
}

.color-secondary {
  color: $grayText;
}

.h {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
  font-family: 'Brandon_Grotesque';
  
  &.large {
    font-size: 2em;
    font-family: 'Brandon_Grotesque';
  }
  
  &.medium {
    font-size: 1.4em;
  }
  
  &.small {
    font-size: 1em;
  }
  
  &.light {
    color: $light;
  }
  
  &.primary, &.color-primary {
    color: $orange;
  }
  
  &.gray {
    color: $gray;
  }
  
  &.center {
    text-align: center;
    display: block;
  }
  
  &.face-primary {
    font-family: 'Brandon_Grotesque';
  }
  
  &.xl {
    font-family: 'Tungsten', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: $orange;
    letter-spacing: 0.2em;
    font-size: 50px;
    
    @include breakpoint(sm) {
      font-size: 70px;
    }
  }
}

.center-vertical {
  text-align: center;
  
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .center-vertical-content {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    
    @include breakpoint(sm) {
      width: 600px;
    }
    
    @include breakpoint(md) {
      width: 800px;
    }
  }
}

.intro {
  font-size: 1.4em;
  color: lighten($text, 30%);
}

.link {
  text-transform: uppercase;
  font-size: 0.84em;
  font-weight: bold;
  color: $orange;
  cursor: pointer;
  font-family: 'Brandon_Grotesque';
  
  &:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 10px;
    @include transition(all 0.4s ease);
  }
  
  &:hover:after {
    padding-left: 20px;
  }
  
  &.basic {
    
    &:hover {
      color: $text;
    }
    
    &:after {
      display: none;
    }
  }
}

.content {
  position: relative;
  overflow: auto;
  
  &.bg-gray {
    background-color: $darkGray;
    color: $light;
    
    .intro {
      color: $light;
    }
  }
  
  &.bg-lightGray {
    background-color: $lightGray;
  }
  
  &.min-height {
    min-height: 800px;
  }
  
  section {
    padding: 20px 0;
  }
}



.input-box {
  height: 34px;
  min-width: 240px;
  border: none;
  background: $light;
  padding: 0 10px;
  outline: none;
}

.button {
  display: inline-block;
  height: 34px;
  padding: 0 60px;
  min-width: 240px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $light;
  background: none;
  border: 3px solid $light;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  

  &:hover {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
  }
  
  &.large {
    height: auto;
    padding: 15px 80px;
    line-height: 40px;
    font-size: 1.2em;
    color: $orange;
    background-color: $light;
    border: 0;
  }
  
  &.small {
    height: auto;
    padding: 10px 40px;
    min-width: 0;
  }
  
  &.center {
    display: block;
    width: 240px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    clear: both;
    margin: 20px auto;
  }
  
  &.pads {
    margin: 20px 0;
  }
  
  &.primary {
    color: $orange;
    background-color: $light;
  }
  
}

.header-form-container {
  background: $darkGray;
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  &.show {
    display: block;
    -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  }
  
  .h {
    margin-top: 0;
    
    @include breakpoint(md) {
      margin-right: 20px;
      float: left;
    }
  }
  
  .input-box {
    margin-bottom: 10px;
    
    @include breakpoint(md) {
      margin-right: 20px;
      width: 300px;
    }
  }
  
  .notify {
    color: $orange;
    display: none;
    
    @include breakpoint(md) {
      margin-bottom: 20px;
      line-height: 2em;
      margin-top: 0; 
    }
  }
  
  &.show-error {
    .notify {
      display: block;
    }
  }
  
  @include breakpoint(md) {
    text-align: left;
    
    .login-form, .signup-form {
      clear: both;
    }
    
    &.signup .input-box {
      width: 280px;
    }
  }
}

.slider-container {
  position: relative;
  overflow: auto;
  clear: both;
}

.slider-container.fitscreen {
  width: auto !important;
}

.slider {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.slide {
  display: block;
  position: relative;
  height: 400px;
  width: 100%;
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Tungsten', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: $orange;
  letter-spacing: 0.08em;
  font-size: 60px;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; 
  }
  
  
  &.light {
    color: $light;
  }
  
  &.font-medium {
    font-size: 40px;
  }
  
  &.font-small {
    letter-spacing: normal;
    font-size: 32px;
  }
  
  span {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    vertical-align: middle;
    padding-left: 0.25em;
    
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .home &.slide-1 {
     background-image: url('../../assets/images/slider-image-1.jpg');
  }
  
  .home &.slide-2 {
     background-image: url('../../assets/images/slider-image-2.jpg');
  }
  
  .home &.slide-3 {
     background-image: url('../../assets/images/slider-image-3.jpg');
  }
  
  .workouts &.slide-1 {
    background-image: url('../../assets/images/slider-image-4.jpg');
  }
  
  .workouts &.slide-2 {
    background-image: url('../../assets/images/slider-image-1.jpg');
  }
  
  .workouts &.slide-3 {
    background-image: url('../../assets/images/slider-image-2.jpg');
  }
  
  .rates &.slide-1 {
    background-image: url('../../assets/images/slider-image-5.jpg');
  }
  
  .rates &.slide-2 {
    background-image: url('../../assets/images/slider-image-3.jpg');
  }
  
  .rates &.slide-3 {
    background-image: url('../../assets/images/slider-image-6.jpg');
  }
  
  .about &.slide-1 {
    background-image: url('../../assets/images/slider-image-6.jpg');
  }
  
  .about &.slide-2 {
    background-image: url('../../assets/images/slider-image-1.jpg');
  }
  
  .about &.slide-3 {
    background-image: url('../../assets/images/slider-image-2.jpg');
  }
  
  .first-ride &.slide-1 {
    background-image: url('../../assets/images/slider-image-3.jpg');
  }
  
  .first-ride &.slide-2 {
    background-image: url('../../assets/images/slider-image-1.jpg');
  }
  
  .first-ride &.slide-3 {
    background-image: url('../../assets/images/slider-image-2.jpg');
  }
}

.dots {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  
  li {
    display: inline-block;
    text-indent: 40px;
    height: 12px;
    width: 12px;
    @include border-radius();
    margin: 0 5px;
    background: $light;
    overflow: hidden;
    
    &.active {
      background: $text;
    }
  }
  
}

.main-footer {
  background: $gray;
  font-family: 'Brandon_Grotesque';
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  
  li {
    padding-bottom: 15px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
      color: $text;
    }
  }
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
  li {
    display: inline-block;
    margin: 0 5px;
  }
  
  a {
    display: block;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    @include border-radius();
    background: $light;
    color: $orange;
    font-size: 22px;
    text-decoration: none;
    
    i {
      margin-left: 2px;
    }
  }
}

/* Workouts Page */
.book-cta {
  clear: both;
  float: none;
  overflow: auto;
  padding: 20px 0;
}

.circles {
  overflow: auto;
  position: relative;
  height: 120px;
  overflow: hidden;
  
  &.items-2 {
    width: 160px;
    
    .item {
      position: absolute;
      top: 0;
    }
    
    .item:nth-child(1) {
      left: 0;
    }
    
    .item:nth-child(2) {
      right: 0;
    }
  }
  
  &.items-3 {
    width: 240px;
    
    .item {
      position: absolute;
      top: 0;
    }
    
    .item:nth-child(1) {
      left: 0;
    }
    
    .item:nth-child(2) {
      left: 0;
      right: 0;
      margin: 0px auto;
      z-index: 2;
    }
    
    .item:nth-child(3) {
      right: 0;
    }
  }
  
  .item {
    height: 120px;
    width: 120px;
    @include border-radius();
    background-position: center;
    background-size: 6px;
    
    &.vertical {
      @include transform(rotate(90deg));
    }
    
    &.diagonal {
      @include transform(rotate(-45deg));
    }
    
    &.type-1 {
      background-image: url('../../assets/images/stripe-orange.png');
    }
    
    &.type-2 {
      background-image: url('../../assets/images/stripe-white.png');
    }
    
    &.type-3 {
      background-image: url('../../assets/images/stripe-white.png');
      opacity: 0.4;
    }
    
  }
  
}

/* Rates Page */

.rates-info {
  text-align: center;
  
  section:hover {
    h2:after {
      opacity: 1;
    }
  }
  
  p {
    margin: $base-spacing-unit 0;
  }
  
  .button {
    color: #fff;
  }
  
  h2 {
    height: 100px;
    width: 100px;
    padding-top: 14px;
    font-size: 40px;
    background: $light;
    color: $orange;
    @include border-radius();
    margin: 20px auto;
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url('../../assets/images/stripe-gray.png');
      background-size: 6px;
      @include transform(rotate(45deg));
      @include border-radius();
      @include transition(opacity 0.4s ease); 
      opacity: 0;
    }
    
    span {
      display: block;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  
  .price {
    span {
      font-size: 30px;
    }
  }
  
  .faq {
    clear: both;
    padding-top: 20px;
  }
}

/* Instructors */
.instructors-info {
  text-align: center;
  
  .image {
    width: 200px;
    height: 200px;
    @include border-radius();
    overflow: hidden;
    margin: 0 auto;
    
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
}

/* Contacts */
.contact {
  
  .social {
    list-style: none;
    padding: 0;
    
    li {
      display: inline-block;
      padding-right: 15px;
    }
    
    a {
      display: block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      @include border-radius();
      background: $light;
      color: $orange;
    }
  }
  
  .map {
    min-height: 400px;
    background: darken($darkGray, 20%);
    padding: 0;
    height: 300px;
    
    @include breakpoint(md) {
      float: left;
      width: 70%;
      margin-top: 40px;
      height: 520px;
      height: 480px;
    }
    
    iframe {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/* First Ride */
.num {
  display: block;
  height: 36px;
  width: 36px;
  @include border-radius();
  background-color: $orange;
  color: $lightGray;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  
  &.inline {
    display: inline-block!important;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 16px;
    margin-right: 5px
  }
}

/* Sidebar Layout */
.content.sidebar-layout {
  
  .wrapper {
    padding: 0;
  }
  
  .sidebar {
    background: $darkGray;
    color: $light;
    padding: 20px;
    
    &.light {
      background: $light;
      color: $text;
    }
  }
  
  .main {
    overflow: auto;
    padding: 20px;
  }
  
  @include breakpoint(md) {
    padding: 0;
    overflow: hidden;
    
    .wrapper {
      padding: 0 20px;
      overflow: visible;
      position: relative;
    }
    
    .sidebar {
      float: right;
      position: absolute;
      top: 0;
      right: 0;
      width: 280px;
      min-height: 100%;
      padding: 40px 20px;
      
      * {
        position: relative;
        z-index: 2;
      }
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3000px;
        background: $darkGray;
        z-index: 1;
      }
      
      &.light:before {
        background: $light;
      }
      
    }
    
    .main {
      padding: 40px 320px 40px 0;
      min-height: 800px;
    }
  }
}

/* Image Layout */
.image-layout {
  .image {
    display: none;
  }
  
  @include breakpoint(md) {
    overflow: auto;
    
    .image {
      float: left;
      display: block;
      width: 200px;
      height: 200px;
      @include border-radius(50%);
      position: relative;
      overflow: hidden;
      @include transform(translate(0,0));
      margin-bottom: 40px;
      
      img {
        position: absolute;
        width: 100%;
        height: auto;
        margin: 0;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
      }
    }
    
    .text {
      overflow: auto;
      padding: 0 0 40px 20px;
    }
  }
  
  @include breakpoint(lg) {
    .image {
      height: 240px;
      width: 240px;
    }
    
    .text {
      padding-left: 40px;
    }
  }
}


/* Schedule */
.schedule {
  
  .day {
    font-size: 1.4em;
    color: $gray;
    padding: 0 10px;
    margin: 20px 0;
    font-family: 'Brandon_Grotesque';
  }
  
  .date {
    margin: 0;
    padding: 10px;
    border-top: 2px solid $light;
    border-bottom: 2px solid $light;
    color: $orange;
    font-size: 1.04em;
    font-family: 'Brandon_Grotesque';
    text-transform: uppercase;
    
    @include breakpoint(md) {
      border-right: 1px solid $light;
    }
  }
  
  .row {
    display: block;
    border-bottom: 2px solid $light;
    padding: 10px;
    line-height: 1.4em;
    color: $grayText;
    
    &.unavailable {
      color: $gray;
      
      .link {
        opacity: 0;
        visibility: hidden;
      }
    }
    
    &:not(.unavailable):hover {
      background: $light;
      color: $orange;
    }
    
    span {
      display: block;
      font-size: 0.9em;
    }
    
    .link {
      font-size: 0.84em;
    }
    
    @include breakpoint(md) {
      border-right: 1px solid $light;
    }
  }
  
  .column {
    @include breakpoint(md) {
      float: left;
      width: 12.5%;
      
      &:last-child {
        .row {
          border-right: none;
        }
        
        .date {
          border-right: none;
        }
      }
    }
    
    &.preview {
      opacity: 0.6;
    }
  }
  
  .header {
    position: relative;
    text-align: center;
    margin: 20px 0;
    font-family: 'Brandon_Grotesque';
    
    @include breakpoint(sm) {
      width: 440px;
      margin: 20px auto;
      line-height: 2em;
    }
  
    .range {
      font-size: 1.4em;
      color: $orange;
      text-transform: uppercase;
      margin: 0;
      
      @include breakpoint(sm) {
        font-size: 1.5em;
      }
      
      span {
        color: $gray;
        text-transform: none;
      }
    }
    
    .nav {
      position: absolute;
      top: 0;
      font-size: 1.4em;
      color: $orange;
      padding: 0 15px;
      @include transition(all 0.4s ease);
      cursor: pointer;
      
      @include breakpoint(sm) {
        font-size: 2em;
        padding: 0 20px;
      }
      
      &.left {
        left: 0;
        
        &:hover {
          padding: 0 25px 0 5px;
          
          @include breakpoint(sm) {
            padding: 0 30px 0 10px;
          }
        }
      }
      
      &.right {
        right: 0;
        
        &:hover {
          padding: 0 5px 0 25px;
          
           @include breakpoint(sm) {
            padding: 0 10px 0 30px;
          }
        }
      }
    } 
  } 
}

/* Class Seats */
.seats {
  font-family: 'Brandon_Grotesque'; 
  display: block;
  
  @include breakpoint(md) {
    display: table;
  }
  
 
  width: 100%;
  max-width: 980px;
  margin: 0 auto;

  @include breakpoint(md) {
  tr:nth-child(even) td {
    text-align: right;
  }
  }

  tr {
    display: inline;
    @include breakpoint(md) {
      display: table-row;
    }
  }

  td {
    display: block;
    float: left;

    @include breakpoint(md) {
      display: table-cell;
      float: none;
    }

    width: 12.5%;
    padding: 10px 0;

    span {
      display: inline-block;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      background: $light;
      @include border-radius();
      font-weight: bold;
      font-size: 16px;
      color: $darkGray;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 5px $orange;
      }

      @include breakpoint(md) {
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 20px;
      }
    }

    &.unavailable {

      span {
        background: $gray;
        cursor: default;
        box-shadow: none;
      }
    }

    &.selected {
      span {
        background: $orange;
        color: $light;
      }
    }

    &.hidden {
      display: none;

      @include breakpoint(md) {
        display: table-cell;
      }

      span {
        display: none;
      }
    }
  }
}

.class-instructor {
  
  @include breakpoint(md) {
    margin: -90px 45px 0 0;
  }
  
  .image {   
    height: 40px;
    width: 40px;
    @include border-radius();
    overflow: hidden;
    margin: 0 auto;
    
    @include breakpoint(md) {
      height: 60px;
    width: 60px;
    }
    
    img {
      width: 100%;
    }
  }

}

.legend {
  list-style: none;
  padding: 0;
  margin: 30px 0 40px 0;
  text-align: center;
  color: $grayText;
  font-size: 16px;
  font-family: 'Brandon_Grotesque';
  
  li {
    display: block;
    vertical-align: middle;
    padding: 10px 0 10px 20px;
    line-height: 30px;
    text-align: left;
    
    &:before {
      content: '';
      display: block;
      float: left;
      height: 30px;
      width: 30px;
      @include border-radius();
      margin-right: 10px;
    }
    
    &.free:before {
      background: $light;
    }
    
    &.reserved:before {
      background: $gray;
    }
    
    &.selection:before {
      background: $orange;
    }
    
    @include breakpoint(md) {
      display: inline-block;
      text-align: center;
    }
  }
}

/* Account */
.input {
  padding: 10px 15px;
  width: 100%;
  max-width: 320px;
  margin: 10px 0;
  outline: none;
  border: none;
  display: block;
}

.select {
  display: inline-block;
  margin: 5px 10px;
  position: relative;
  
  /*
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 32px;
    top: 0;
    right: 0;
    background: $darkGray;
  }
  */
  
  label {
    text-transform: uppercase;
    font-size: 0.84em;
  }
  
  select {
    background: $light;
    border: none;
    outline: none;
    padding: 5px 30px 5px 10px;
  }
}

.col-2 {
  @include breakpoint(md) {
    moz-column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
    column-count: 2;
    column-gap: 2em;
    
    .input {
      display: inline-block;
    }
  }
  
  .block {
    -webkit-column-break-inside: avoid; 
    -moz-column-break-inside: avoid; 
    -o-column-break-inside: avoid; 
    -ms-column-break-inside: avoid; 
    column-break-inside: avoid; 
    break-inside: avoid-column;
    padding-bottom: 20px;
  }
}

/* Instagram */
.image-box {
  @include breakpoint(md) {
    width: 33.33333333333333%;
    padding: 15px;
    float: left;
  }
}

@media only screen and (min-width: 740px){
  
  .main-menu {
    
    li {
      display: inline-block;
      margin: 0 10px;
    }  
  }
  
  .slide {
    font-size: 100px;
    
    &.font-medium {
      font-size: 66px;
    }
    
    &.font-small {
      font-size: 40px;
    }
  }
  
  .footer-links {
    margin-bottom: 20px;
    
    li {
      display: inline-block;
      margin: 0 15px;
    }
  }
}

@media only screen and (min-width: 980px){
  
  body {
    font-size: 18px;
  }
  
  .main-menu {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 240px;
    margin: 0;
    
    a {
      padding: 10px 0 0 0;
    }
  }
  
  .slide {
    height: 560px;
    font-size: 180px;
    
    &.font-medium {
      font-size: 100px;
    }
    
    &.font-small {
      font-size: 60px;
    }
  }
  
  .content {
    .wrapper {
      overflow: auto;
    }
    
    &.parts-3 {

      section {
        width: $parts-3;
        float: left;
      }

      section:nth-of-type(3n+1) {
        padding-right: 20px;
      }

      section:nth-of-type(3n+2) {
        padding-left: 10px;
        padding-right: 10px;
      }

      section:nth-of-type(3n+3) {
        padding-left: 20px;
      }
    }
    
    &.parts-4 {
      section {
        width: 25%;
        float: left;
      }
      
      section:nth-of-type(4n+1) {
        padding-right: 20px;
      }

      section:nth-of-type(4n+2), section:nth-of-type(4n+3) {
        padding-left: 10px;
        padding-right: 10px;
      }
      
      section:nth-of-type(4n+4) {
        padding-left: 20px;
      }
    }
  }
  
  /* WOrkouts */
  .class-intro {
    padding: 20px 0;
  }
  
  .main-footer {
    .wrapper {
      overflow: auto;
    }
  }
  
  /* Rates Page */

  .rates-info {
    
    h2 {
      height: 140px;
      width: 140px;
      padding-top: 20px;
      font-size: 60px;
    }
    
    .faq {
      text-align: left;
    }
  }
  
  /* Contacts */
  .contact {
    .info {
      float: left;
      width: 30%;
    }
  }
  
  .footer-links {
    float: left;
    margin: 0;
    
    li {
      padding: 0;
      margin: 0 30px 0 0;
    }
    
    a {
      height: 40px;
      line-height: 40px;
    }
  }
  
  .social-links {
    float: right;
    
    a {
      height: 40px;
      width: 40px;
      line-height: 40px;
    }
  }
  
}

@media only screen and (min-width: 1080px){
  
  .main-menu {
    li {
      margin: 0 15px;
    }
  }
  
  .content {
    padding: 20px 0;
  }
  
  /* Workouts Page */
  .circles {
    height:160px;
    margin-bottom: 40px;
    
    .item {
      width: 160px;
      height: 160px;
    }
    
    &.items-2 {
      width: 220px;
    }
    
    &.items-3 {
      width: 320px;
    }
  }
  

}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}


@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes rotate{from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}

.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}