/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Base button styles
 */
.btn{
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.5;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: $brand-round;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: border .3s ease,
              box-shadow .3s ease;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration:none;
    outline:none;    
  }

  &:hover {    
    box-shadow: 5px 5px 0px $color-text-gray;
  }

}


/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Buttons size modifiers
 */
.btn--small{
  padding-right: 0.8em;
  padding-left: 0.8em;
  line-height: 2;
  font-size: 0.9em;
}

.btn--medium{
  padding-right: 1em;
  padding-left: 1em;
  line-height: 2.5;
}

.btn--large{
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 3.6;
}

.btn--huge{
  padding-right: 2em;
  padding-left: 2em;
  line-height: 5;
}

/**
 * These buttons will fill the entire container width.
 */
.btn--full{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}


/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * Button function modifiers
 */
.btn--primary {
  background-color: $brand-color-primary;
  color: #fff!important;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($brand-color-primary, 10%);
  }

  &:hover {
    border: 2px solid $brand-color-primary;
  }
}

.btn--secondary {
  background-color: $brand-color-secondary;
  color: #fff!important;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($brand-color-secondary, 10%);
  }
}

.btn--tertiary {
  background-color: $brand-color-tertiary;
  color:  #fff!important;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($brand-color-tertiary, 10%);
  }
}

.btn--quinary {
  background-color: $brand-color-quinary;
  color:  #fff!important;
  border: 2px solid transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: $brand-color-quinary;
  }

  &:hover {
    border: 2px solid white;
  }
}


/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/
/**
 * Button layout modifiers
 */

 .btn {
  
  &.center {
    display: table;
    margin: auto;
    float: none;
  }
 }