/*------------------------------------*\
    #GRIDS
\*------------------------------------*/

.grid {
  margin-left: -$base-spacing-unit;
  list-style: none;
  margin-bottom: 0;
  @extend .cf;
}

  /**
   * occuring grid wrappers as children of grid wrappers
   */
  .grid > .grid {
    margin-left: 0;
    padding-left: 0;
  }


/**
 * Grid childs
 */
.grid__item{
    display:block;
    width:100%;
    padding-left:$base-spacing-unit;
  float: left;
}

.grid__item--inline {
  float: none;
  display: inline-block;
  vertical-align: top;
}

/**
 * Grid modifiers
 */
.grid--full {
  margin-left: 0;
  
  .grid__item {
    padding-left: 0;
  }
}