/*------------------------------------*\
    #MODAL
\*------------------------------------*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 13;
  text-align: center;
  
  &.show {
    display: block;
  }
  
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .modal__box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 82%;
    max-width: 500px;
    background: $brand-color-quaternary;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    text-align: left;
    @include vendor(transition, all 0.4s ease);
    margin-top: -100px;
    opacity: 0;
    
    &.show {
      margin-top: 0;
      opacity: 1;
    }
  }
  
  .close-btn {
    position: absolute;
    right: $base-spacing-unit;
    top: $base-spacing-unit;
    display: block;
    padding: $base-spacing-unit / 2;
    color: $brand-color-primary;
    cursor: pointer;
    
    &:hover {
      color: darken($brand-color-primary, 10%);
    }
  }
}