<div ng-controller="AccountCtrl">
  <div class="content-filter pad cf border--bottom">
    <div class="content-filter__item space--right">
      <span class="label">Search Account</span>
      <input class="text-input" placeholder="Enter Name or Email" ng-model="searchText">
    </div>

  </div>


  <div class="content-result pad">
    <span class="label">Results</span>

    <div class="account-list grid">

      <div ng-repeat="user in users | search:'first_name,email':searchText" class="grid__item bp-md-one-half bp-lg-one-third">
          
        <div class="account__item box--bordered box--white space--bottom cf">
          <div class="pad">
            <b class="h--small">{{ user.first_name }} {{ user.last_name }}</b>
          </div>

          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>{{ user.phone_number }}</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd ng-if="user.status != 'Unverified'" class="inline space--bottom">{{ user.email }}</dd>
                <dd ng-if="user.status == 'Unverified'" class="inline space--bottom">Account is not <a href="" ng-click="verifyAccount(user)">verified</a>.</dd>
              </dl>

              <dl>
              <dt>Class Package</dt>
              <a class="float--right" data-modal-toggle="buy-package" ng-click="checkSecurityModal(user)">Buy</a>
              <dd class="">{{ user.credits }} Classes Left</dd>
              <!-- <dd class=" space--bottom text-color-light">expires in 10 days <a href="" class="space--half-left">Extend</a></dd> -->
              </dl>

              
            </div>
          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" data-modal-toggle="add-package" ng-click="accountAddClass(user)">Add Class</a>
            <ul class="nav float--right">
              <li>
                <a href="" ng-click="accountSummary(user)"><i class="fa fa-bars"></i></a>
              </li>
              <li>
                <a href="" ng-click="accountSchedules(user)"><i class="fa fa-book"></i></a>
              </li>
              <li>
                <a ng-if="user.status != 'Frozen'" ng-click="frozeModal(user)"><i class="fa fa-empire"></i></a>
                <a ng-if="user.status == 'Frozen'" ng-click="unFrozeAccount(user)"><i class="fa fa-times-circle-o"></i></a>
              </li>
              <!-- <li>
                <a href="" class="pad--off-right"><i class="fa fa-share"></i></a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" data-modal="froze-account" id="froze-account-modal">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Freeze: {{ selectedAccount.first_name }} {{ selectedAccount.last_name }}</h3>
      <span class="label">Reason:</span>
      <input ng-model="frozeReason" class="text-input">
      <button type="button" class="btn btn--primary btn--medium space--top modal-close" ng-click="freezeAccount()">Freeze Account</button>
    </div>
  </div>



  <div class="modal" data-modal="account-schedules" id="account-schedules-modal">
    <div class="modal__box pad" style="max-width: 100%">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">{{ selectedAccount.first_name }} {{ selectedAccount.last_name }} schedules</h3>
      
      <div class="class-search pad cf">
        <div class="float--left space--right">
          <span class="label">From</span>
          <input class="text-input" id="input_from" ng-model='schedFilter.fromDate' placeholder="Today" />
        </div>
        <div class="float--left space--right">
          <span class="label">To</span>
          <input class="text-input" id="input_to" ng-model='schedFilter.toDate' placeholder="To" />
        </div>
        <div class="float--left space--left space--bottom">
          <span class="label">&nbsp;</span>
          <button type="button" class="btn btn--small btn--primary float--left" ng-click="filterSchedDate(selectedAccount)">Filter Date</button>
        </div>
        <div class="float--left space--left">
          <span class="label">Status</span>
          <select class="select" ng-change="changeStatus()" ng-model="statusFilter"> 
            <option value="">Select Status</option>
            <option value="booked">Booked</option>
            <option value="waitlisted">Waitlisted</option>
            <option value="cancelled">Cancelled</option>
            <option value="completed">Completed</option>
          </select>
        </div>
      </div>

      <div class="pad"  style="height: 400px; overflow: scroll">
        <table class="data-table">
          <thead>
            <tr>
              <th>Schedule</th>
              <th>Class Type</th>
              <th>Instructor</th>
              <th>Status</th>
              <th>Seat</th>
              <th>Create Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sched in selectedAccount.books | search:'status':statusFilter">
              <td>{{ sched.date | formatDate }} {{ sched.schedule.start | formatTime }}</td>
              <td>{{ sched.schedule.type }}</td>
              <td>{{ sched.schedule.instructor.admin.first_name }} {{ sched.schedule.instructor.admin.last_name }}</td>
              <td>{{ sched.status }}</td>
              <td>{{ sched.seat_number }}</td>
              <td>{{ sched.create_at | formatDate }} {{ sched.create_at | formatTime }} </td>
              <td><button ng-if="sched.status == 'waitlisted'" class="btn btn--small btn--primary" ng-click="cancelWaitlist($index, sched)">Cancel</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- modal account summary -->
  <div class="modal" data-modal="account-summary" id="account-summary-modal">
    <div class="modal__box pad" style="max-width: 50%">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Summary of Classes and Packages</h3>

      <div class="space--bottom pad--bottom">
        <span class="label">Rider</span>
        <h4 class="h-small">{{ selectedAccount.first_name }} {{ selectedAccount.last_name }}</h4>
      </div>

      <div style="height: 400px; overflow: scroll" class="space--bottom one-whole">

        <table class="data-table account-summary-table">
          <tr>
            <th>Package Type</th>
            <th>Classes Used</th>
            <th>Classes Left</th>
            <th>Expiration Date</th>
          </tr>
          <tr ng-repeat="pack in selectedAccount.packages">
            <td>{{ pack.package_name || 'Free' }} </td>
            <td>{{ pack.credit_count }}</td>
            <td>{{ pack.remaining_credits }}</td>
            <td>{{ pack.create_at | addDay:pack.expiration | formatDate }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="modal" data-modal="security-check" id="security-check-modal">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Security Check</h3>
      
      <ul class="form-fields">
        <li>
          <span class="label">Password</span>
          <input ng-model="securityPass" type="password" class="text-input">
        </li>
      </ul>
     
      <button type="button" ng-click="checkSecurity()" class="btn btn--primary btn--medium space--top modal-close">Confirm</button>

    </div>
  </div>

  <div class="modal" data-modal="buy-package" id="buy-package-modal">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Buy Package</h3>
      
      <ul class="form-fields">
        <li>
          <span class="label">Rider</span>
          <h4 class="h-small">{{ selectedAccount.first_name }} {{ selectedAccount.last_name }}</h4>
        </li>
        <li>
          <span class="label">Select Class Package</span>
          <select class="select" id="select-add-package" ng-change="setPackage(newPackageId)" ng-model="newPackageId">
            <option value="">Select Package</option>
          </select>
        </li>
        <li>
           <div class="account__item box--bordered box--white space--bottom cf">
              <div class="pad">
                <b class="h--small">{{ newPackage.name }}</b>
                <br/><br/>
                <span class="h small ">Price: {{ newPackage.fee }} Php</span><br>
                <span class="h small ">Classes: {{ newPackage.credits }} </span><br>
                <span class="h small ">Expiration: {{ newPackage.expiration }} days</span><br>
              </div>
            </div>
        </li>
      </ul>
     
      <button type="button" ng-click="confirmBilling()" class="btn btn--primary btn--medium space--top modal-close">Buy</button>

    </div>
  </div>
<br/>
  <div class="modal" data-modal="billing-preview" id="billing-preview-modal">
    <div class="modal__box pad" style="max-width: 100%">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Billing Information</h3>
      
      <ul class="form-fields">
        <li>
          <span class="label">Rider</span>
          <h4 class="h-small">{{ selectedAccount.first_name }} {{ selectedAccount.last_name }}</h4>
        </li>
        <li>
          <div class="bp-md-one-half float--left space--bottom">
            <span class="label">First Name</span>
            <input ng-model="selectedAccount.billing.first_name" class="text-input">
          </div>
          <div class="bp-md-one-half float--right space--bottom">
            <span class="label">Last Name</span>
            <input ng-model="selectedAccount.billing.last_name" class="text-input">
          </div>
          <div class="bp-md-one-half float--left space--bottom">
            <span class="label">Address</span>
            <input ng-model="selectedAccount.billing.address" class="text-input">
          </div>
          <div class="bp-md-one-half float--right space--bottom">
            <span class="label">City</span>
            <input ng-model="selectedAccount.billing.city" class="text-input">
          </div>
          <div class="bp-md-one-half float--left space--bottom">
            <span class="label">State/Province</span>
            <input ng-model="selectedAccount.billing.province" class="text-input">
          </div>
          <div class="bp-md-one-half float--right space--bottom">
            <span class="label">Postal</span>
            <input ng-model="selectedAccount.billing.postalcode" class="text-input">
          </div>
          <div class="bp-md-one-half float--left space--bottom">
            <span class="label">Email</span>
            <input ng-model="selectedAccount.billing.email" class="text-input">
          </div>
          <div class="bp-md-one-half float--right space--bottom">
            <span class="label">Card #</span>
            <input ng-model="selectedAccount.billing.card_number" class="text-input">
          </div>
          <div class="bp-md-one-half float--left space--bottom">
            <span class="label">Payment Type</span>
            <input ng-model="selectedAccount.billing.card_type" class="text-input">
          </div>
          <div class="bp-md-one-half float--right space--bottom">
            <span class="label">Expiration</span>
            <input ng-model="selectedAccount.billing.card_expiration" class="text-input">
          </div>
          <div class="bp-md-one-half float--left space--bottom">
            <span class="label">CSC</span>
            <input ng-model="selectedAccount.billing.csc" class="text-input">
          </div>
        </li>
      </ul>
<!-- 
      <form id="adminPayForm" action="https://www.sandbox.paypal.com/ph/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="no_note" value = "0">
        <input type="hidden" name="bn" value="PP-BuyNowBF">
        <input type="hidden" name="rm" value="2">
        <input type="hidden" name="business" value="ogsmelvin05-facilitator@gmail.com">
        <input type="hidden" name="item_name" value="{{ package.name }}">
        <input type="hidden" name="amount" value="{{ package.fee }}">
        <input type="hidden" name="currency_code" value="PHP">
        <input type="hidden" name="return" value="{{ redirectUrl }}?pid={{ package.id }}&success=True">
        <input type="hidden" name="cancel_return" value="{{ redirectUrl }}?success=False">
        <input type="hidden" name="cbt" value="Return to Electric Studio">
      </form> -->
     
      <button type="button" ng-click="buyPackage()" class="btn btn--primary btn--medium float--right space--top modal-close">Save and Continue</button>

    </div>
  </div>

  <!-- modal Add Class -->
  <div class="modal" data-modal="add-class" id="add-class-modal">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Class</h3>
      
      <ul class="form-fields">
        <li>
          <span class="label">Rider</span>
          <h4 class="h-small">{{ selectedAccount.first_name }} {{ selectedAccount.last_name }}</h4>
        </li>
        <li>
          <span class="label">Select Class Package</span>
          <select class="select" id="select-add-package" ng-change="selectPackage(newCredits.package_id)" ng-model="newCredits.package_id">
            <option value="">Select Package</option>
          </select>
        </li>
        <li>
          <span class="label">Or Input Number of Class</span>
          <input ng-disabled="newCredits.package_id" ng-model="newCredits.credit_count" class="text-input">
        </li>
        <li>
          <span class="label">Set Expiration</span>
          <input ng-disabled="newCredits.package_id" ng-model="newCredits.expiration" class="text-input" placeholder="Defaults to 30 days">
        </li>
        <li>
          <span class="label">Notes</span>
          <textarea class="text-input" cols="3" ng-model="newCredits.notes" placeholder="Indicate reason for free class"></textarea>
        </li>
      </ul>
     
      <button type="button" ng-click="saveNewCredits()" class="btn btn--primary btn--medium space--top modal-close">Add</button>

    </div>
  </div>
</div>