<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin | Electric Studio</title>

    <link rel="stylesheet" href="/assets/css/admin.css">
  </head>

  <body>
    <div class="page-wrapper">
      <div class="page-sidebar">
        <div class="brand pad">
          <img src="/assets/images/electricstudio-nameplate.png" class="nameplate">
          <img src="/assets/images/electricstudio-logo.png" class="logo">
        </div>

        <ul class="main-nav nav nav--stacked">
          <li class="active">
            <a data-dropdown-toggle="dashboard-menu">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">Dashboard</span>
            </a>

            <ul class="nav nav--stacked sub-nav" data-dropdown="dashboard-menu">
              <li><a href="/analytics">Analytics</a></li>
              <li><a href="/packages">Packages</a></li>
              <li><a href="/instructors">Instructors</a></li>
              <li><a href="/sliders">Sliders</a></li>
            </ul>
          </li>
          <li>
            <a href="/classes">
              <i class="fa fa-th-list"></i>
              <span class="nav-label">Classes</span>
            </a>
          </li>
          <li>
            <a href="/accounts">
              <i class="fa fa-users"></i>
              <span class="nav-label">Accounts</span>
            </a>
          </li>
          <li>
            <a href="/schedules">
              <i class="fa fa-calendar"></i>
              <span class="nav-label">Schedules</span>
            </a>
          </li>
        </ul>

      </div>

      <div class="page-content">

        <div class="page-header pad">

          <button class="sidebar-toggle btn btn--small btn--primary">
            <i class="fa fa-bars"></i>
          </button>
          
          <div class="user">
            <div class="user__pic">
              <img src="/assets/images/pic-placeholder.png" alt="">
            </div>
            
            <span class="user__name">Mark S.</span>
            <a href="" class="user__logout"><i class="fa fa-sign-out"></i> Log Out</a>
          </div>

        </div>

        <div class="main-content">

    <div class="content-filter pad cf border--bottom">
    <div class="content-filter__item space--right">
      <span class="label">Search Account</span>
      <input class="text-input" placeholder="Enter Name">
    </div>

  </div>


  <div class="content-result pad">
    <span class="label">Results</span>

    <div class="account-list grid">

      <div class="grid__item bp-md-one-half bp-lg-one-third">
        <div class="account__item box--bordered box--white space--bottom cf">

          <div class="pad">
            <b class="h--small">Jeph Fernandez</b>
          </div>

          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>0916238313</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd class="inline space--bottom">jeph@greenlemon.co</dd>
              </dl>

              <dl>
              <dt>Class Package</dt>
              <dd class="">3 Classes Left</dd>
              <dd class=" space--bottom text-color-light">expires in 10 days <a href="" class="space--half-left">Extend</a></dd>
              </dl>
            </div>

          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" data-modal-toggle="add-package">Add Class</a>
            <ul class="nav float--right">
              <li>
                <a href="" data-modal-toggle="account-summary"><i class="fa fa-bars"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-ban"></i></a>
              </li>
              <li>
                <a href="" class="pad--off-right"><i class="fa fa-share"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="grid__item bp-md-one-half bp-lg-one-third">
        <div class="account__item box--bordered box--white space--bottom cf">

          <div class="pad">
            <b class="h--small">Anthony De Leon</b>
          </div>

          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>09170839283</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd class="inline space--bottom">anthony@greenlemon.co</dd>
              </dl>

              <dl>
              <dt>Class Package</dt>
              <dd class="">6 Classes Left</dd>
              <dd class=" space--bottom text-color-light">expires in 14 days <a href="" class="space--half-left">Extend</a></dd>
              </dl>
            </div>

          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" data-modal-toggle="add-package">Add Class</a>
            <ul class="nav float--right">
              <li>
                <a href="" data-modal-toggle="account-summary"><i class="fa fa-bars"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-ban"></i></a>
              </li>
              <li>
                <a href="" class="pad--off-right"><i class="fa fa-share"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="grid__item bp-md-one-half bp-lg-one-third">
        <div class="account__item box--bordered box--white space--bottom cf">

          <div class="pad">
            <b class="h--small">John Doe</b>
          </div>

          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>09193212837</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd class="inline space--bottom">john@gmail.com</dd>
              </dl>

              <dl>
              <dt>Class Package</dt>
              <dd class="">6 Classes Left</dd>
              <dd class=" space--bottom text-color-light">expires in 22 days <a href="" class="space--half-left">Extend</a></dd>
              </dl>
            </div>

          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" data-modal-toggle="add-package">Add Class</a>
            <ul class="nav float--right">
              <li>
                <a href="" data-modal-toggle="account-summary"><i class="fa fa-bars"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-ban"></i></a>
              </li>
              <li>
                <a href="" class="pad--off-right"><i class="fa fa-share"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="grid__item bp-md-one-half bp-lg-one-third">
        <div class="account__item box--bordered box--white space--bottom cf">

          <div class="pad">
            <b class="h--small">Mark Serbol</b>
          </div>

          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>09238493791</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd class="inline space--bottom">mark@greenlemon.co</dd>
              </dl>

              <dl>
              <dt>Class Package</dt>
              <dd class="">4 Classes Left</dd>
              <dd class=" space--bottom text-color-light">expires in 12 days <a href="" class="space--half-left">Extend</a></dd>
              </dl>
            </div>

          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" data-modal-toggle="add-package">Add Class</a>
            <ul class="nav float--right">
              <li>
                <a href="" data-modal-toggle="account-summary"><i class="fa fa-bars"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-ban"></i></a>
              </li>
              <li>
                <a href="" class="pad--off-right"><i class="fa fa-share"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="grid__item bp-md-one-half bp-lg-one-third">
        <div class="account__item box--bordered box--white space--bottom cf">

          <div class="pad">
            <b class="h--small">Jeph Fernandez</b>
          </div>

          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>0916238313</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd class="inline space--bottom">jeph@greenlemon.co</dd>
              </dl>

              <dl>
              <dt>Class Package</dt>
              <dd class="">3 Classes Left</dd>
              <dd class=" space--bottom text-color-light">expires in 10 days <a href="" class="space--half-left">Extend</a></dd>
              </dl>
            </div>

          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" data-modal-toggle="add-package">Add Class</a>
            <ul class="nav float--right">
              <li>
                <a href="" data-modal-toggle="account-summary"><i class="fa fa-bars"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-ban"></i></a>
              </li>
              <li>
                <a href="" class="pad--off-right"><i class="fa fa-share"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- modal account summary -->
  <div class="modal" data-modal="account-summary">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Summary of Classes and Packages</h3>

      <div class="space--bottom pad--bottom">
        <span class="label">Rider</span>
        <h4 class="h-small">Jeph Fernandez</h4>
      </div>

      <div class="space--bottom one-whole">

        <table class="data-table account-summary-table">
          <tr>
            <th>Package Type</th>
            <th>Classes Used</th>
            <th>Classes Left</th>
            <th>Expiration Date</th>
          </tr>
          <tr>
            <td>5 Pax</td>
            <td>5</td>
            <td>0</td>
            <td>05 Jan 2015</td>
          </tr>
          <tr>
            <td>15 Pax</td>
            <td>15</td>
            <td>0</td>
            <td>14 Feb 2015</td>
          </tr>
          <tr>
            <td>5 Pax</td>
            <td>2</td>
            <td>3</td>
            <td>05 Mar 2015</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- modal Add Class -->
  <div class="modal" data-modal="add-package">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Class</h3>
      
      <ul class="form-fields">
        <li>
          <span class="label">Rider</span>
          <h4 class="h-small">Jeph Fernandez</h4>
        </li>
        <li>
          <span class="label">Select Class Package</span>
          <select class="select">
            <option value="1">1 Class</option>
            <option value="5">5 Pax</option>
            <option value="10">10 Pax</option>
          </select>
        </li>
        <li>
          <span class="label">Or Input Number of Class</span>
          <input class="text-input">
        </li>
        <li>
          <span class="label">Set Expiration</span>
          <input class="text-input datepicker" placeholder="Defaults to 30 days">
        </li>
        <li>
          <span class="label">Notes</span>
          <textarea class="text-input" cols="3" placeholder="Indicate reason for free class"></textarea>
        </li>
      </ul>
     
      <button class="btn btn--primary btn--medium space--top modal-close">Add</button>

    </div>
  </div>


        </div><!-- .main-content -->
      </div>
    </div>


    <link rel="stylesheet" href="/assets/vendor/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.date.css">

    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.date.js"></script>

    <script src="/assets/js/script.js"></script>
  </body>
</html>
