<div ng-controller="ClassCtrl">

  <div class="class-search pad cf">
    <span class="label">Select Class Schedule</span>
    <div class="bp-md-one-fourth float--left space--bottom space--right">
      <input ng-change="reloadDate()" class="datepicker text-input" ng-model="newBook.date" placeholder="Date">
    </div>
    <div class="float--left">
      <select ng-change="reload()" class="select" id="select-class-time" ng-model="newBook.sched_id">
        <option selected value="">Select time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
      </select>
    </div>
  </div>

  <div class="data-list cf pad">
    <dl class="float--left space--right">
      <dt>Instructor</dt>
      <dd class="caps">{{ schedDetails.instructor.admin.first_name }} {{ schedDetails.instructor.admin.last_name }}</dd>
    </dl>
    <dl class="float--left space--right">
      <dt>Class Type</dt>
      <dd class="caps">{{ schedDetails.type }}</dd>
    </dl>
    <dl class="float--left space--right">
      <dt>Status</dt>
      <dd class="caps">{{ getBlockedSeats() - books.length }} Bikes Available</dd>
    </dl>
  </div>


  <div class="result-container pad">

    <ul class="nav-tabs" id="class-tabs">
      <li>
        <a class="active" data-tab-toggle="booking">Booking</a>
      </li>
      <li>
        <a data-tab-toggle="waitlist">Waitlist</a>
      </li>
    </ul>

    <div class="booking tab-pane tab-pane--active" data-tab-pane="booking">

      <div class="booking-header space--bottom cf">
        <div class="stats">
          <span class="caps">{{ books.length }} Riders</span>
        </div>

        <div class="options">
          <button class="btn btn--small btn--primary" data-modal-toggle="book-ride" ng-click="bookRide()">
            Book A Ride
          </button>
          <button class="btn btn--small btn--secondary" ng-click="viewBikeMap()">Bike Map</button>
          <button class="btn btn--small btn--tertiary" ng-click="downloadBookingList()">Export Booking List</button>
        </div>
      </div>

      <div class="booking-list grid">

        <div ng-repeat="book in books" class="grid__item bp-sm-one-half bp-lg-one-third">
          <div class="booking__item box--bordered box--white space--bottom cf">

            <div class=" box__header">
              <ul class=" booking__actions nav">

                <li>
                  <a title="Switch Bike" class="btn--round bike-number-switch" data-modal-toggle="switch" ng-click="switchBikeModal(book)">
                    <i class="fa fa-exchange"></i>
                    <span class="bike-number">{{ book.seat_number }}</span>
                  </a>
                </li>
                <li>
                  <a title="Mark as Missed" ng-click="missedBooking(book, $index)" class="option-booking">
                    <i class="fa fa-clock-o"></i>
                  </a>
                </li>
                <li>
                  <a title="Cancel Book" ng-click="cancelBooking(book, $index)" class="option-booking">
                    <i class="fa fa-times"></i>
                  </a>
                </li>
              </ul>

              <h5 class="space--left" style='margin-top: 10px !important'>{{ book.user_id.first_name }} {{ book.user_id.last_name }} <br> </h5>
              <i class="space--left" style="letter-spacing: 0px"> - {{ book.user_id.email }}</i>
            </div>

          </div>
        </div>
      </div>

    </div><!-- /.booking -->

    <div class="waitlist tab-pane" data-tab-pane="waitlist">

      <div class="waitlist-header space--bottom cf">
        <div class="stats">
          <span class="caps">{{ waitList.length || 0 }} Riders</span>
        </div>

        <div class="options">
          <button class="btn btn--small btn--primary" ng-click="addWaitlistModal()">Add New</button>
          <button class="btn btn--small btn--primary" ng-click="releaseWaitlist()">Release all Waitlist</button>
          <button class="btn btn--small btn--tertiary" ng-click="printWaitlist()">Print Waitlist</button>
        </div>
      </div>

      <div class="account-list grid">

        <div class="grid__item bp-sm-one-half bp-lg-one-third" ng-repeat="wait in waitList">  
          <div class="account__item box--bordered box--white space--bottom cf">

            <div class="pad">
              <b class="h--small">{{ wait.user_id.first_name }} {{ wait.user_id.last_name }}</b>
            </div>

            <div class="pad--sides">
              <div class="data-list">

                <dl class="data--inline">
                  <dt><i class="fa fa-phone"></i></dt>
                  <dd>{{ wait.user_id.phone_number }}</dd>
                </dl>

                <dl class="data--inline space--bottom">
                  <dt><i class="fa fa-envelope"></i></dt>
                  <dd class="inline space--bottom">{{ wait.user_id.email }}</dd>
                </dl>
              </div>

            </div>

            <div class="account__options pad--sides pad--half-ends space--top cf">
              <a class="user-move-class" ng-click="moveToClass(wait)">Move to Class</a>
              <a class="user-remove-waitlist space--left link--secondary float--right" ng-click="removeFromWaitlist(wait, $index)">Cancel</a>
            </div>

          </div>
        </div>
        
      </div>
    </div><!-- /.waitlist -->
  </div>

  <!-- modal Booking-->
  <div id="book-ride-modal" class="modal" data-modal="book-ride">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Book A Ride</h3>
      <div class="user-select cf">
        <div class="space--bottom one-whole bp-md-one-half float--left space--right pad--right">
          <span class="label">Rider</span>
          <select class="select" id="select-user-id" ng-change="selectRider()" ng-model="newBook.user_id">
            <option selected value="">Select Rider</option>
          </select>
        </div>
        <div class="space--bottom bp-md-one-third float--left">
          <span class="label">Bike Number</span>
          <select class="select" id="select-bike-number" ng-model="newBook.seat_number">
            <option selected value="">Select Bike no.</option>
          </select>
        </div>
      </div>
      <div class="user-class-details" ng-show="selectedRider.credits">
        <span class="caps">{{ selectedRider.credits }} Ride<span ng-if="selectedRider.credits > 1">s</span> Left</span>
      </div>
      <button ng-disabled="booking" type="button" ng-click="sendNewBook()" class="btn btn--medium btn--primary space--top modal-close">Book</button>

    </div>
  </div>

  <!-- modal add waitlist-->
  <div id="add-waitlist-modal" class="modal" data-modal="add-waitlist">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Waitlist A Rider</h3>
      <div class="user-select cf">
        <div class="space--bottom one-whole bp-md-one-half float--left space--right pad--right">
          <span class="label">Rider</span>
          <select class="select" id="select-waitlist-user" ng-change="selectWaitlistRider()" ng-model="newWaitlist.user_id">
            <option selected value="">Select Rider</option>
          </select>
        </div>
      </div>
      <div class="space--bottom one-whole float--left">
        <span class="label">Notes</span>
        <textarea class="text-input" cols="2" ng-model="newWaitlist.notes" placeholder="notes for waitlisting this rider"></textarea>
      </div>
      <div class="user-class-details" ng-show="selectedRider.credits">
        <span class="caps">{{ selectedRider.credits }} Ride<span ng-if="selectedRider.credits > 1">s</span> Left</span>
      </div>
      <button ng-disabled="waitlisting" type="button" ng-click="addNewWaitlist()" class="btn btn--medium btn--primary space--top modal-close">Add</button>
    </div>
  </div>  

  <!-- move to class -->
  <div id="move-to-class-modal" class="modal" data-modal="move-to-class" >
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Move to class</h3>

      <div class="user-select space--bottom">
        <span class="label">Rider</span>
        <h4 class="h-small">{{ selectedWaitList.user_id.first_name }} {{ selectedWaitList.user_id.last_name }}</h4>
      </div>

       <div class="cf">   
        <select class="select space--bottom bp-md-one-third float--left" id="select-seat" ng-model="selectedWaitList.seat_number">
          <option value="">Select Seat</option>
        </select>    
      </div>

      <button class="btn btn--primary btn--medium space--top modal-close" ng-click="bookWaitList()">Move to Class</button>
    </div>
  </div>


  <!-- modal Switch Bike -->
  <div id="switch-bike-modal" class="modal" data-modal="switch" >
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Switch Bike</h3>

      <div class="user-select space--bottom">
        <span class="label">Rider</span>
        <h4 class="h-small">{{ selectedBook.user_id.first_name }} {{ selectedBook.user_id.last_name }}</h4>
      </div>

       <div class="cf">   
        <div class="space--bottom one-whole bp-md-one-half float--left space--right pad--right">
          <span class="label">Current Bike</span>
          <h4 class="h-small">{{ selectedBook.seat_number  }}</h4>
        </div>
        <div class="space--bottom bp-md-one-third float--left">
          <span class="label">Switch to</span>
          <select class="select" id="switch-seat" ng-model="selectedBike">
            <option value="">Select Seat</option>
          </select>
        </div>    
      </div>

      <button class="btn btn--primary btn--medium space--top modal-close" ng-click="switchBike()">Switch</button>
    </div>
  </div>

  <div class="modal" data-modal="bike-map" id="bike-map-modal">
    <div class=" bike-map-modal modal__box pad" >
      <span class="close-btn modal-close">X</span>

      <div class="space--bottom pad--bottom">
        <span class="label">Schedule</span>
        <h4 class="h-small">{{ schedDetails.date | formatDate }} {{ schedDetails.start | formatTime }}</h4>
      </div>

      <div class="class">
        <table class="seats">
          <tr>
            <td ng-class="{ unavailable: checkSeat(1), hidden: 1 > schedDetails.seats, blocked: isBlocked(1) }"><span>1</span></td>
            <td ng-class="{ unavailable: checkSeat(2), hidden: 2 > schedDetails.seats, blocked: isBlocked(2) }"><span>2</span></td>
            <td ng-class="{ unavailable: checkSeat(3), hidden: 3 > schedDetails.seats, blocked: isBlocked(3) }"><span>3</span></td>
            <td ng-class="{ unavailable: checkSeat(4), hidden: 4 > schedDetails.seats, blocked: isBlocked(4) }"><span>4</span></td>
            <td ng-class="{ unavailable: checkSeat(5), hidden: 5 > schedDetails.seats, blocked: isBlocked(5) }"><span>5</span></td>
            <td ng-class="{ unavailable: checkSeat(6), hidden: 6 > schedDetails.seats, blocked: isBlocked(6) }"><span>6</span></td>
            <td ng-class="{ unavailable: checkSeat(7), hidden: 7 > schedDetails.seats, blocked: isBlocked(7) }"><span>7</span></td>
            <td ng-class="{ unavailable: checkSeat(8), hidden: 8 > schedDetails.seats, blocked: isBlocked(8) }"><span>8</span></td>
          </tr>
          <tr>
            <td ng-class="{ unavailable: checkSeat(9), hidden: 9 > schedDetails.seats, blocked: isBlocked(9) }"><span>9</span></td>
            <td ng-class="{ unavailable: checkSeat(10), hidden: 10 > schedDetails.seats, blocked: isBlocked(10) }"><span>10</span></td>
            <td ng-class="{ unavailable: checkSeat(11), hidden: 11 > schedDetails.seats, blocked: isBlocked(11) }"><span>11</span></td>
            <td ng-class="{ unavailable: checkSeat(12), hidden: 12 > schedDetails.seats, blocked: isBlocked(12) }"><span>12</span></td>
            <td ng-class="{ unavailable: checkSeat(13), hidden: 13 > schedDetails.seats, blocked: isBlocked(13) }"><span>13</span></td>
            <td ng-class="{ unavailable: checkSeat(14), hidden: 14 > schedDetails.seats, blocked: isBlocked(14) }"><span>14</span></td>
            <td ng-class="{ unavailable: checkSeat(15), hidden: 15 > schedDetails.seats, blocked: isBlocked(15) }"><span>15</span></td>
            <td ng-class="{ unavailable: checkSeat(16), hidden: 16 > schedDetails.seats, blocked: isBlocked(16) }"><span>16</span></td>
          </tr>
          <tr>
            <td ng-class="{ unavailable: checkSeat(17), hidden: 17 > schedDetails.seats, blocked: isBlocked(17) }"><span>17</span></td>
            <td ng-class="{ unavailable: checkSeat(18), hidden: 18 > schedDetails.seats, blocked: isBlocked(18) }"><span>18</span></td>
            <td ng-class="{ unavailable: checkSeat(19), hidden: 19 > schedDetails.seats, blocked: isBlocked(19) }"><span>19</span></td>
            <td ng-class="{ unavailable: checkSeat(20), hidden: 20 > schedDetails.seats, blocked: isBlocked(20) }"><span>20</span></td>
            <td ng-class="{ unavailable: checkSeat(21), hidden: 21 > schedDetails.seats, blocked: isBlocked(21) }"><span>21</span></td>
            <td ng-class="{ unavailable: checkSeat(22), hidden: 22 > schedDetails.seats, blocked: isBlocked(22) }"><span>22</span></td>
            <td ng-class="{ unavailable: checkSeat(23), hidden: 23 > schedDetails.seats, blocked: isBlocked(23) }"><span>23</span></td>
            <td ng-class="{ unavailable: checkSeat(24), hidden: 24 > schedDetails.seats, blocked: isBlocked(24) }"><span>24</span></td>
          </tr>
          <tr>
            <td ng-class="{ unavailable: checkSeat(25), hidden: 25 > schedDetails.seats, blocked: isBlocked(25) }"><span>25</span></td>
            <td ng-class="{ unavailable: checkSeat(26), hidden: 26 > schedDetails.seats, blocked: isBlocked(26) }"><span>26</span></td>
            <td ng-class="{ unavailable: checkSeat(27), hidden: 27 > schedDetails.seats, blocked: isBlocked(27) }"><span>27</span></td>
            <td class="hidden"><span></span></td>
            <td ng-class="{ unavailable: checkSeat(28), hidden: 28 > schedDetails.seats, blocked: isBlocked(28) }"><span>28</span></td>
            <td ng-class="{ unavailable: checkSeat(29), hidden: 29 > schedDetails.seats, blocked: isBlocked(29) }"><span>29</span></td>
            <td ng-class="{ unavailable: checkSeat(30), hidden: 30 > schedDetails.seats, blocked: isBlocked(30) }"><span>30</span></td>
            <td ng-class="{ unavailable: checkSeat(31), hidden: 31 > schedDetails.seats, blocked: isBlocked(31) }"><span>31</span></td>
          </tr>
          <tr>
            <td ng-class="{ unavailable: checkSeat(32), hidden: 32 > schedDetails.seats, blocked: isBlocked(32) }"><span>32</span></td>
            <td ng-class="{ unavailable: checkSeat(33), hidden: 33 > schedDetails.seats, blocked: isBlocked(33) }"><span>33</span></td>
            <td ng-class="{ unavailable: checkSeat(34), hidden: 34 > schedDetails.seats, blocked: isBlocked(34) }"><span>34</span></td>
            <td class="hidden"><span></span></td>
            <td class="hidden"><span></span></td>
            <td ng-class="{ unavailable: checkSeat(35), hidden: 35 > schedDetails.seats, blocked: isBlocked(35) }"><span>35</span></td>
            <td ng-class="{ unavailable: checkSeat(36), hidden: 36 > schedDetails.seats, blocked: isBlocked(36) }"><span>36</span></td>
            <td ng-class="{ unavailable: checkSeat(37), hidden: 37 > schedDetails.seats, blocked: isBlocked(37) }"><span>37</span></td>
          </tr>
        </table>
        
        <div class="class-instructor">
          <div class="image">
            <img src="{{ schedDetails.instructor.image ? '/assets/' + schedDetails.instructor.image : 'http://placehold.it/350x150' }}">
          </div>
          <h3 class="h small center primary">{{ schedDetails.instructor.admin.first_name }}</h3>
        </div>
      </div>
    </div>
  </div>

</div>