<div ng-controller="ClassCtrl">

  <div class="class-search pad cf">
    <a class="h medium primary float--right link" href="#/statistics">Statistics</a>
    <span class="label">Select Class Schedule</span>
    <div class="bp-md-one-fourth float--left space--bottom space--right">
      <input ng-change="reloadDate()" class="datepicker text-input" ng-model="newBook.date" placeholder="Date">
    </div>
    <div class="float--left">
      <select ng-change="reload()" class="select" id="select-class-time" ng-model="newBook.sched_id">
        <option selected value="">Select time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
      </select>
    </div>
  </div>

  <div class="data-list cf pad">
    <dl class="float--left space--right">
      <dt>Instructor</dt>
      <dd class="caps">{{ schedDetails.instructor.admin.first_name }} {{ schedDetails.instructor.admin.last_name }}</dd>
    </dl>
    <!-- <dl class="float--left space--right">
      <dt>Class Type</dt>
      <dd class="caps">Pure Electric</dd>
    </dl> -->
    <dl class="float--left space--right">
      <dt>Status</dt>
      <dd class="caps">{{ 37 - books.length }} Bikes Available</dd>
    </dl>
  </div>


  <div class="result-container pad">

    <ul class="nav-tabs" id="class-tabs">
      <li>
        <a class="active" data-tab-toggle="booking">Booking</a>
      </li>
      <li>
        <a data-tab-toggle="waitlist">Waitlist</a>
      </li>
    </ul>

    <div class="booking tab-pane tab-pane--active" data-tab-pane="booking">

      <div class="booking-header space--bottom cf">
        <div class="stats">
          <span class="caps">{{ books.length }} Riders</span>
        </div>

        <div class="options">
          <button class="btn btn--small btn--primary" data-modal-toggle="book-ride" ng-click="bookRide()">
            Book A Ride
          </button>
          <button class="btn btn--small btn--tertiary" ng-click="downloadBookingList()">Export Booking List</button>
        </div>
      </div>

      <div class="booking-list grid">

        <div ng-repeat="book in books" class="grid__item bp-sm-one-half bp-lg-one-third">
          <div class="booking__item box--bordered box--white space--bottom cf">

            <div class=" box__header">
              <ul class="booking__actions nav">
                <li>
                  <a class="btn--round bike-number-switch" data-modal-toggle="switch" ng-click="switchBikeModal(book)">
                    <i class="fa fa-exchange"></i>
                    <span class="bike-number">{{ book.seat_number }}</span>
                  </a>
                </li>
                <li>
                  <a ng-click="cancelBooking(book, $index)" class="cancel-booking"><i class="fa fa-times"></i></a>
                </li>
              </ul>

              <h3 class="user--name">{{ book.user_id.first_name }} {{ bookt.user_id.last_name }}</h3>
            </div>

          </div>
        </div>
      </div>

    </div><!-- /.booking -->

    <div class="waitlist tab-pane" data-tab-pane="waitlist">

      <div class="waitlist-header space--bottom cf">
        <div class="stats">
          <span class="caps">{{ waitList.length || 0 }} Riders</span>
        </div>

        <div class="options">
          <button class="btn btn--small btn--primary" ng-click="addWaitlistModal()">Add New</button>
          <button class="btn btn--small btn--primary" ng-click="releaseWaitlist()">Release all Waitlist</button>
          <button class="btn btn--small btn--tertiary" ng-click="printWaitlist()">Print Waitlist</button>
        </div>
      </div>

      <div class="account-list grid">

        <div class="grid__item bp-sm-one-half bp-lg-one-third" ng-repeat="wait in waitList">  
          <div class="account__item box--bordered box--white space--bottom cf">

            <div class="pad">
              <b class="h--small">{{ wait.user_id.first_name }} {{ wait.user_id.last_name }}</b>
            </div>

            <div class="pad--sides">
              <div class="data-list">

                <dl class="data--inline">
                  <dt><i class="fa fa-phone"></i></dt>
                  <dd>{{ wait.user_id.phone_number }}</dd>
                </dl>

                <dl class="data--inline space--bottom">
                  <dt><i class="fa fa-envelope"></i></dt>
                  <dd class="inline space--bottom">{{ wait.user_id.email }}</dd>
                </dl>
              </div>

            </div>

            <div class="account__options pad--sides pad--half-ends space--top cf">
              <a class="user-move-class" ng-click="moveToClass(wait)">Move to Class</a>
              <a class="user-remove-waitlist space--left link--secondary float--right" ng-click="removeFromWaitlist(wait, $index)">Cancel</a>
            </div>

          </div>
        </div>
        
      </div>
    </div><!-- /.waitlist -->
  </div>

  <!-- modal Booking-->
  <div id="book-ride-modal" class="modal" data-modal="book-ride">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Book A Ride</h3>
      <div class="user-select cf">
        <div class="space--bottom one-whole bp-md-one-half float--left space--right pad--right">
          <span class="label">Rider</span>
          <select class="select" id="select-user-id" ng-change="selectRider()" ng-model="newBook.user_id">
            <option selected value="">Select Rider</option>
          </select>
        </div>
        <div class="space--bottom bp-md-one-third float--left">
          <span class="label">Bike Number</span>
          <select class="select" id="select-bike-number" ng-model="newBook.seat_number">
            <option selected value="">Select Bike no.</option>
          </select>
        </div>
      </div>
      <div class="user-class-details" ng-show="selectedRider">
        <span class="caps">{{ selectedRider.credits }} Classes Left</span>
      </div>
      <button type="button" ng-click="sendNewBook()" class="btn btn--medium btn--primary space--top modal-close">Book</button>

    </div>
  </div>

  <!-- modal add waitlist-->
  <div id="add-waitlist-modal" class="modal" data-modal="add-waitlist">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Waitlist A Rider</h3>
      <div class="user-select cf">
        <div class="space--bottom one-whole bp-md-one-half float--left space--right pad--right">
          <span class="label">Rider</span>
          <select class="select" id="select-waitlist-user" ng-change="selectWaitlistRider()" ng-model="newWaitlist.user_id">
            <option selected value="">Select Rider</option>
          </select>
        </div>
      </div>
      <div class="space--bottom one-whole float--left">
        <span class="label">Notes</span>
        <textarea class="text-input" cols="2" ng-model="newWaitlist.notes" placeholder="notes for waitlisting this rider"></textarea>
      </div>
      <div class="user-class-details" ng-show="selectedRider">
        <span class="caps">{{ selectedRider.credits }} Classes Left</span>
      </div>
      <button type="button" ng-click="addNewWaitlist()" class="btn btn--medium btn--primary space--top modal-close">Add</button>
    </div>
  </div>  

  <!-- move to class -->
  <div id="move-to-class-modal" class="modal" data-modal="move-to-class" >
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Move to class</h3>

      <div class="user-select space--bottom">
        <span class="label">Rider</span>
        <h4 class="h-small">{{ selectedWaitList.user_id.first_name }} {{ selectedWaitList.user_id.last_name }}</h4>
      </div>

       <div class="cf">   
        <select class="select space--bottom bp-md-one-third float--left" id="select-seat" ng-model="selectedWaitList.seat_number">
          <option value="">Select Seat</option>
        </select>    
      </div>

      <button class="btn btn--primary btn--medium space--top modal-close" ng-click="bookWaitList()">Move to Class</button>
    </div>
  </div>


  <!-- modal Switch Bike -->
  <div id="switch-bike-modal" class="modal" data-modal="switch" >
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Switch Bike</h3>

      <div class="user-select space--bottom">
        <span class="label">Rider</span>
        <h4 class="h-small">{{ selectedBook.user_id.first_name }} {{ selectedBook.user_id.last_name }}</h4>
      </div>

       <div class="cf">   
        <div class="space--bottom one-whole bp-md-one-half float--left space--right pad--right">
          <span class="label">Current Bike</span>
          <h4 class="h-small">{{ selectedBook.seat_number  }}</h4>
        </div>
        <div class="space--bottom bp-md-one-third float--left">
          <span class="label">Switch to</span>
          <select class="select"  id="switch-seat" ng-model="selectedBike">
            <option value="">Select Seat</option>
          </select>
        </div>    
      </div>

      <button class="btn btn--primary btn--medium space--top modal-close" ng-click="switchBike()">Switch</button>
    </div>
  </div>

</div>