<div ng-controller="InstructorCtrl">
    <div class="content-result pad">
      <div class="cf space--bottom">
        <span class="label inline">Instructors</span>
        <button ng-click="showAddInstructor()" class="btn btn--small btn--secondary float--right" data-modal-toggle="add-instructor">Add Instructor</button>
      </div>

    <div ng-show="isUpdateInstructor">
      <div class="modal__box pad">
        <h3 class="h--medium brand-color space--bottom">Add Instructor</h3>
        <div class="cf">
          <div class="space--bottom left space--right">
            <span class="label">Username</span>
            <input class="text-input" ng-model="updateInstructor.username">
          </div>
          <div class="space--bottom left space--right">
            <span class="label">First Name</span>
            <input class="text-input" ng-model="updateInstructor.first_name">
          </div>
          <div class="space--bottom left">
            <span class="label">Last Name</span>
            <input class="text-input" ng-model="updateInstructor.last_name">
          </div>
          <div class="space--bottom left space--right">
            <span class="label">BirthDate (YYYY-mm-dd)</span>
            <input class="datepicker text-input" ng-model="updateInstructor.birthdate">
          </div>
          <div class="space--bottom left" >
            <span class="label">Gender</span>
            <select class="text-input" ng-model="updateInstructor.gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="space--bottom left space--right">
            <span class="label">Email Address</span>
            <input class="text-input" ng-model="updateInstructor.email">
          </div>
          <div class="space--bottom left space--right">
            <span class="label">Contact Number</span>
            <input class="text-input" ng-model="updateInstructor.contact_number">
          </div>
          <div class="space--bottom left space--right">
            <span class="label">Motto</span>
            <textarea class="text-input" ng-model="updateInstructor.motto"></textarea>
          </div>
        </div>
        <button class="btn btn--medium btn--primary space--top" ng-click="setInstructor()">Update</button>
        <button class="btn btn--medium btn--primary space--top" ng-click="cancelUpdateInstructor()">Cancel</button>
      </div>
    </div>

    <div class="account-list grid" ng-show="!isUpdateInstructor">

      <div class="grid__item bp-md-one-half bp-lg-one-third"
           ng-repeat="instructor in instructors">
        <div class="account__item box--bordered box--white space--bottom cf">
          <div ng-show="!chkChangePic(instructor._id)" align="center" class="image" ng-click="changeInsPic(instructor)">
            <img ng-if="instructor.image" width="200" height="200" ng-src="{{ instructor.image }}">
            <img ng-if="!instructor.image" width="200" height="200" src="assets/images/pic-placeholder.png">
          </div>  
          <div class="pad" style="height: 203px;" ng-show="chkChangePic(instructor._id)">
            <input ng-show="!uploading" type="file" ng-file-select="uploadInsPic($files)" ng-model="inspic"/>
            <span ng-show="uploading">Uploading: {{ progress }}</span>
            <div class="account__options pad--sides pad--half-ends space--top cf">
              <a class="float--left" ng-click="cancelChangePic()" >Cancel</a>
            </div>
          </div>
          <hr/>
          <div class="pad">
            <b class="h--small">{{ instructor.admin.first_name }}</b>
          </div>
          <div class="pad--sides">
            <div class="data-list">

              <dl class="data--inline">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>{{ instructor.admin.contact_number }}</dd>
              </dl>

              <dl class="data--inline space--bottom">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd class="inline space--bottom">{{ instructor.admin.email }}</dd>
              </dl>

            </div>

          </div>

          <div class="account__options pad--sides pad--half-ends space--top cf">
            <a href="" class="float--left" ng-click="setToUpdate(instructor)" >Update</a>
            <a href="" class="float--right link--secondary" ng-click="removeInstructor(instructor)">Remove</a>
          </div>

        </div>
      </div>

    </div>
  </div>  

  <!-- modal Add Instructor -->
  <div id="add-instructor-modal" class="modal" data-modal="add-instructor">
    <div class="modal__box pad" style="max-width: 35%">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Instructor</h3>
      <div class="cf">
        <div class="space--bottom float--left space--right">
          <span class="label">Username</span>
          <input class="text-input" ng-model="newInstructor.username">
        </div>
        <div class="space--bottom float--left">
          <span class="label">Password</span>
          <input class="text-input" ng-model="newInstructor.password">
        </div>
        <div class="space--bottom float--left space--right">
          <span class="label">First Name</span>
          <input class="text-input" ng-model="newInstructor.first_name">
        </div>
        <div class="space--bottom float--left">
          <span class="label">Last Name</span>
          <input class="text-input" ng-model="newInstructor.last_name">
        </div>
        <div class="space--bottom float--left space--right">
          <span class="label">BirthDate</span>
          <input class="datepicker text-input" ng-model="newInstructor.birthdate">
        </div>
        <div class="space--bottom space--right float--left" >
          <span class="label">Gender</span>
          <select class="select text-input" ng-model="newInstructor.gender">
            <option value="male" selected="selected">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div class="space--bottom float--left space--right">
          <span class="label">Email Address</span>
          <input class="text-input" ng-model="newInstructor.email">
        </div>
        <div class="space--bottom float--left">
          <span class="label">Contact Number</span>
          <input class="text-input" ng-model="newInstructor.contact_number">
        </div>
        <div class="space--bottom float--left space--right">
          <span class="label">Motto</span>
          <textarea class="text-input" ng-model="newInstructor.motto"></textarea>
        </div>

        <div class="space--bottom float--left"><br/><br/>
          <input ng-show="!uploading" type="file" ng-file-select="uploadInsPic($files)" ng-model="inspic"/>
          <span ng-show="uploading">Uploading: {{ progress }}</span>
        </div>
        
      </div>
      <button class="btn btn--medium btn--primary space--top modal-close" ng-click="addInstructor()">Add</button>
    </div>
  </div>
</div>