<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin | Electric Studio</title>

    <link rel="stylesheet" href="/assets/css/admin.css">
  </head>

  <body>
    <div class="page-wrapper">
      <div class="page-sidebar">
        <div class="brand pad">
          <img src="/assets/images/electricstudio-nameplate.png" class="nameplate">
          <img src="/assets/images/electricstudio-logo.png" class="logo">
        </div>

        <ul class="main-nav nav nav--stacked">
          <li class="active">
            <a data-dropdown-toggle="dashboard-menu">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">Dashboard</span>
            </a>

            <ul class="nav nav--stacked sub-nav" data-dropdown="dashboard-menu">
              <li><a href="/analytics">Analytics</a></li>
              <li><a href="/packages">Packages</a></li>
              <li><a href="/sliders">Sliders</a></li>
            </ul>
          </li>
          <li>
            <a href="/classes">
              <i class="fa fa-th-list"></i>
              <span class="nav-label">Classes</span>
            </a>
          </li>
          <li>
            <a href="/accounts">
              <i class="fa fa-users"></i>
              <span class="nav-label">Accounts</span>
            </a>
          </li>
          <li>
            <a href="/schedules">
              <i class="fa fa-calendar"></i>
              <span class="nav-label">Schedules</span>
            </a>
          </li>
        </ul>

      </div>

      <div class="page-content">

        <div class="page-header pad">

          <button class="sidebar-toggle btn btn--small btn--primary">
            <i class="fa fa-bars"></i>
          </button>

        </div>

        <div class="main-content">

  <div class="grid content pad">

    <div class="grid__item">
    <div class="packages box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Packages</span>
        <button class="btn btn--small btn--primary float--right" data-modal-toggle="add-package">Add Package</button>
      </div>
      <div class="pad">

        <table class="data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Classes</th>
              <th>Price</th>
              <th>Expiration</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5 Pax</td>
              <td>5 Classes</td>
              <td><small>PHP</small> 3,200</td>
              <td>30 days</td>
              <td>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-trash"></i> Remove
                </button>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>10 Pax</td>
              <td>10 Classes</td>
              <td><small>PHP</small> 3,200</td>
              <td>30 days</td>
              <td>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-trash"></i> Remove
                </button>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>20 Pax</td>
              <td>20 Classes</td>
              <td><small>PHP</small> 3,200</td>
              <td>60 days</td>
              <td>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-trash"></i> Remove
                </button>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>

  </div>

  <!-- modal Add Slider -->
  <div class="modal" data-modal="add-package">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Package</h3>

      <div class="cf">
        <div class="space--bottom float--left space--right">
          <span class="label">Name</span>
          <input class="text-input">
        </div>

        <div class="space--bottom float--left space--right">
          <span class="label">Number of Classes</span>
          <input class="text-input">
        </div>

        <div class="space--bottom float--left">
          <span class="label">Price</span>
          <input class="text-input">
        </div>
      </div>

      <button class="btn btn--medium btn--primary space--top modal-close">Add</button>
    </div>
  </div>


        </div><!-- .main-content -->
      </div>
    </div>


    <link rel="stylesheet" href="/assets/vendor/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.date.css">

    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.date.js"></script>

    <script src="/assets/js/script.min.js"></script>
  </body>
</html>
