<div ng-controller="PackageCtrl">
  <div class="grid content pad">
    <div class="grid__item">
    <div class="packages box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Packages</span>
        <button ng-click="showAddPackage()" class="btn btn--small btn--primary float--right" data-modal-toggle="add-package">Add Package</button>
      </div>

        <div class="modal__box pad" ng-show="isUpdatePackage">
          <h3 class="h--medium brand-color space--bottom">Update Package</h3>
          <div class="cf">
            <div class="space--bottom float--left space--right">
              <span class="label">Name</span>
              <input class="text-input" ng-model="updatePackage.name">
            </div>
            <div class="space--bottom float--left space--right">
              <span class="label">Desc</span>
              <input class="text-input" ng-model="updatePackage.description">
            </div>
            <div class="space--bottom float--left space--right">
              <span class="label">Number of Rides</span>
              <input class="text-input" ng-model="updatePackage.credits">
            </div>
            <div class="space--bottom float--left">
              <span class="label">Price</span>
              <input class="text-input" ng-model="updatePackage.fee">
            </div>
            <div class="space--bottom float--left space--right">
              <span class="label">Expiration</span>
              <input class="text-input" value="30" ng-model="updatePackage.expiration"> Days
            </div>
          </div>
          <button class="btn btn--medium btn--primary space--top modal-close" ng-click="setPackage()">Update</button>
          <button class="btn btn--medium btn--primary space--top modal-close" ng-click="cancelUpdatePackage()">Cancel</button>
        </div>

      <div class="pad" ng-show="!isUpdatePackage">
        <table class="data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Rides</th>
              <th>Price</th>
              <th>Expiration</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="package in packages">
              <td>{{ package.name }}</td>
              <td>{{ package.credits }} Ride<span ng-if="package.credits > 1">s</span></td>
              <td><small>PHP</small> {{ package.fee }}</td>
              <td>{{ package.expiration }} days</td>
              <td>
                <button class="btn btn--small btn--secondary" ng-click="removePackage(package)">
                  <i class="fa fa-trash"></i> Remove
                </button>
                <button class="btn btn--small btn--secondary" ng-click="setToUpdate(package)" data-modal-toggle="update-package">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

  <!-- modal Add Slider -->
  <div id="add-package-modal" class="modal" data-modal="add-package">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Package</h3>
      <div class="cf">
        <div class="space--bottom float--left space--right">
          <span class="label">Name</span>
          <input class="text-input" ng-model="newPackage.name">
        </div>
        <div class="space--bottom float--left space--right">
          <span class="label">Desc</span>
          <input class="text-input" ng-model="newPackage.description">
        </div>
        <div class="space--bottom float--left space--right">
          <span class="label">Number of Rides</span>
          <input class="text-input" ng-model="newPackage.credits">
        </div>
        <div class="space--bottom float--left">
          <span class="label">Price</span>
          <input class="text-input" ng-model="newPackage.fee">
        </div>
        <div class="space--bottom float--left space--right">
          <span class="label">Expiration</span>
          <input class="text-input" value="30" ng-model="newPackage.expiration"> Days
        </div>
      </div>
      <button class="btn btn--medium btn--primary space--top modal-close" ng-click="addPackage()">Add</button>
    </div>
  </div>
</div>