<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin | Electric Studio</title>

    <link rel="stylesheet" href="/assets/css/admin.css">
  </head>

  <body>
    <div class="page-wrapper">
      <div class="page-sidebar">
        <div class="brand pad">
          <img src="/assets/images/electricstudio-nameplate.png" class="nameplate">
          <img src="/assets/images/electricstudio-logo.png" class="logo">
        </div>

        <ul class="main-nav nav nav--stacked">
          <li class="active">
            <a data-dropdown-toggle="dashboard-menu">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">Dashboard</span>
            </a>

            <ul class="nav nav--stacked sub-nav" data-dropdown="dashboard-menu">
              <li><a href="/analytics">Analytics</a></li>
              <li><a href="/packages">Packages</a></li>
              <li><a href="/instructors">Instructors</a></li>
              <li><a href="/sliders">Sliders</a></li>
            </ul>
          </li>
          <li>
            <a href="/classes">
              <i class="fa fa-th-list"></i>
              <span class="nav-label">Classes</span>
            </a>
          </li>
          <li>
            <a href="/accounts">
              <i class="fa fa-users"></i>
              <span class="nav-label">Accounts</span>
            </a>
          </li>
          <li>
            <a href="/schedules">
              <i class="fa fa-calendar"></i>
              <span class="nav-label">Schedules</span>
            </a>
          </li>
        </ul>

      </div>

      <div class="page-content">

        <div class="page-header pad">

          <button class="sidebar-toggle btn btn--small btn--primary">
            <i class="fa fa-bars"></i>
          </button>
          
          <div class="user">
            <div class="user__pic">
              <img src="/assets/images/pic-placeholder.png" alt="">
            </div>
            
            <span class="user__name">Mark S.</span>
            <a href="" class="user__logout"><i class="fa fa-sign-out"></i> Log Out</a>
          </div>

        </div>

        <div class="main-content">

   <div class="grid content pad">

    <div class="grid__item">
    <div class="sliders box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Schedules</span>
        <button class="btn btn--small btn--primary float--right" data-modal-toggle="add-schedule">Add Class Schedule</button>
      </div>

      <div class="calendar pad">

      </div>

    </div>
    </div>

  </div>

  <!-- modal View Schedule -->
  <div class="modal view-schedule" data-modal="view-schedule">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">8:30 AM &mdash; mon 2/23</h3>

     <div class="data-list cf pad--ends">
        <dl class="space--bottom space--right float--left">
          <dt class="label">Class Type</span>
          <dd>Pure Electric<dd>
        </dl>

        <dl class="space--bottom space--sides float--left">
          <dt class="label">Instructor</span>
          <dd>Marissa<dd>
        </dl>

        <dl class="space--bottom space--sides float--left">
          <dt class="label">Riders</span>
          <dd>28<dd>
        </dl>
      </div>

      <button class="btn btn--medium btn--primary space--top modal-close">Edit</button>
      <button class="btn btn--medium btn--tertiary space--top modal-close">Cancel Class</button>
    </div>
  </div>

  <!-- modal Add Schedule -->
  <div class="modal" data-modal="add-schedule">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">8:30 AM &mdash; mon 2/23</h3>

     <div class="data-list cf pad--ends">
       <dl class="space--bottom">
          <dt class="label">Date</span>
          <dd class="bp-md-one-half">
            <input class="text-input datepicker">
          <dd>
        </dl>

        <dl class="space--bottom">
          <dt class="label">Time</span>
          <dd class="bp-md-one-half">
            <input class="text-input">
          <dd>
        </dl>

        <dl class="space--bottom">
          <dt class="label">Class Type</span>
          <dd class="bp-md-one-half">
            <select class="select">
              <option value="marissa">Pure Electric</option>
              <option value="abel">Power Hour</option>
              <option value="mc">Electric Endurance</option>
            </select>
          <dd>
        </dl>

        <dl class="space--bottom">
          <dt class="label">Instructor</span>
          <dd class="bp-md-one-half">
            <select class="select">
              <option value="marissa">Marissa</option>
              <option value="abel">Abel</option>
              <option value="mc">MC</option>
            </select>
          <dd>
        </dl>

      </div>

      <button class="btn btn--medium btn--primary space--top modal-close">Edit</button>
      <button class="btn btn--medium btn--tertiary space--top modal-close">Cancel Class</button>
    </div>
  </div>




        </div><!-- .main-content -->
      </div>
    </div>


    <link rel="stylesheet" href="/assets/vendor/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.date.css">
    <link rel="stylesheet" href="/assets/vendor/fullcalendar/dist/fullcalendar.min.css">

    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.date.js"></script>
    <script src="/assets/vendor/moment/moment.js"></script>
    <script src="/assets/vendor/fullcalendar/dist/fullcalendar.min.js"></script>

    <script src="/assets/js/script.js"></script>
  </body>
</html>
