<div ng-controller="SliderCtrl">
   <div class="grid content pad">
    <div class="grid__item">
    <div class="sliders box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Homepage Slider</span>
        <button ng-click="addSlide()" class="btn btn--small btn--primary float--right" data-modal-toggle="add-slide">Add Slide</button>
      </div>
      <div class="pad pad--off-top">
        <table class="slider-list data-table">
          <thead>
            <tr>
              <th>Background Image</th>
              <th>Text</th>
              <th class="options-cell">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="slider in sliders">
              <td>
                <div align="center" class="image" ng-click="changeSliderImg(slider)">
                  <img width="200" height="200" ng-src="{{ slider.image }}">
                </div>  
              </td>
              <td>
                <div class="pad" style="height: 203px;" ng-show="chkChangeImg(slider._id)">
                  Text : <input class="text-input" ng-model="updateSliderImg.text"/><br/><br/>
                  <input ng-show="!uploading" type="file" ng-file-select="uploadSlider($files)"/>
                  <span ng-show="uploading">Uploading: {{ progress }}</span>
                  <div class="account__options pad--sides pad--half-ends space--top cf">
                    <a class="float--left" ng-click="updateSlider()" >Update</a>
                    <a class="float--right" ng-click="cancelChangeImg()" >Cancel</a>
                  </div>
                </div>
                <span ng-if="!updateSliderImg">{{ slider.text }}</span>
              </td>
              <td>
                <button class="btn btn--small btn--secondary" ng-click="removeSlider(slider)">
                  <i class="fa fa-pencil"></i> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

  <!-- modal Add Slider -->
  <div id="add-slide-modal" class="modal" data-modal="add-slide">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Slide</h3>
      <div class="space--bottom">
        <span class="label">Background Image</span>
        <input type="file" ng-file-select="uploadSlider($files)" >
      </div>
      <div class="space--bottom">
        <span class="label">Text</span>
        <input placeholder="Add Text" class="text-input" ng-model="newSlider.text">
      </div>
      <button class="btn btn--medium btn--primary space--top modal-close" ng-click="saveSlider()">Add</button>
    </div>
  </div>
</div>