<div ng-controller="TransactionsCtrl">

  <div class="grid content pad">
    <div class="grid__item">
    <div class="packages box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Transactions</span>
        <!-- <button ng-click="showAddPackage()" class="btn btn--small btn--primary float--right" data-modal-toggle="add-package">Add Package</button> -->
      </div>

      <div class="class-search pad cf">
        <span class="label">Search</span>
        <div class="bp-md-one-third float--left space--bottom space--left space--right">
          <input class="text-input" ng-model="searchTrans" placeholder="Enter Name, Email or Transaction">
        </div>
        <div class="float--left">
          <select class="select" id="search-trans-package" ng-model="searchPac">
            <option value="">Select Package</option>
          </select>
        </div>
        <div class="float--right">
          <!--
          <button class="btn btn--small btn--primary" ng-csv="transExportData.data().data" csv-header="transExportData.data().header" filename="{{transExportData.filename}}.csv">Export</button>
          -->

          <button class="btn btn--small btn--primary" ng-click="exportTrans()">Export</button>
        </div>
      </div>

      <div class="pad">
        <span class="label">Filter Date</span>
        <div class="bp-md-one-fourth float--left space--left space--right">
            <input value="" class="datepicker text-input" placeholder="From" ng-model="filterDateFrom">
        </div>
        <div class="float--left space--right">
          <span><b>-</b></span>
        </div>
        <div class="bp-md-one-fourth float--left space--right">
            <input value="" class="datepicker text-input" placeholder="To" ng-model="filterDateTo">
        </div>
      </div>

      <div class="pad" ng-show="!isUpdatePackage">
        <table class="data-table" id="trans">
          <thead>
            <tr>
              <th>Transaction</th>
              <th>Name</th>
              <th>Email</th>
              <th>Package Name</th>
              <th>Total</th>
              <th>Left</th>
              <th>Price</th>
              <th>Payment Method</th>
              <th>Date</th>
              <!-- <th>&nbsp;</th> -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in filteredTransData = (transactions | dateRangeFilter: filterDateFrom : filterDateTo : 'create_at' | search:'trans_info.transaction,user_id.first_name+ +user_id.last_name,user_id.email':searchTrans | search:'package_id._id':searchPac)">
              <td>{{ getTransId(transaction) }}</td>
              <td>{{ transaction.user_id.first_name }} {{ transaction.user_id.last_name }}</td>
              <td>{{ transaction.user_id.email }} </td>
              <td>
                <span ng-if="transaction.package_name && transaction.is_free">Free - </span>
                {{ transaction.package_name || 'Free' }}
              </td>
              <td>{{ transaction.credit_count }} Ride<span ng-if="transaction.credit_count > 1">s<span></td>
              <td>{{ transaction.remaining_credits }} Ride<span ng-if="transaction.remaining_credits > 1">s</span></td>
              <td>
                <small>PHP</small>
                <span ng-if="transaction.is_free">0.00</span> 
                <span ng-if="!transaction.is_free">{{ transaction.package_fee }}</span>
              </td>
              <td>{{ transaction.payment_method || '---' }}</td>
              <td>{{ transaction.create_at }}</td>
              <!-- <td>
                <button class="btn btn--small btn--secondary" ng-click="removePackage(package)">
                  <i class="fa fa-trash"></i> Remove
                </button>
                <button class="btn btn--small btn--secondary" ng-click="setToUpdate(package)" data-modal-toggle="update-package">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td> -->
          </tbody>
        </table>

      </div>
      <ul class="pagination-nav nav nav--block text--center">
        <li><a ng-click="prevPage($event)"><i class="fa fa-angle-left"></i> Prev</a></li>
        <li><a ng-click="nextPage($event)">Next <i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
    </div>
  </div>
</div>