<div ng-controller="UserCtrl">
  <div class="grid content pad">
    <div class="grid__item">
    <div class="packages box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Users</span>
        <button ng-click="showAddUser()" class="btn btn--small btn--primary float--right" data-modal-toggle="add-user">Add User</button>
      </div>

    <div ng-show="isUpdateUser">
      <div class="modal__box pad">
        <h3 class="h--medium brand-color space--bottom">Update User</h3>
        <div class="cf">
          <div class="space--bottom left space--right">
            <span class="label">Username</span>
            <input class="text-input" ng-model="updateUser.username">
          </div>
          <div class="space--bottom left space--right">
            <span class="label">First Name</span>
            <input class="text-input" ng-model="updateUser.first_name">
          </div>
          <div class="space--bottom left">
            <span class="label">Last Name</span>
            <input class="text-input" ng-model="updateUser.last_name">
          </div>

          <div class="space--bottom left" >
            <span class="label">Access Type</span>
            <select class="text-input" ng-model="updateUser.admin_type">
              <option value="Staff">Staff</option>
              <option value="Manager" >Manager</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
          <div class="space--bottom left space--right">
            <span class="label">Email Address</span>
            <input class="text-input" ng-model="updateUser.email">
          </div>
          <div class="space--bottom left space--right">
            <span class="label">Contact Number</span>
            <input class="text-input" ng-model="updateUser.contact_number">
          </div>
        </div>
        <button class="btn btn--medium btn--primary space--top" ng-click="setUser()">Update</button>
        <button class="btn btn--medium btn--primary space--top" ng-click="cancelUpdateUser()">Cancel</button>
      </div>
    </div>

      <div class="pad" ng-show="!isUpdateUser">
        <table class="data-table">
          <thead>
            <tr>
              <th>Name</th>
              <td>Username</td>
              <th>Email</th>
              <th>Access Level</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{ user.first_name }} {{ user.last_name}}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.admin_type }}</td>
              <td>
                <button class="btn btn--small btn--secondary" ng-click="removeUser(user)">
                  <i class="fa fa-trash"></i> Remove
                </button>
                <button class="btn btn--small btn--secondary" ng-click="setToUpdate(user)" data-modal-toggle="update-user">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

  <!-- modal Add Slider -->
  <div id="add-user-modal" class="modal" data-modal="add-user">
    <div class="modal__box pad">
      <span id="close-add-user" class="close-btn modal-close">X</span>
      <h3 class="h medium gray">Add User</h3>
      <div class="one-whole float--left space--bottom">
        <span class="label">Username</span>
        <input ng-model="newUser.username" class="text-input">
      </div>     
      <div class="float--left space--bottom">
        <span class="label">First Name</span>
        <input ng-model="newUser.first_name" class="text-input">
      </div>
      <div class="float--right space--bottom">
        <span class="label">Last Name</span>
        <input ng-model="newUser.last_name" class="text-input">
      </div>
      <div class="one-whole float--left space--bottom">
        <span class="label">Email</span>
        <input ng-model="newUser.email" class="text-input">
      </div>
      <div class="float--left space--bottom">
        <span class="label">Password</span>
        <input type="password" ng-model="newUser.password" class="text-input">
      </div>
      <div class="float--right space--bottom">
        <span class="label">Confirm Password</span>
        <input type="password" ng-model="newUser.confirm_password" class="text-input">
      </div>
      <div class="one-whole float--left space--bottom">
        <span class="label">Access Level</span>
          <select class="select" ng-model="newUser.access_type"> 
            <option value="Staff">Staff</option>
            <option value="Manager">Manager</option>
            <option value="Admin">Admin</option>
          </select>
      </div>
      <div class="one-whole float--left space--bottom">
      <button ng-disabled="savingUser" type="button" ng-click="addUser()" class="btn btn--primary btn--medium float--right space--top">Add</button>
    </div>
  </div>

  <div class="modal" data-modal="security-check" id="security-check-modal">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Security Check</h3>
      
      <ul class="form-fields">
        <li>
          <span class="label">Password</span>
          <input ng-model="securityPass" type="password" class="text-input">
        </li>
      </ul>
     
      <button type="button" id="btn-security" class="btn btn--primary btn--medium space--top modal-close">Confirm</button>

    </div>
  </div>
</div>