.page-content {
  overflow: hidden;
  width: auto;
}

.page-content__main {
  position: relative;
  background-color: $brand-color-quaternary;
  
  /**
   * A faux full-width-height approach
   */
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300%;
    height: 1000%;
    background-color: $brand-color-quaternary;
    z-index: -1;
  }
  
}

.content-filter {

  .content-filter__select {
    min-width: 200px;
  }

}

.select {
  max-width: 200px;
}

.content-info__set {
  
  .info {
    @include font-size($h4-size);
  }
  
  @include breakpoint(md) {
    float: left;
    margin-right: $base-spacing-unit;
  }
  
  @include breakpoint(lg) {
    margin-right: $base-spacing-unit * 3;
  }
}


.user-list__item {
  background-color: #fff;
  border: 1px solid $border-color;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  
  .user-list__name {
    display: block;
    font-size: 18px;
    text-transform: none!important;
    font-weight: bold;
    line-height: 60px;
    
    @include truncate(100%);
  }
  
  .user-list__options {
    margin-right: -$base-spacing-unit;
    line-height: 60px;
    
    li {
      float: left;
      display: block;
      vertical-align: middle;
      line-height: normal;
    }
    
    a {
      display: block;
      padding: 0 $base-spacing-unit;
      color: $brand-color-tertiary;
      line-height: 60px;
      font-size: 20px;
      
      &.option-btn--round {
        padding: 0 !important;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        margin: 10px 0;
        background-color: $brand-color-tertiary;
        color: #fff;
        overflow: hidden;
        
        &.option-btn--bike-switch:before {
          content: '\f0ec';
          font-family: FontAwesome;
          display: none;
          width: 100%;
          height: 100%;
        }
        
        &:hover {
          background-color: $brand-color-primary;
          color: #fff;
          
          &:before {
            display: block;
          }
        }
      }
      
      &:hover {
        color: $brand-color-secondary;
      }
    }
  }
  
  .user-list__info {
    overflow: hidden;
    //max-height: 0;
    //padding: 0;
    @include vendor(transition, all 0.3s ease);
    
    &.show {
      max-height: 1000px;
      padding: $base-spacing-unit 0;
    }
  }
  
  &:hover {
    .user-list__name {
      color: $brand-color-primary;
    }
  }
  
  &.drag--on-move {
    position: relative;
    box-shadow: 0 0 0 5px rgba($brand-color-secondary, .8);
    z-index: 15;
    margin-left: 40px;
    margin-right: 40px;
    
    .user-list__options {
      display: none;
    }
  }
  
  &.draggable {
    @include vendor(transition, #{box-shadow 0.3s ease, height 0.3s ease});
    cursor: move;
    
  }
  
  &.drag--enter {
    box-shadow: 0 0 0 5px rgba($brand-color-primary, .8);
  }
  
  &.drag--on-drop {
    opacity: 0;
    height: 0;
    margin: 0!important;
    overflow: hidden;
  }
}


.page-content__side {
  position: relative;
}


.drop-box__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include vendor(box-shadow, 0 0 6px rgba(0,0,0,0.4));
  z-index: 12;
  
  @include breakpoint(md) {
    position: absolute;
    margin: $base-spacing-unit;
    box-shadow: none;
    top: 0;
    @include vendor(transition, top 0.4s ease);
    min-height: 450px;
  }
}

.drop-box__heading {
  display: none;
  
  @include breakpoint(md) {
    display: block;
  }
}

.drop-box__wrapper {
  position: relative;
}

.drop-box {
  height: 60px;
  line-height: 60px;
  width: 50%;
  float: left;
  text-align: center;
  background-color: $brand-color-secondary;
  color: #fff;
  

  .drop-box__label { 
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-indent: 200%;
    text-transform: uppercase;
    font-weight: 600;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 80px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-family: FontAwesome;
      @include font-size($h1-size);
      line-height: inherit;
      text-indent: 0;
    }
    
    @include breakpoint(sm) {
      text-indent: 0;
      padding-left: 50px;
      display: inline;
      
      &:before {
        top: auto;
        bottom: auto;
        right: auto;
        width: auto;
      }
    }
    
    @include breakpoint(md) {
      display: inline-block;
      vertical-align: middle;
      width: 80%;
      height: auto;
      line-height: normal;
      text-align: left;
      font-size: 20px;
      
      &:before {
        top: 0;
        bottom: 0;
        height: 40px;
        font-size: 40px;
      }
    }
  }
  
  &.drop-box--primary {
    .drop-box__label:before {
      content: '\f090';
    }
  }
  
  &.drop-box--secondary {
    .drop-box__label:before {
      content: '\f1f8';
    }
  }
  
  &.drop--enter {
    background-color: $brand-color-primary;
  }
  
  
  @include breakpoint(md) {
    width: 100%;
    height: 140px;
    line-height: normal;
    margin: $base-spacing-unit 0; 
    padding: 0;
    color: $brand-color-tertiary;
    background: none;
    border: 3px dashed $brand-color-tertiary;
    
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    
    &.drop--enter {
      background: none;
      border-color: $brand-color-primary;
      color:  $brand-color-primary;
    }
  }
  
}

.account-summary-table {
  border: 1;
  width: 100%; 
  
  td, th {
    padding: 10px 5px;
    border: 1px solid $brand-color-tertiary;
  }
}

.package__actions {
  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: $brand-color-secondary;
    color: #fff;
    margin: 0 5px;
    
    &:hover {
      background-color: $brand-color-primary;
    }
    
    &.action--primary {
      background-color: $brand-color-primary;
    }
  }
}


.slider__item {
  img {
    max-height: 160px;
    max-width: 100%;
  }
  
  .options { 
    overflow: auto;
    clear: both;
  }
}