/**
 * These are all design base components
 */

::selection {
  background: lighten($brand-color-primary, 10%);
  color: #fff;
}

::-moz-selection {
  background: lighten($brand-color-primary, 10%);
  color: #fff;
}


html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background: $brand-color-quaternary;
}

a {
  @extend .brand-link;
  cursor: pointer;
  text-transform: none;

  &:hover {
    color: darken($brand-color-primary, 10%);
  }

  &:focus {
    outline: 0;
  }

  &.link--full {
    display: block;
  }

  &.small {
    font-size: 80%;
  }

  &.link--secondary {
    color: $color-text-light;
    &:hover {
      color: $color-text;
    }
  }
}

.alert-modal {
  .close-btn {
    top: -3px;
  }
  div{
    p{
      text-align:center;
    }
  }
}

.cal-tooltip {
  @extend .text-color-light;
  text-transform: uppercase;
  padding: 4px;
  background: #fff;
  position: absolute;
  z-index: 10001;
}

select, .select {
  max-width: 200px;
}

.label, label {
  font-size: 0.86em;
  @extend .text-color-light;
  text-transform: uppercase;
  margin-bottom: $base-spacing-unit / 2;

  &.label--inline {
    display: inline;
    margin-bottom: 0;
    margin-right: $base-spacing-unit / 2;
  }
}

.inline {
  display: inline!important;
}

.hidden {
  display: none;
}

@include headings() {
  text-transform: uppercase;
}

.h--large.space--ends {
  margin-bottom: $base-spacing-unit * 2 !important;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: $base-spacing-unit;

  @include breakpoint(lg) {
    max-width: 1300px;
  }

  @extend .cf;
}


.text-color-light {
  color: rgba($color-text, .70);
}

.ellipsis{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}
