.gc-buy {
  overflow: visible!important;

  .wrapper {
    overflow: visible!important;
  }
}

.gc-card {
  background: #333;
  padding: 30px;
  border-radius: 1.5em;
  color: #fff;
  margin-right: 0;

  @include breakpoint(lg) {
    margin-right: 40px;
  }

  .nameplate {
    max-height: 52px;
  }

  .text-input {
    font-family: 'Brandon_Grotesque', sans-serif;
    font-size: 18px;
  }

  .gc-card__select {

    &.selectize-control {
      height: 86px!important;
    }

    .selectize-input {
      font-size: 60px!important;
      line-height: 86px!important;
      height: 86px!important;
      font-family: 'Tungsten', sans-serif;

      &:after {
        font-size: 16px;
        background: none;
        color: $color-text;
      }
    }

    .selectize-dropdown {
      min-width: 120px!important;
    }

  }

}



.gc-form {

  .text-input {
    font-family: 'Brandon_Grotesque', sans-serif;
    font-size: 18px;
    border: 1px solid rgba(#999, 0.6);
    box-shadow: none;
  }

  @include breakpoint(md) {
    padding-left: 80px;
  }

}


.gc-redeem {
  .text-input {
    font-family: 'Brandon_Grotesque', sans-serif;
    font-size: 18px;
  }
}
