.secondary-nav {
	display: none;

	@include breakpoint(md) {
		display: block;
		position: absolute;		
		left: 0;
		width: 100%;
		width: 100vw;
		background-color: #eee;
		z-index: 0;
		margin-top: -10px;
		transition: all .3s ease;		

		top: 100%;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
	}
}

.secondary-nav-list {
	display: block;
	font-size: 0;

	li {
		display: inline-block;
		width: 24%;
		font-size: 1rem;
		padding: 15px 0;
	}

	a {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		transition: all .3s ease;
		@include link-colors($brand-color-secondary !important,$brand-color-primary !important);

		&.active {
			@include link-colors($brand-color-primary !important);
		}
	}
}


// Hover states
// ------------------------------------------------------------

.nav-item-schedule:hover .secondary-nav {
	@include breakpoint(md) {
		margin-top: 0px;
		visibility: visible;
		pointer-events: auto;
		opacity: 1;
	}
}