<div class="page about">
  <div id="aboutus-section" class="content about-section-1">
    <div class="wrapper">
      <p class="intro">We are the first indoor cycling boutique in the Philippines offering a full-body fitness experience. Founded by an innovative team of fitness professionals set on revolutionizing the fitness culture, our rides are the ultimate sweat session - an energizing workout to challenge you physically and strengthen you mentally.</p>
    </div>
    <div class="image-banner"></div>
  </div>

  <section class="content about-section-2">
    <div class="wrapper">
      <div class="section-content-1">
        <h2 class="h h-1">Turn It Up</h2>
        <p>The Electric Experience is a full body workout focused on optimal movements, music and motivation. We use choreography to strengthen the core and use weights to tone the upper body. We believe fitness switches everything on - your body, your mind and how you live your life.</p>
      </div>
      <div class="section-content-2">
        <div class="image-banner"></div>
        <h2 class="h h-2">Move as a Pack</h2>
        <p>We ride in chorus, leaving no one behind. We are a community surrounded by high energy beats, support and positivity. We believe we are great on our own but stronger together.</p>
      </div>
    </div>
  </section>

  <section class="content about-section-3">
    <div class="image-banner"></div>
    <div class="wrapper">
      <h2 class="h">Strive for Super</h2>
      <p>Our inspirational instructors and candlelit experience allow our riders to clear their minds and strengthen their spirit. Each class motivates riders to find their power and push beyond their comfort zones. we believe positive change is contagious - what good you do for yourself, you do for others.</p>
    </div>
  </section>

  <!-- <div class="book-cta">
    <a class="button small center primary"  href="#/schedule">Book A Ride</a>
  </div> -->
</div>
