<div class="sidebar dark">
  <h3 class="h lightGray">My Classes</h3>
  <div>
    <a href="#/reserved" class="link white basic">Reservation</a>
    <a href="#/history" class="link white basic">History</a> 
    <a href="#/account" class="link white basic">My Account</a> 
  </div>
  <h3 class="h">My Account</h3>
  <div>
    <a href="#/account" class="link white basic">Personal Info</a>
    <!-- <a href="#/account#billing" class="link white basic">Billing</a><br> -->
    <a href="#/account#packages" class="link white basic">Packages</a>
    <!-- <a href="#/rewards" class="link white basic">Rewards</a> -->
  </div>
  <h3 ng-show="loginUser" class="h">Referral</h3>
  <p ng-show="loginUser">
    Points: {{ loginUser.referral_points }}<br>
    Link: <input type="text" value="{{ hostUrl }}/?ref={{ loginUser._id }}#/#signup">

  </p>

  <a class="link" ng-click="logout()">Sign Out</a>
</div>