
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large primary">Your Account Info</h2>
        <section>
          <h3 class="h medium">Personal Info</h3>
          <div class="col-2">
            <input class="input" placeholder="First Name" value="John">
            <input class="input" placeholder="Last Name" value="Doe">
            <input class="input" placeholder="Email Address" value="john@gmail.com">
            <input class="input" placeholder="Mobile Number" value="09197362863">
          </div>  
          <h4 class="h small">Birthday</h4>
          <div class="select">
            <label>Month</label>
            <select>
              <option>02</option>
            </select>
          </div>
          <div class="select">
            <label>Day</label>
            <select>
              <option>24</option>
            </select>
          </div>
          <div class="select">
            <label>Year</label>
            <select>
              <option>1988</option>
            </select>
          </div>
        </section> 
        <section>
          <h3 class="h medium">Change Password</h3>
          <input class="input" placeholder="Password">
          <input class="input" placeholder="Retype Password">
        </section>
        <section>
          <h3 class="h medium">Emergency Contact</h3>
          <input class="input" placeholder="Full Name" value="Jeph Fernandez">
          <input class="input" placeholder="Contact Number" value="09178832293">
        </section>
        <section>
          <h3 class="h medium">Billing</h3>
          <input class="input" placeholder="Full Name" value="John Doe">
          <input class="input" placeholder="Email Address" value="john@gmail.com">
          <a class="button small pads primary">Log on to Paypal</a>
        </section>
        
      </div>
      
      <div class="sidebar light">
        <h2 class="h small">My Classes</h2>
        <p>
          <a href="#/reserved" class="link basic">Reserved</a><br>
          <a href="#/history" class="link basic">History</a>
        </p>
        <h2 class="h small">My Packages</h2>
        <h2 class="h small">My Account</h2>
        <p>
          <a href="#/account" class="link basic">Personal Info</a><br> 
          <a href="#/billing" class="link basic">Billing</a>
        </p>
        <h2 class="h small">My Rewards</h2>
        <a class="link" href="#/logout">Sign Out</a>
      </div>
    </div>
  </div>