  <div ng-if="isFrozen" class="content">
    <div class="wrapper">
      <h3 class="h--medium brand-color space--bottom">Your Account has been frozen due to:</h3>
      <p class="intro">{{ loginUser.remarks }}</p>
    </div>
  </div>

  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      <div ng-controller="SignUpCtrl" ng-show="isVerified">
          <h2 class="h large">Please check your email for confirmation</h2>
          <a class="button large pads primary" ng-click="sendEmailConfirmation(user)">Resend Email Confirmation</a>
      </div>
      <div class="main" ng-controller="AccountCtrl">
        <h2 class="h large">Your Account Info</h2>
        <section>
          <h3 class="h medium gray">Personal Info</h3>
          <div class="col-2">
            <input class="input" placeholder="First Name" ng-model="account.first_name">
            <input class="input" placeholder="Last Name" ng-model="account.last_name">
            <input class="input" placeholder="Email Address" ng-model="account.email">
            <input class="input" placeholder="Mobile Number" ng-model="account.phone_number">
            <input class="input" placeholder="Address" ng-model="account.address">
          </div>

          <h4 class="h small">Birthday</h4>
          <input class="input datepicker" placeholder="yyyy-mm-dd" ng-model="account.birthdate">
        </section>
        <section>
            <h4 class="h small">Emergency Contact</h4>
            <input class="input" placeholder="Contact Full Name" ng-model="account.contact_person">
            <input class="input" placeholder="Contact Number" ng-model="account.emergency_contact">
        </section>
        <a class="button small pads primary" ng-click="updateAccount()" >Save</a> 
        <section>
          <h3 class="h medium gray">Change Password</h3>
          <input class="input" type="password" ng-model="pass.current_password" placeholder="Current Password">
          <input class="input" type="password" ng-model="pass.password" placeholder="New Password (min. 6 character)">
          <input class="input" type="password" ng-model="pass.confirm_password" placeholder="Retype New Password">
          <a class="button small pads primary" ng-click="changePassword()">Update Password</a> 
        </section>
        
        <section id="billing">
          <h3 class="h medium gray">Billing</h3>
          <div class="col-2">
            <input class="input" ng-model="billing.first_name" placeholder="First Name" >
            <input class="input" ng-model="billing.last_name" placeholder="Last Name" >
            <input class="input" ng-model="billing.address" placeholder="Address" >
            <input class="input" ng-model="billing.city" placeholder="City" >
            <input class="input" ng-model="billing.province" placeholder="State / Province / Region" >
            <input class="input" ng-model="billing.postalcode" placeholder="Postal Code" >
            <input class="input" ng-model="billing.email" placeholder="Email" >
          </div>
          <h4 class="h small">Credit/Debit Card</h4>
          <input class="input" ng-model="billing.card_number" placeholder="Card Number" >
          Payment Type: <select class="select" ng-model="billing.card_type">
            <option value="visa">VISA</option>
            <option vaule="mastercard">Mastercard</option>
          </select>
          <input class="input" ng-model="billing.card_expiration" placeholder="Expiration date (MM/YY)" >
          <input class="input" type="password" ng-model="billing.csc" placeholder="CSC" >
          <a class="button small pads primary" ng-click="updateBilling()">Save Billing Info</a> 
        </section>
        
        <section id="packages">
          <h3 class="h medium gray">Packages</h3>
          <div class="grid">
            <div ng-repeat="trans in transactions" class="grid__item bp-md-one-half bp-lg-one-third">
              <div class="account__item box--bordered box--white space--bottom cf">
                <div class="pad">
                  <b ng-if="trans.package_name" class="h--small">{{ trans.package_name }}</b>
                  <b ng-if="!trans.package_name" class="h--small">FREE</b>
                  <br/><br/>
                  <span class="h small ">{{ trans.remaining_credits }} Class<span ng-if="trans.remaining_credits > 1">es</span> Left</span>
                  <br/><span class="h small ">Expires on {{ trans.create_at | addDay:trans.expiration | formatDate }}</span>
                  <span ng-if="trans.notes"><br/><span class="label inline">Notes:</span> {{ trans.notes }}</span>
                </div>
              </div>
            </div>
          </div>
          <a href="#/rates" class="button small pads primary">Buy Package</a>
        </section>
        
      </div>
      
      <div ng-include="'/site/account-nav'"></div>
    </div>
  </div>