<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <title>Home - Electric Studio</title>
  
  <link rel="stylesheet" href="assets/css/site.css">

</head>
<body>
  <header class="main-header">
    <div class="wrapper">
      <h1 class="brand">
        <a href="/">
        <img src="/assets/images/electricstudio-nameplate.png" alt="Electric Studio Logo" class="nameplate">
        </a>
        <img src="/assets/images/electricstudio-logo.png" class="logo">
      </h1>
      
      <ul class="main-menu">
        <li>
          <a href="/about">About Us</a>
        </li>  
        <li>
          <a href="/instructors">Instructors</a>
        </li>  
        <li>
          <a href="/whats-new">What's New</a>
        </li>
      </ul>
      
      <div class="account-header-menu">
        <div class="options">
          <a class="login-toggle">Login /</a> 
          <a class="signup-toggle">Sign up</a>
          <a class="account" href="/account"></a>
        </div>
        <div class="menu-list">
          <div class="holder">
            <a href="/reserved">My Classes</a>
            <a href="/rates-and-packages">My Packages</a>
            <a href="/account">My Account</a>
            <a href="/logout">Sign Out</a>
          </div>  
        </div>
      </div>  
        
      <div class="book-menu">
        <a class="book-toggle">Book A Ride</a>
        
        <div class="menu-list">
          <div class="holder">
            <a href="/workouts">The Workouts</a>
            <a href="/rates-and-packages">Rates &amp; Packages</a>
            <a href="/schedule">Schedule</a>
          </div>  
        </div>  
      </div>
        
      
      <a class="menu-toggle"><i class="fa fa-bars"></i></a>
      
    </div>  
  </header>
  
  <div class="header-form-container login">
    <div class="wrapper">
      <h2 class="h large light">Log In</h2>
      <p class="notify">Your Username / Email Address do not match. Please re-enter your informatin to Log In.</p>
      <form class="login-form" method="post">
        <input class="input-box" placeholder="Username / Email Address" name="email" required>
        <input type="password" class="input-box" placeholder="Password" name="password" required>

        <input type="submit" value="Log In" class="button" name="login">
      </form>
    </div>  
  </div>
  
  <div class="header-form-container signup">
    <div class="wrapper">
      <h2 class="h large light">Sign Up</h2>
      <p class="notify">Your Username / Email Address do not match. Please re-enter your informatin to Log In.</p>
      <form class="signup-form" method="post">
        <input class="input-box" placeholder="First Name" name="firstname">
        <input class="input-box" placeholder="Last Name" name="lastname">
        <input class="input-box" placeholder="Email Address" name="email">
        <input class="input-box" placeholder="Mobile Number" name="number">
        <input type="password" class="input-box" placeholder="Password" name="password">
        <input type="password" class="input-box" placeholder="Re-type Password" name="password2">

        <input type="submit" value="Sign Up" class="button" name="signup">
      </form>
    </div>
  </div>
  
  <!-- page content starts here -->
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large primary">Your Account Info</h2>
        <section>
          <h3 class="h medium">Personal Info</h3>
          <div class="col-2">
            <input class="input" placeholder="First Name" value="John">
            <input class="input" placeholder="Last Name" value="Doe">
            <input class="input" placeholder="Email Address" value="john@gmail.com">
            <input class="input" placeholder="Mobile Number" value="09197362863">
          </div>  
          <h4 class="h small">Birthday</h4>
          <div class="select">
            <label>Month</label>
            <select>
              <option>02</option>
            </select>
          </div>
          <div class="select">
            <label>Day</label>
            <select>
              <option>24</option>
            </select>
          </div>
          <div class="select">
            <label>Year</label>
            <select>
              <option>1988</option>
            </select>
          </div>
        </section> 
        <section>
          <h3 class="h medium">Change Password</h3>
          <input class="input" placeholder="Password">
          <input class="input" placeholder="Retype Password">
        </section>
        <section>
          <h3 class="h medium">Emergency Contact</h3>
          <input class="input" placeholder="Full Name" value="Jeph Fernandez">
          <input class="input" placeholder="Contact Number" value="09178832293">
        </section>
        <section>
          <h3 class="h medium">Billing</h3>
          <input class="input" placeholder="Full Name" value="John Doe">
          <input class="input" placeholder="Email Address" value="john@gmail.com">
          <a class="button small pads primary">Log on to Paypal</a>
        </section>
        
      </div>
      
      <div class="sidebar light">
        <h2 class="h small">My Classes</h2>
        <p>
          <a href="/reserved" class="link basic">Reserved</a><br>
          <a href="/history" class="link basic">History</a>
        </p>
        <h2 class="h small">My Packages</h2>
        <h2 class="h small">My Account</h2>
        <p>
          <a href="/account" class="link basic">Personal Info</a><br> 
          <a href="/billing" class="link basic">Billing</a>
        </p>
        <h2 class="h small">My Rewards</h2>
        <a class="link" href="/logout">Sign Out</a>
      </div>
    </div>
  </div>
  <!-- page content ends here -->

  <footer class="main-footer">
    <div class="wrapper">
      <ul class="footer-links">
        <li>© ELECTRIC STUDIO 2015</li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/career">Carreer</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      
      <ul class="social-links">
        <li>
          <a href="mailto:info@electricstudio.ph"><i class="fa fa-envelope"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/teamelectricph"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="http://instagram.com/teamelectricph/"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>  
  </footer>
  
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  
  <script src="/assets/vendor/unslider/src/unslider.min.js"></script>
  <script src="/assets/vendor/FitText.js/jquery.fittext.js"></script>
  
  <script src="/assets/js/site.js"></script>
</body>  
</html>