<div ng-if="isFrozen" class="content">
  <div class="wrapper">
    <p class="brand-color">Your account is frozen. Please contact the studio for more details.</p>
  </div>
</div>

<div class="content schedule bg-lightGray" ng-controller="ClassCtrl">
  <div class="wrapper">

    <div ng-if="resched">
      <h2 class="range">
        <span>Rescheduling: </span> 
        {{ resched.date | formatDate }} - {{ resched.schedule.start | formatTime }} - Seat {{ resched.seat_number }}</h2>
        <a class="h small primary right" ng-click="cancelResched()">Cancel</a>
      <hr/>
    </div>

    <div class="header">
      <p ng-if="forWaitlist" class="intro large center">There's no available seat for this ride.<br>but you can join the waitlisted below </p>
      <h2 class="range">{{ dateSched }}</h2> <br\>
      <h2 class="range"><span>{{ daySched }} {{ timeSched | formatTime }}</span></h2>
    </div>
    
    <div class="class">
      <table class="seats">
        <tr>
          <td id="seat1" ng-click="setSeatNumber(1, $event)" ng-class="{ unavailable: checkSeat(1),hidden: 1 > sched.seats }">
            <span>1</span>
          </td>
          <td id="seat2" ng-click="setSeatNumber(2, $event)" ng-class="{ unavailable: checkSeat(2),hidden: 2 > sched.seats }">
            <span>2</span>
          </td>
          <td id="seat3" ng-click="setSeatNumber(3, $event)" ng-class="{ unavailable: checkSeat(3),hidden: 3 > sched.seats }">
            <span>3</span>
          </td>
          <td id="seat4" ng-click="setSeatNumber(4, $event)" ng-class="{ unavailable: checkSeat(4),hidden: 4 > sched.seats }">
            <span>4</span>
          </td>
          <td id="seat5" ng-click="setSeatNumber(5, $event)" ng-class="{ unavailable: checkSeat(5),hidden: 5 > sched.seats }">
            <span>5</span>
          </td>
          <td id="seat6" ng-click="setSeatNumber(6, $event)" ng-class="{ unavailable: checkSeat(6),hidden: 6 > sched.seats }">
            <span>6</span>
          </td>
          <td id="seat7" ng-click="setSeatNumber(7, $event)" ng-class="{ unavailable: checkSeat(7),hidden: 7 > sched.seats }">
            <span>7</span>
          </td>
          <td id="seat8" ng-click="setSeatNumber(8, $event)" ng-class="{ unavailable: checkSeat(8),hidden: 8 > sched.seats }">
            <span>8</span>
          </td>
        </tr>
        <tr>
          <td id="seat9" ng-click="setSeatNumber(9, $event)" ng-class="{ unavailable: checkSeat(9),hidden: 9 > sched.seats }">
            <span>9</span>
          </td>
          <td id="seat10" ng-click="setSeatNumber(10, $event)" ng-class="{ unavailable: checkSeat(10),hidden: 10 > sched.seats }">
            <span>10</span>
          </td>
          <td id="seat11"  ng-click="setSeatNumber(11, $event)" ng-class="{ unavailable: checkSeat(11),hidden: 11 > sched.seats }">
            <span>11</span>
          </td>
          <td id="seat12" ng-click="setSeatNumber(12, $event)" ng-class="{ unavailable: checkSeat(12),hidden: 12 > sched.seats }">
            <span>12</span>
          </td>
          <td id="seat13" ng-click="setSeatNumber(13, $event)" ng-class="{ unavailable: checkSeat(13),hidden: 13 > sched.seats }">
            <span>13</span>
          </td>
          <td id="seat14" ng-click="setSeatNumber(14, $event)" ng-class="{ unavailable: checkSeat(14),hidden: 14 > sched.seats }">
            <span>14</span>
          </td>
          <td id="seat15" ng-click="setSeatNumber(15, $event)" ng-class="{ unavailable: checkSeat(15),hidden: 15 > sched.seats }">
            <span>15</span>
          </td>
          <td id="seat16" ng-click="setSeatNumber(16, $event)" ng-class="{ unavailable: checkSeat(16),hidden: 16 > sched.seats }">
            <span>16</span>
          </td>
        </tr>
        <tr>
          <td id="seat17" ng-click="setSeatNumber(17, $event)" ng-class="{ unavailable: checkSeat(17),hidden: 17 > sched.seats }">
            <span>17</span>
          </td>
          <td id="seat18" ng-click="setSeatNumber(18, $event)" ng-class="{ unavailable: checkSeat(18),hidden: 18 > sched.seats }">
            <span>18</span>
          </td>
          <td id="seat19" ng-click="setSeatNumber(19, $event)" ng-class="{ unavailable: checkSeat(19),hidden: 19 > sched.seats }">
            <span>19</span>
          </td>
          <td id="seat20" ng-click="setSeatNumber(20, $event)" ng-class="{ unavailable: checkSeat(20),hidden: 20 > sched.seats }">
            <span>20</span>
          </td>
          <td id="seat21" ng-click="setSeatNumber(21, $event)" ng-class="{ unavailable: checkSeat(21),hidden: 21 > sched.seats }">
            <span>21</span>
          </td>
          <td id="seat22" ng-click="setSeatNumber(22, $event)" ng-class="{ unavailable: checkSeat(22),hidden: 22 > sched.seats }">
            <span>22</span>
          </td>
          <td id="seat23" ng-click="setSeatNumber(23, $event)" ng-class="{ unavailable: checkSeat(23),hidden: 23 > sched.seats }">
            <span>23</span>
          </td>
          <td id="seat24" ng-click="setSeatNumber(24, $event)" ng-class="{ unavailable: checkSeat(24),hidden: 24 > sched.seats }">
            <span>24</span>
          </td>
        </tr>
        <tr>
          <td id="seat25" ng-click="setSeatNumber(25, $event)" ng-class="{ unavailable: checkSeat(25),hidden: 25 > sched.seats }">
            <span>25</span>
          </td>
          <td id="seat26" ng-click="setSeatNumber(26, $event)" ng-class="{ unavailable: checkSeat(26),hidden: 26 > sched.seats }">
            <span>26</span>
          </td>
          <td id="seat27" ng-click="setSeatNumber(27, $event)" ng-class="{ unavailable: checkSeat(27),hidden: 27 > sched.seats }">
            <span>27</span>
          </td>
          <td class="hidden"><span></span></td>
          <td id="seat28" ng-click="setSeatNumber(28, $event)" ng-class="{ unavailable: checkSeat(28),hidden: 28 > sched.seats }">
            <span>28</span>
          </td>
          <td id="seat29" ng-click="setSeatNumber(29, $event)" ng-class="{ unavailable: checkSeat(29),hidden: 29 > sched.seats }">
            <span>29</span>
          </td>
          <td id="seat30" ng-click="setSeatNumber(30, $event)" ng-class="{ unavailable: checkSeat(30),hidden: 30 > sched.seats }">
            <span>30</span>
          </td>
          <td id="seat31" ng-click="setSeatNumber(31, $event)" ng-class="{ unavailable: checkSeat(31),hidden: 31 > sched.seats }">
            <span>31</span>
          </td>
        </tr>
        <tr>
          <td id="seat32" ng-click="setSeatNumber(32, $event)" ng-class="{ unavailable: checkSeat(32),hidden: 32 > sched.seats }">
            <span>32</span>
          </td>
          <td id="seat33" ng-click="setSeatNumber(33, $event)" ng-class="{ unavailable: checkSeat(33),hidden: 33 > sched.seats }">
            <span>33</span>
          </td>
          <td id="seat34" ng-click="setSeatNumber(34, $event)" ng-class="{ unavailable: checkSeat(34),hidden: 34 > sched.seats }">
            <span>34</span>
          </td>
          <td class="hidden"><span></span></td>
          <td class="hidden"><span></span></td>
          <td id="seat35" ng-click="setSeatNumber(35, $event)" ng-class="{ unavailable: checkSeat(35),hidden: 35 > sched.seats }">
            <span>35</span>
          </td>
          <td id="seat36" ng-click="setSeatNumber(36, $event)" ng-class="{ unavailable: checkSeat(36),hidden: 36 > sched.seats }">
            <span>36</span>
          </td>
          <td id="seat37" ng-click="setSeatNumber(37, $event)" ng-class="{ unavailable: checkSeat(37),hidden: 37 > sched.seats }">
            <span>37</span>
          </td>
        </tr>
      </table>
      
      <div class="class-instructor">
        <div class="image">
          <img src="{{ instructor.image ? '/assets/' + instructor.image : 'http://placehold.it/350x150' }}">
        </div>
        <h3 class="h small center primary">{{ instructor.admin.first_name }}</h3>
      </div>
    </div>
    <a ng-if="!resched && !forWaitlist" ng-disabled="booking"  class="button large center" ng-click="bookSchedule()">Book A Ride</a>
    <ul class="legend">
      <li class="free">Free Bikes</li>
      <li class="reserved">Reserved Bikes</li>
      <li class="selection">Your Selection</li>
    </ul>
     <a ng-if="resched && !forWaitlist" ng-disabled="booking"  class="button large center" ng-click="bookSchedule()">Reschedule Ride</a>
     <a ng-if="forWaitlist" ng-disabled="booking"  class="button large center" ng-click="bookSchedule()">Join the WaitList</a>
    <a class="h small primary center link" href="#/schedule">Back to Schedule</a>
  </div>
</div>
