
  <div class="content contact">
    <div class="wrapper text--center">
      <div class="grid">
        <div class="grid__item bp-md-one-half">
          <section class="info">
            <h2 class="h medium">Contact Us</h2>
            <p>Feel free to drop by, drop us a line or leave a message.</p>

            <h2 class="h medium">Hours of Operation</h2>
            <p>Open 7 days a week.</p>
            <p>The studio opens 30 minutes before class.</p>
            <a class="link" href="#/schedule">See Schedule</a>

            <h2 class="h medium">Email</h2>
            <p>letsride@electricstudio.ph</p>

            <h2 class="h medium">Follow Us</h2>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/teamelectricph"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="http://instagram.com/teamelectricph/"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </section>
        </div>

        <div class="grid__item bp-md-one-half map">
          <h2 class="h medium">BGC</h2>
          <p class="space--bottom">2/F 8 Forbes Town Road,<br> Fort BGC, Taguig 1201, Philippines</p>
          <p>833-60-51 / 833-60-56 / 0917-843-8424 / 0915-212-4929</p>
          <a class="link" href="#/schedule">See Schedule</a>

          <div class="map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d965.4613857922135!2d121.04382329999997!3d14.550823800000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c8fabc268679%3A0xeb1023efbd8ecd7c!2s8+Forbestown+Rd%2C+Taguig%2C+Metro+Manila!5e0!3m2!1sen!2sph!4v1434606489013" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
          </div>

          <h2 class="h medium">SALCEDO</h2>
          <p class="space--bottom">G/F Two Central<br> 107 Valero St. Salcedo Village, Makati</p>
          <p>833-60-51 / 833-60-56 / 0917-843-8424 / 0915-212-4929</p>
          <a class="link" href="#/schedule">See Schedule</a>

          <div class="map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3861.69931459806!2d121.018131!3d14.5591797!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd26400daa1218fcc!2sTwo+Central!5e0!3m2!1sen!2sph!4v1461054024327" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
