
  <div class="content bg-gray contact">
    <div class="wrapper">
      <h2 class="h large light">Contact Us</h2>
      <p class="intro">Feel free to drop by, drop us a line or leave a message.</p>
      <section class="info">
        <h2 class="h medium">The Studio</h2>
        <p>3/F Megaworld Building <br>Forbes Town Center <br>Bonifacio Global City <br>Taguig City, Philippines</p>
        <h2 class="h medium">Hours of Operation</h2>
        <p>Open 7 days a week. <br>The studio opens 30 minutes before class.</p>
        <a class="link" href="#/schedule">Schedule</a>
        <h2 class="h small">Call</h2>
        <p>632.817.4632 - 34</p>
        <h2 class="h small">Email</h2>
        <p>letsride@electricstudio.ph</p>
        <h2 class="h small">Follow Us</h2>
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/teamelectricph"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="http://instagram.com/teamelectricph/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </section>
      <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3861.8073677585357!2d121.05212960000003!3d14.553005699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sforbes+town+center%2C+bonifacio+global+city!5e0!3m2!1sen!2sph!4v1421920012693" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
      </section>
    </div>  
  </div>