<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <title>Home - Electric Studio</title>
  
  <link rel="stylesheet" href="assets/css/site.css">

</head>
<body>
  <header class="main-header">
    <div class="wrapper">
      <h1 class="brand">
        <a href="/">
        <img src="/assets/images/electricstudio-nameplate.png" alt="Electric Studio Logo" class="nameplate">
        </a>
        <img src="/assets/images/electricstudio-logo.png" class="logo">
      </h1>
      
      <ul class="main-menu">
        <li>
          <a href="/about">About Us</a>
        </li>  
        <li>
          <a href="/instructors">Instructors</a>
        </li>  
        <li>
          <a href="/whats-new">What's New</a>
        </li>
      </ul>
      
      <div class="account-header-menu">
        <div class="options">
          <a class="login-toggle">Login /</a> 
          <a class="signup-toggle">Sign up</a>
          <a class="account" href="/account"></a>
        </div>
        <div class="menu-list">
          <div class="holder">
            <a href="/reserved">My Classes</a>
            <a href="/rates-and-packages">My Packages</a>
            <a href="/account">My Account</a>
            <a href="/logout">Sign Out</a>
          </div>  
        </div>
      </div>  
        
      <div class="book-menu">
        <a class="book-toggle">Book A Ride</a>
        
        <div class="menu-list">
          <div class="holder">
            <a href="/workouts">The Workouts</a>
            <a href="/rates-and-packages">Rates &amp; Packages</a>
            <a href="/schedule">Schedule</a>
          </div>  
        </div>  
      </div>
        
      
      <a class="menu-toggle"><i class="fa fa-bars"></i></a>
      
    </div>  
  </header>
  
  <div class="header-form-container login">
    <div class="wrapper">
      <h2 class="h large light">Log In</h2>
      <p class="notify">Your Username / Email Address do not match. Please re-enter your informatin to Log In.</p>
      <form class="login-form" method="post">
        <input class="input-box" placeholder="Username / Email Address" name="email" required>
        <input type="password" class="input-box" placeholder="Password" name="password" required>

        <input type="submit" value="Log In" class="button" name="login">
      </form>
    </div>  
  </div>
  
  <div class="header-form-container signup">
    <div class="wrapper">
      <h2 class="h large light">Sign Up</h2>
      <p class="notify">Your Username / Email Address do not match. Please re-enter your informatin to Log In.</p>
      <form class="signup-form" method="post">
        <input class="input-box" placeholder="First Name" name="firstname">
        <input class="input-box" placeholder="Last Name" name="lastname">
        <input class="input-box" placeholder="Email Address" name="email">
        <input class="input-box" placeholder="Mobile Number" name="number">
        <input type="password" class="input-box" placeholder="Password" name="password">
        <input type="password" class="input-box" placeholder="Re-type Password" name="password2">

        <input type="submit" value="Sign Up" class="button" name="signup">
      </form>
    </div>
  </div>
  
  <!--  page content starts here-->
  <div class="content bg-gray contact">
    <div class="wrapper">
      <h2 class="h large light">Contact Us</h2>
      <p class="intro">Feel free to drop by, drop us a line or leave a message.</p>
      <section class="info">
        <h2 class="h medium">The Studio</h2>
        <p>3/F Megaworld Building <br>Forbes Town Center <br>Bonifacio Global City <br>Taguig City, Philippines</p>
        <h2 class="h medium">Hours of Operation</h2>
        <p>Open 7 days a week. <br>The studio opens 30 minutes before class.</p>
        <a class="link" href="/schedule">Schedule</a>
        <h2 class="h small">Call</h2>
        <p>632.817.4632 - 34</p>
        <h2 class="h small">Email</h2>
        <p>hello@electricstudio.com</p>
        <h2 class="h small">Follow Us</h2>
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/teamelectricph"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="http://instagram.com/teamelectricph/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </section>
      <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3861.8073677585357!2d121.05212960000003!3d14.553005699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sforbes+town+center%2C+bonifacio+global+city!5e0!3m2!1sen!2sph!4v1421920012693" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
      </section>
    </div>  
  </div>
<!--  page content ends here-->

  <footer class="main-footer">
    <div class="wrapper">
      <ul class="footer-links">
        <li>© ELECTRIC STUDIO 2015</li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/career">Carreer</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      
      <ul class="social-links">
        <li>
          <a href="mailto:info@electricstudio.ph"><i class="fa fa-envelope"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/teamelectricph"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="http://instagram.com/teamelectricph/"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>  
  </footer>
  
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  
  <script src="/assets/vendor/unslider/src/unslider.min.js"></script>
  <script src="/assets/vendor/FitText.js/jquery.fittext.js"></script>
  
  <script src="/assets/js/site.js"></script>
</body>  
</html>