
  <div class="content faq page faq" id="faq">
    <div class="wrapper text-color-light relative">
      <h2 class="watermark">FAQs</h2>

      <h2 class="h large pad--top">General</h2>
      <ul>
          <li>
              <p><strong>This is my first time. Do I need indoor cycling experience?  </strong></p>
              <p>No, you don’t! The great thing about indoor cycling is that anyone can do it regardless of fitness level.</p>
          </li>

          <li>
              <p><strong>How old do I have to be to join?</strong></p>
              <p>You have to be at least 14 years old and 4’11’’ to ride. If you are under the age of 18, your parent/guardian must sign your waiver form.</p>
          </li>

          <li>
              <p><strong>Where is your studio?</strong></p>
              <p>Our first studio is located at the 2/F Eight Forbes Town Road, Bonifacio Global City, Taguig. You can find our map and contact details <a href="#/contact">here</a>.</p>
          </li>

          <li>
              <p><strong>Where can I park?</strong></p>
              <p>There are several basement parking options near the studio that are a 1-3 minute walk away:</p>
              <p>- Eight Forbes Town Road building (entrance by Robinson's Supermarket)</p>
              <p>- Forbeswood Parklane building (entrance beside Forbeswood Parklane Residence parking)</p>
              <p>- Forbes Town Center in Burgos Circle</p>
          </li>

          <li>
              <p><strong>Do you have showers and lockers?</strong></p>
              <p>Yes, we do. Our showers are stocked with bath and body products so you can head straight to where you need to be right after class. Our lockers have coded keypads so leave your locks behind.</p>
          </li>

          <li>
              <p><strong>Is there a beginner class?</strong></p>
              <p>All our classes are made for all fitness levels. How tough your ride will be is entirely up to you. You will always be in control of your bike's resistance. For your first time, the most important thing is to have fun!</p>
          </li>
          <li>
              <p><strong>What happens if I arrive late for class?</strong></p>
              <p>If you are running late, please call the studio and we will hold your bike until 5 minutes after class starts. For safety reasons, riders are not allowed to enter the bike room 5 minutes after class starts. First time riders must arrive on time.</p>
          </li>
      </ul>

      <div class="spacer"></div>

      <h2 class="h large">Booking</h2>
      <ul>
          <li><p><strong>How do I book a ride? </strong></p>
              <p> <a ng-click="showSignup()">Sign up</a> for an Electric Studio account to be able to buy a package and book online. Select a class from our weekly schedule, reserve your bike and you're ready to go.</p>

          </li>
      </ul>

      <ul>
      <li><p><strong>When does the class schedule come out?</strong></p>
          <p>You may begin booking classes for the week, every Monday at noon.</p></li>

      <li><p><strong> What is the cancellation policy?</strong></p>
          <p>Cancellations are allowed until 5PM the day before your ride. Otherwise, your credits will not be returned.
          You may cancel your booking online or by calling the studio. </p></li>

      <li><p><strong>The class I want to book is full. Is there a waitlist?</strong></p>
          <p>Yes, there is! Click on the waitlist button under the class you would like to join. A class credit is deducted when you are added on the waitlist. You will automatically be added to the class and be notified via email once a bike becomes available. If you no longer want to be on the waitlist, please remove yourself online or by calling the studio to avoid being charged. Credits will be returned to those who do not get into the class. </p></li>
      </ul>

      <div class="spacer"></div>

      <h2 class="h large">YOUR FIRST RIDE</h2>

      <ul>
          <li><p><strong>What should I wear?</strong></p>
          <p>We recommend form-fitting sportswear. For women, we suggest tight leggings. It can get really hot so wear anything you don't mind sweating in. And don't forget your socks!</p></li>

          <li><p><strong>Can I bring my own shoes?</strong></p>
          <p>Sure, as long as they are Look Keo compatible. If you don't have shoes, no worries! We have shoes readily available for you to use.</p></li>

          <li><p><strong>How early should I come?</strong></p>
          <p>Please arrive 30 minutes before class starts so we can orient you and help you set up your bike. Note that if you do not sign in 5 minutes before class starts, your bike may be given away.</p></li>
      </ul>

    </div>
  </div>
