
  <div class="content faq page faq" id="faq">
    <div class="wrapper text-color-light relative">
      <h2 class="watermark">FAQs</h2>

      <h2 class="h large pad--top">General</h2>
      <ul>
          <li>
              <p><strong>This is my first time. Do I need indoor cycling experience?  </strong></p>
              <p>No, you don’t! The great thing about indoor cycling is that anyone can do it regardless of fitness level. Learn more about what to expect from your first class <a href="#/first-ride">here</a>.</p>
          </li>

          <li>
              <p><strong>Is there a beginner class?</strong></p>
              <p>All classes are made for all fitness levels, but we have a class called Jumpstart that is great for first timers, as it focuses on the fundamentals. How tough your ride will be is entirely up to you. You will always be in control of your bike's resistance. For your first time, the most important thing is to have fun!</p>
          </li>

          <li>
              <p><strong>How old do I have to be to join?</strong></p>
              <p>You have to be at least 14 years old and 4’11’’ to ride. If you are under the age of 18, your parent/guardian must sign your waiver form.</p>
          </li>

          <li>
              <p><strong>Where is your studio?</strong></p>
              <p>Electric Studio has two fully furnished indoor cycling studios located in Bonifacio Global City and in Salcedo Village, Makati. You can find our complete address and map <a href="#/contact">here</a>.</p>
          </li>

          <li>
              <p><strong>Where can I park?</strong></p>
              <p>In <b>BGC</b>, basement parking is available in Eight Forbes Town Road building (entrance by Robinson’s Supermarket), Forbeswood Parklane (across Eight Forbes Town building) and Forbes Town Center in Burgos Circle. In <b>Salcedo</b>, basement parking is available in the Two Central building (entrance is in Valero Access Road 4).</p>
          </li>

          <li>
              <p><strong>Do you have showers and lockers?</strong></p>
              <p>Yes, we do. Our showers are stocked with bath and body products so you can head straight to where you need to be right after class. Our lockers have coded keypads so leave your locks behind.</p>
          </li>

          <li>
              <p><strong>What happens if I arrive late for class?</strong></p>
              <p>If you are running late, please call the studio and we will hold your bike until 5 minutes after class starts. For safety reasons, riders are not allowed to enter the bike room 5 minutes after class starts. First time riders must arrive on time.</p>
          </li>
      </ul>

      <div class="spacer"></div>

      <h2 class="h large">Sign Up / Booking</h2>
      <ul>
        <li><p><strong>I created an account online but did not receive a verification email. What should I do?</strong></p>
            <p>Click on the “Resend Confirmation Email” button. Check your Spam/Junk Mail folder or Promotions tab in case the email got lost there. If you still can’t find it, don’t worry, just call the studio and we’ll be glad to help!</p>

        </li>
        <li><p><strong>I already created an account but I can’t log in. What’s wrong?</strong></p>
            <p>Make sure to turn off private browsing or incognito mode on your Internet browser. You may also try resetting your password. Call the studio if you need any more help!</p>

        </li>
        <li><p><strong>How do I book a ride? </strong></p>
            <p> <a ng-click="showSignup()">Sign up</a> for an Electric Studio account to be able to buy a package and book online. Select a class from our weekly schedule, reserve your bike and you're ready to go!</p>

        </li>
        <li><p><strong>Can I use my package in a different branch?</strong></p>
            <p>Yes you can! Rides are valid across all Electric Studio indoor cycling studios.</p></li>
        <li><p><strong>When does the class schedule come out?</strong></p>
            <p>You may begin booking classes for the week, every Monday at noon.</p></li>

        <li><p><strong> What is the cancellation policy?</strong></p>
            <p>Cancellations are allowed until 5PM the day before your ride. Otherwise, your credits will not be returned.
            You may cancel your booking online or by calling the studio. </p></li>

        <li><p><strong>The class I want to book is full. Is there a waitlist?</strong></p>
            <p>Yes, there is! Click on the waitlist button under the class you would like to join. A class credit is deducted when you are added on the waitlist. You will automatically be added to the class and be notified via email once a bike becomes available. If you no longer want to be on the waitlist, please remove yourself online or by calling the studio to avoid being charged. Credits will be returned to those who do not get into the class. </p>
        </li>
      </ul>

      <div class="spacer"></div>

      <h2 class="h large">YOUR FIRST RIDE</h2>

      <ul>
          <li><p><strong>What should I wear?</strong></p>
          <p>We recommend form-fitting sportswear. For women, we suggest tight leggings. It can get really hot so wear anything you don't mind sweating in. And don't forget your socks!</p></li>

          <li><p><strong>Can I bring my own shoes?</strong></p>
          <p>Sure, as long as they are Look Keo compatible. If you don't have shoes, no worries! We have shoes readily available for you to use.</p></li>

          <li><p><strong>How early should I come?</strong></p>
          <p>Please arrive 30 minutes before class starts so we can orient you and help you set up your bike. Note that if you do not sign in 5 minutes before class starts, your bike may be given away.</p></li>
      </ul>

    </div>
  </div>
