
  <div class="content faq">
    <div class="wrapper text-color-light">
        <h2 class="h large primary">FAQs</h2>

        <h2 class="h medium">General</h2>
        <ul>
            <li>
                <p><strong>Do I need to have indoor cycling experience? This is my first time. </strong></p>
                <p>No, you don’t! The great thing about indoor cycling is that everybody can do this regardless of his or her fitness level.</p>
            </li>

            <li>
                <p><strong>How old do I have to be to join?</strong></p>
                <p>You have to be at least 14 years old and 4’10’’ to ride. If you’re under the age of 18, your parent/guardian must sign your waiver form. </p>
            </li>

            <li>
                <p><strong>Do you have showers and lockers?</strong></p>
                <p>Yes, we do. Our showers are stocked with bath and body products so you can head straight to where you need to be right after class. Our lockers have coded keypads so no need to bring your own locks.</p>
            </li>

            <li>
                <p><strong>Is there a beginner class?</strong></p>
                <p>All of Electric Studio’s classes are made for all fitness levels. It’s up to you how tough you want your ride to be. You will always be in control of the resistance. For your first ride the most important thing is to have FUN!</p>
            </li>
        </ul>

        <div class="spacer"></div>

        <h2 class="h medium">Booking</h2>
        <p><strong>How do I book a ride? </strong></p>
        <ul>
            <li>Create an Electric Studio online account</li>
            <li>Buy a package </li>
            <li>Go to the class schedule  </li>
            <li>Book your ride! </li>
        </ul>

        <p ng-hide="loginUser">Click <a ng-click="showSignup()">here</a> to sign-up! </p>

        <ul>
        <li><p><strong>When does the class schedule come out?</strong></p>
            <p>You can begin booking for the week on Mondays at noon. </p></li>

        <li><p><strong>What is the cancellation policy? </strong></p>
            <p>You must cancel by 5PM the day before your ride. Otherwise, your class credits will not be returned. </p></li>

        <li><p><strong>The class is full, is there a waitlist?</strong></p>
            <p>Yes there is! Click on the waitlist button under the class you would like to join. You will be notified via email if you’ve been booked for the class. If you no longer want to be on the waitlist, you can remove yourself online.</p></li>
        </ul>

        <div class="spacer"></div>

        <h2 class="h medium">YOUR FIRST RIDE</h2>
        
        <ul>
            <li><p><strong>What should I wear?</strong></p>
            <p>We recommend form-fitting sportswear. For women, we recommend tight leggings. It is going to get real hot, so wear anything you don’t mind sweating in. Oh and please don’t forget your socks!</p></li>

            <li><p><strong>Can I bring my own shoes?</strong></p>
            <p>Sure! As long as they are LOOK KEO EASY compatible. If you don’t have shoes, no worries! We have shoes readily available for you to use. </p></li>

            <li><p><strong>How early should I come?</strong></p>
            <p>If it is your first visit to the studio, say hello to our crew and sign in! It would be great if you could arrive 30 minutes before class starts so we can orient you and help you set up your bike. Please note that if you do not sign in 5 minutes before class starts, your bike may be released. </p></li>

            <li><p><strong>What happens if I arrive late for class?</strong></p>
            <p>If you are running late, please call the studio and we will hold your bike until 5 minutes after class starts. For safety reasons, riders are not allowed to enter the bike room 5 minutes after class starts.</p></li>

        </ul>
    </div>  
  </div>

 