 
  <div class="banner first-ride">
    <span>Let's Ride</span>
  </div>

  <div class="content">
    <div class="wrapper">
      <h2 class="h large primary">Your First Ride</h2>
      <p class="intro">45-minute indoor cycling classes are full-body workouts focused on optimal movements, music and motivation. It's extremely cardio, rocking out your core, upper and lower muscles.</p>
      <a class="link" href="#/rates-and-packages">How to book a ride</a>
    </div>  
  </div>
  
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main color-secondary">
        <section class="image-layout">
          <div class="image">
            <img src="/assets/images/mini-4.png">
          </div>
          <div class="text">
            <span class="num">1</span>
            <h2 class="h medium face-primary">Book Online</h2>
            <p>Log in to your Electric Studio account to buy a package and book a ride. For your first time, we recommend buying the First Timer Package so you can try as many instructors and rides in 2 weeks.</p>
            <a class="link" href="#/rates-and-packages">Select a package</a>
          </div>  
        </section>  
        
        <section class="image-layout">
          <div class="image">
            <div class="img-wrapper">
            <img src="/assets/images/mini-1.png">
            </div>
          </div>
          <div class="text">
            <span class="num">2</span>
            <h2 class="h medium face-primary">All you need</h2>
            <h3 class="h small primary">CLOTHING</h3>
            <p>We suggest from-fitting sportswear. For ladies, we recommend leggings. Bring a change of clothes since your sure to sweat during class!</p>

            <h3 class="h small primary">SHOES</h3>
            <p>We will provide cycling shoes. If you have your own, make sure they are Look Keo compatible.</p>

            <h3 class="h small primary">WATER</h3>
            <p>We have water available for sale, but we've got fountains for you to fill up your own bottles.</p>

            <h3 class="h small primary">AMENITIES</h3>
            <p>Our lockers have coded keypads, so leave your lock behind. We provide complimentary towels, bath and body products so you can shower and head straight to where you need to be right after class.</p>

          </div>
        </section>  
        
        <section class="image-layout">
          <div class="image">
            <div class="img-wrapper">
            <img src="/assets/images/mini-2.png">
            </div>
          </div>
          <div class="text">
            <span class="num">3</span>
            <h2 class="h medium face-primary">SAY HELLO</h2>
            <p>Get the most out of your Electric experience and arrive 30 minutes before your ride. We will provide you with shoes, set up your bike and gibe you a tour of our studio. If you do not check in 5 minutes before class, your reserved bike may be released.</p>
          </div>
        </section>
        <!-- 
        <section class="image-layout">
          <div class="image">
            <div class="img-wrapper">
            <img src="/assets/images/mini-3.png">
            </div>
          </div>
          <div class="text">
            <span class="num">4</span>
            <h2 class="h medium face-primary">Know your essentials</h2>
            <h2 class="h small">Shoes</h2>
            <p>You clip unto the bike for a more stable and smoother ride. Shoes are free for the first timer, otherwise they can be rented for PHP 30. For riders with their own cycling shoes, our pedals are LOOK KEO compatible.</p>
            <h2 class="h small">Towels</h2>
            <p>There are complimentary towels for your use.</p>
            <h2 class="h small">Water</h2>
            <p>We have water available for sale, but we've got fountains for you to fill up your own bottles.</p>
            <h2 class="h small">Lockers</h2>
            <p>Our Lockers have coded keypads, so leave your lock behind.</p>
            <h2 class="h small">Ammenities</h2>
            <p>We have shower stocked with bath and body products so you can head straight to where you need to be right after class.</p>
          </div>
        </section>
        
        <section class="image-layout">
          <div class="image">
            <div class="img-wrapper">
            <img src="/assets/images/mini-1.png">
            </div>
          </div>
          <div class="text">
            <span class="num">5</span>
            <h2 class="h medium face-primary">Set Up and Safety</h2>
            <p>There are 3 places to adjust your bike to find the perfect riding position for you:</p>
            <p><span class="num inline">1</span> Seat height</p>
            <p><span class="num inline">2</span> Fore/Aft seat position</p>
            <p><span class="num inline">3</span> Handlebar height</p>
            <p>Staff wil be there to assist you and record your settings for future rides.</p>
            <p>Before starting your ride, check that all bike pins are tight, your cycling shoes are securely clipped in the pedals, and your brake is working.</p>
          </div>
        </section> -->
        
        <a href="#/schedule" class="button large center">Book A Ride</a>
      </div>
      
      <div class="sidebar">
        <h2 class="h small primary">Booking</h2>
        <p>45-minute indoor cycling classes are full-body workouts focused on optimal movements, music and motivation. It's extremely cardio, rocking out your core, upper and lower muscles.</p>
        
        <h2 class="h small primary">Reservation</h2>
        <p>45-minute indoor cycling classes are full-body workouts focused on optimal movements, music and motivation. It's extremely cardio, rocking out your core, upper and lower muscles.</p>
        
        <h2 class="h small primary">Waitlist</h2>
        <p>45-minute indoor cycling classes are full-body workouts focused on optimal movements, music and motivation. It's extremely cardio, rocking out your core, upper and lower muscles.</p>
        
        <h2 class="h small primary">Cancellation</h2>
        <p>Must be made 12 hours before class.</p>
        
        <a class="link" href="#/faq">FAQs</a>
      </div>
    </div>
  </div>