
<div class="first-ride page content sidebar-layout">

  <div class="sidebar light">
    <h3 class="h">Booking</h3>
    <p>Create an Electric Studio account to start booking! Class schedules are released every Monday at noon so you can book your bikes for the week.</p>
    <h3 class="h">Cancellation</h3>
    <p>Can't make it to class? No problem, you may cancel your booking until 5PM the day before your ride, and your credits will be returned. You may cancel your ride online or by calling the studio. Please note that credits will not be returned for late cancellations (after 5PM the day before your ride).</p>
    <h3 class="h">Waitlist</h3>
    <p>When class is full, you may still sign up and get on the waitlist. You will automatically be added to the class and be notified by email once a bike becomes available. This can happen until 1 hour before class starts. If you no longer want a bike, make sure to remove yourself from the waitlist (online or by calling the studio) to avoid being charged. Credits will be returned to those who do not get into the class.</p>
  </div>

  <div class="wrapper text-color-light">
    <div class="main" id="firstride-section">
      <h2 class="watermark">Your First Ride</h2>

      <section class="section-1">
        <h2 class="h large">Log In</h2>
        <p>Log in to your Electric Studio account to buy a package and book your ride. Check out our booking policies on the right side bar for a smooth ride.</p>
      </section>

      <section class="section-2">
        <div class="banner-image"></div>
        <h2 class="h large">Clothing</h2>
        <p>We suggest form-fitting sportwear. For ladies, we recommend leggings. Bring a change of clothes since you are sure to sweat during class. Don't forget your socks!</p>
      </section>

      <section class="section-3">
        <div class="banner-image"></div>
        <h2 class="h large">Shoes</h2>
        <p>We will provide cycling shoes for you to use. If you have your own, make sure they are Look Keo compatible.</p>
      </section>

      <section class="section-4">
        <div class="banner-image"></div>
        <h2 class="h large">Amenities</h2>
        <p>Our lockers have coded keypads, so leave your lock behind. We provide complimentary towels, bath and body products so you can shower and head straight to where you need to be right after class.</p>
      </section>

      <section class="section-5">
        <div class="banner-image"></div>
        <h2 class="h large">Water</h2>
        <p>We have water available for sale, but we've got fountains for you to fill up your own bottles.</p>
      </section>

      <section class="section-6">
        <div class="banner-image"></div>
        <h2 class="h large">Say Hello</h2>
        <p>Get the most out of your Electric experience and arrive 30 minutes before your ride. We will provide you with shoes, set up your bike and give you a tour of our studio. If you do not check in 5 minutes before class, your reserved bike may be released.</p>
      </section>

      <section class="section-7">
        <div class="banner-image"></div>
        <h2 class="h large"><i class="fa fa-exclamation"></i> <span>Safety First!</span></h2>
        <ol>
          <li>Test bike brake.</li><br>
          <li>Tighten bike pins.</li><br>
          <li>Clip cycling shoes securely in the pedals.</li><br>
          <li>Stay hydrated before, during and after class.</li><br>
          <li>While our instructors will always motivate and inspire you, listen and work at a pace that is comfortable for your body.
            if it is your first time, focus on the pace, form, and resistance. Remember that you control your bike</li><br>
          <li>Always feel free to reach out to our crew or instructors if you have any questions.</li><br>
          <li>If you experience any unusual or persistent symptoms after you ride, do not hesitate to seek medical attention.</li><br>
        </ol>
      </section>

      <section class="section-8">
        <h2 class="h large">Now, Let's Ride!</h2>
        <!-- <div class="book-cta">
          <a class="button large center primary"  href="#/schedule">Book A Ride</a>
        </div> -->
      </section>

    </div>
  </div>

</div>
