 
  <div class="banner first-ride">
    <span>Let's Ride</span>
  </div>

  <div id="firstride-section" class="content">
    <div class="wrapper">
      <h2 class="h large primary">Your First Ride</h2>
      <p class="intro">Our 45-minutes indoor cycling classes are full-body workouts focused on optimum movements, music and motivation. It is extreme cardio, rocking out your core, upper and lower muscles.</p>
      <a class="link" href="#/rates-and-packages">How to book a ride</a>
    </div>  
  </div>
  
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main color-secondary">
        <section class="image-layout">
          <div class="image">
            <img src="/assets/images/mini-4.png">
          </div>
          <div class="text">
            <span class="num">1</span>
            <h2 class="h medium face-primary">Book Online</h2>
            <p>Log in to your Electric Studio account to buy a package and book your ride. Check out our booking policies on the right side bar for a smooth ride.</p>

            <br>
            <a class="link" href="#/rates-and-packages">Select A Package</a>
            <br>
            <a class="link" href="#/schedule">Book a Ride</a>
          </div>  
        </section>  
        
        <section class="image-layout">
          <div class="image">
            <div class="img-wrapper">
            <img src="/assets/images/mini-1.png">
            </div>
          </div>
          <div class="text">
            <span class="num">2</span>
            <h2 class="h medium face-primary">All you need</h2>
            <h3 class="h small primary">CLOTHING</h3>
            <p>We suggest form-fitting sportwear. For ladies, we recommend leggings. Bring a change of clothes since you are sure to sweat during class. Don't forget your socks!</p>

            <h3 class="h small primary">SHOES</h3>
            <p>We will provide cycling shoes for you to use. If you have your own, make sure they are Look Keo compatible.</p>

            <h3 class="h small primary">WATER</h3>
            <p>We have water available for sale, but we've got fountains for you to fill up your own bottles.</p>

            <h3 class="h small primary">AMENITIES</h3>
            <p>Our lockers have coded keypads, so leave your lock behind. We provide complimentary towels, bath and body products so you can shower and head straight to where you need to be right after class.</p>

          </div>
        </section>  
        
        <section class="image-layout">
          <div class="image">
            <div class="img-wrapper">
            <img src="/assets/images/mini-2.png">
            </div>
          </div>
          <div class="text">
            <span class="num">3</span>
            <h2 class="h medium face-primary">SAY HELLO</h2>
            <p>Get the most out of your Electric experience and arrive 30 minutes before your ride. We will provide you with shoes, set up your bike and give you a tour of our studio. If you do not check in 5 minutes before class, your reserved bike may be released.</p>
          </div>
        </section>
        
        <a href="#/schedule" class="button large center">Book A Ride</a>
      </div>
      
      <div class="sidebar">
        <h2 class="h small primary">Booking</h2>
        <p>Create an Electric Studio account to start booking! Class schedules are released every Monday at noon so you can book your bikes for the week.</p>
        
        <h2 class="h small primary">Cancellation</h2>
        <p>Can't make it to class? No problem, you may cancel your booking until 5PM the day before your ride, and your credits will be returned. You may cancel your ride online or by calling the studio. Please note that credits will not be returned for late cancellations (after 5PM the day before your ride).</p>
        
        <h2 class="h small primary">Waitlist</h2>
        <p>When class is full, you may still sign up and get on the waitlist. You will automatically be added to the class and be notified by email once a bike becomes available. This can happen until 1 hour before class starts. If you no longer want a bike, make sure to remove yourself from the waitlist (online or by calling the studio) to avoid being charged. Credits will be returned to those who do not get into the class.</p>
        
      </div>
    </div>
  </div>