<div class="gc-buy content bg-lightGray">
  <div class="wrapper color-secondary bp-lg-four-fifths">
    <h2 class="h large pad--bottom">Buy Gift Card</h2>

    <form class="grid" id="payForm" ng-controller="RatesCtrl" action="https://www.sandbox.paypal.com/ph/cgi-bin/webscr" method="post">

      <div class="grid__item bp-md-two-fifths bp-lg-one-half">
        <small class="text-uppercase">Enter gift details</small>
        <div class="gc-card space--ends">
          <img src="assets/images/es-gc-card-header.png" alt="Electric Studio Logo" class="nameplate">

          <div class="grid space--top pad--top">
            <div class="grid__item bp-md-two-thirds">
              <input ng-model="gcReceiver" class="text-input text-input--full space--bottom" placeholder="TO"/>
              <input ng-model="gcSender" class="text-input text-input--full space--bottom" placeholder="FROM"/>
              <small class="text-uppercase" ng-if="!gcPackageFirstTimer">VALIDITY: {{ gcValidity }} DAYS from the time the Gift Card is loaded into the account</small>
              <small class="text-uppercase" ng-if="gcPackageFirstTimer">Valid only for new riders. First Timer Package may only be availed once per rider.</small>
            </div>
            <div class="grid__item bp-md-one-third">
              <div class="pad--left">
                <select id="select-gc-package" class="gc-card__select" ng-change="selectGCPackage()" ng-model="gcPackage">
                  <option ng-repeat="package in packages" value="{{ package }}">
                    {{ package.credits }}
                  </option>
                </select>
                <div class="text--right space--half-top">
                  <small class="text-uppercase">Rides</small>
                  <small ng-if="gcPackageFirstTimer" class="block text--left text-uppercase space--half-top">First Timer Package</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <small class="text-uppercase">Physical Gift Cards are available in studio</small>
      </div>

      <!-- HIDDEN FIELDS -->

      <input type="hidden" id="cmd" name="cmd" value="_xclick">
      <input type="hidden" id="no_note" name="no_note" value = "0">
      <input type="hidden" id="bn" name="bn" value="PP-BuyNowBF">
      <input type="hidden" id="rm" name="rm" value="2">
      <input type="hidden" id="custom" name="custom" value="">
      <input type="hidden" id="business" name="business" value="ogsmelvin05-facilitator@gmail.com">
      <!-- electric@electricstudio.ph -->
      <input type="hidden" id="item_name" name="item_name" value="">
      <input type="hidden" id="item_number" name="item_number" value="">
      <input type="hidden" id="amount" name="amount" value="">
      <input type="hidden" id="currency_code" name="currency_code" value="PHP">
      <input type="hidden" id="ipn_notification_url" name="ipn_notification_url" value="">
      <input type="hidden" id="return" name="return" value="">
      <input type="hidden" id="cancel_return" name="cancel_return" value="">
      <input type="hidden" id="cbt" name="cbt" value="Return to Electric Studio">


      <div class="gc-form grid__item bp-md-three-fifths bp-lg-one-half">
        <span class="label">Sender's email address</span>
        <input type="email" ng-model="senderEmail" name="semail" class="text-input text-input--large text-input--full space--bottom" />

        <span class="label">Recepient's email address</span>
        <input type="email" ng-model="receiverEmail" name="remail" class="text-input text-input--large text-input--full space--bottom">

        <span class="label">Add message <i>(optional)</i></span>
        <textarea rows="2" class="text-input text-input--full space--bottom" ng-model="gcMessage"> </textarea>

        <big class="h medium">TOTAL: <span ng-if="gcAmount" class="brand-color">P {{ gcAmount || 0.00}}</span> <span ng-if="!gcAmount" class="brand-color"> P 0.00</span></big>

        <div class="grid space--top">
          <div class="grid__item one-half">
            <input ng-click="buyGC('sender')" class="btn btn--large btn--primary btn--full" type="button" value="EMAIL TO ME" />
          </div>
          <div class="grid__item one-half">
            <input ng-click="buyGC('receiver')" class="btn btn--large btn--primary btn--full" type="button" value="EMAIL TO RECIPIENT" />
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
