
  <div class="content">
    <div class="wrapper">
    <div class=""> <!-- center this div -->
      <h2 class="h large primary">BUY Gift Card</h2>

      <form id="payForm" ng-controller="RatesCtrl" action="https://www.sandbox.paypal.com/ph/cgi-bin/webscr" method="post">

      	<label>To: </label>
      	<input type="text" ng-model="gcReceiver" placeholder="Receiver" name="to"/>
      	<label>From:</label>
      	<input type="text" ng-model="gcSender" placeholder="Sender" name="from"/>
      	<label>Number of Rides:</label>
      		<select ng-change="selectGCPackage()" name="package_id" ng-model="gcPackage" >
      			<option ng-repeat="package in packages" ng-if="!package.first_timer" value="{{ package }}"> {{ package.credits }} Ride{{ package.credits > 1 ? 's' : '' }}</option>
      		</select>
        <label>Value: {{ gcAmount }}</label>
      	<label>Message: (optional) </label>
      	<textarea ng-model="gcMessage"></textarea>
      	<label>Purchase a gift card</label>
      	
        <input type="hidden" id="cmd" name="cmd" value="_xclick"> 
        <input type="hidden" id="no_note" name="no_note" value = "0">
        <input type="hidden" id="bn" name="bn" value="PP-BuyNowBF">
        <input type="hidden" id="rm" name="rm" value="2">
        <input type="hidden" id="custom" name="custom" value="">
        <input type="hidden" id="business" name="business" value="ogsmelvin05-facilitator@gmail.com"> 
        <!-- electric@electricstudio.ph -->
        <input type="hidden" id="item_name" name="item_name" value="">
        <input type="hidden" id="item_number" name="item_number" value="">
        <input type="hidden" id="amount" name="amount" value="">
        <input type="hidden" id="currency_code" name="currency_code" value="PHP">
        <input type="hidden" id="ipn_notification_url" name="ipn_notification_url" value="">
        <input type="hidden" id="return" name="return" value="">
        <input type="hidden" id="cancel_return" name="cancel_return" value="">
        <input type="hidden" id="cbt" name="cbt" value="Return to Electric Studio">

      	<input  ng-click="buyGC('sender')" value ="Email to me" type = "button">
      	<input  ng-click="buyGC('receiver')" value ="Email to recipient" type = "button">

      <div class="modal" data-modal="enter-email" id="enter-email-modal">
        <div class="modal__box pad">
          <span class="close-btn modal-close">X</span>
          <h3 ng-if="!senderIsReceiver" class="h--medium brand-color space--bottom">Please enter {{ gcReceiver }}'s email address:</h3>
          <h3 ng-if="senderIsReceiver" class="h--medium brand-color space--bottom">Please enter your email address:</h3>
          <span class="label">Email:</span>
          <input ng-model="receiverEmail" class="text-input">
          <a class="btn btn--primary btn--medium space--top modal-close" ng-click="buyGC('confirm_buy')"> SEND GC </a>
        </div>
      </div>  
      </form>    	
    </div>
    </div>
  </div>
  
  <div id="rates-section" class="content bg-gray parts-5 rates-info" ng-controller="RatesCtrl">
    <div class="wrapper">
      <span class="h small primary center" ng-show="loadingPackages">
        <i class="fa fa-spinner"></i> Loading packages ... 
      </span>

      <div class="faq">
        <p>You must purchase an Electric Studio package before you can reserve a spot in class. Package expiration begins upon purchase. A mandatory waiver must be signed by a parent/guardian for riders under the age of 18. First Timer Packages may only be purchased once per rider. All sales are final.</p>
        <a class="link" href="#/faq">Faqs</a>
      </div>  
    </div>  
  </div>


