

  <link rel="stylesheet" type="text/css" href="assets/sass/extra/gift-card.css">
  <link rel="stylesheet" type="text/css" href="assets/sass/extra/grid.min.css">
  <div class="content">
    <div class="wrapper">

      <div class="gift-card">
        <div class="title">
          <div class="title">
            <small>ELECTRIC STUDIO GIFT CARD</small>
            <h2>BUY GIFT CARD</h2>
          </div>
        </div>

        <div class="row">
        <form id="payForm" ng-controller="RatesCtrl" action="https://www.sandbox.paypal.com/ph/cgi-bin/webscr" method="post">
          <div class="col-md-6 card-holder">
            <small class="label">INPUT GIFT DETAILS</small>
            <div class="card-input">
              <img src="assets/images/gift-card-title.png">

              <div class="row">
                <div class="col-md-8">
                  <input ng-model="gcReceiver" type="text" placeholder="TO">
                  <input ng-model="gcSender" type="text" placeholder="FROM">
                  <small class="label">VALIDITY: {{ gcValidity }} DAYS</small>
                </div>
                <div class="col-md-4">
                  <select class="rides" ng-change="selectGCPackage()" ng-model="gcPackage">
                    <option ng-repeat="package in packages" ng-if="!package.first_timer" value="{{ package }}"> {{ package.credits }} </option>
                  </select>
                  <small class="label fr">RIDES</small>
                </div>
               </div>
            </div>
          </div>

          <!-- HIDDEN FIELDS -->

          <input type="hidden" id="cmd" name="cmd" value="_xclick"> 
          <input type="hidden" id="no_note" name="no_note" value = "0">
          <input type="hidden" id="bn" name="bn" value="PP-BuyNowBF">
          <input type="hidden" id="rm" name="rm" value="2">
          <input type="hidden" id="custom" name="custom" value="">
          <input type="hidden" id="business" name="business" value="ogsmelvin05-facilitator@gmail.com"> 
          <!-- electric@electricstudio.ph -->
          <input type="hidden" id="item_name" name="item_name" value="">
          <input type="hidden" id="item_number" name="item_number" value="">
          <input type="hidden" id="amount" name="amount" value="">
          <input type="hidden" id="currency_code" name="currency_code" value="PHP">
          <input type="hidden" id="ipn_notification_url" name="ipn_notification_url" value="">
          <input type="hidden" id="return" name="return" value="">
          <input type="hidden" id="cancel_return" name="cancel_return" value="">
          <input type="hidden" id="cbt" name="cbt" value="Return to Electric Studio">

          <div class="col-md-6 copy-holder">
              <span class="label">SENDER'S EMAIL ADDRESS</span>
              <input type="email" ng-model="senderEmail" name="semail" class="input">

              <span class="label">RECIPIENT'S EMAIL ADDRESS</span>
              <input type="email" ng-model="receiverEmail" name="remail" class="input">

              <span class="label">ADD MESSAGE <i>(OPTIONAL)</i></span>
              <textarea class="input" ng-model="gcMessage"> </textarea>

              <div class="row">
                <div class="col-md-12">
                  <BIG>TOTAL: <span ng-if="gcAmount">P {{ gcAmount }}</span> <span ng-if="!gcAmount"> P 0.00</span></BIG>
                </div>
                
                <div class="col-md-6">
                  <input ng-click="buyGC('sender')" class="btn" type="button" value="EMAIL TO ME" /> 
                </div>
                <div class="col-md-6">
                  <input ng-click="buyGC('receiver')" class="btn" type="button" value="EMAIL TO RECIPIENT" /> 
                </div>                 
              </div>

           </div>
          </form> <!-- END PAYPAL FORM -->
        </div>
      </div>


    </div>
  </div>
  
  <div id="rates-section" class="content bg-gray parts-5 rates-info" ng-controller="RatesCtrl">
    <div class="wrapper">
      <span class="h small primary center" ng-show="loadingPackages">
        <i class="fa fa-spinner"></i> Loading packages ... 
      </span>

      <div class="faq">
        <p>You must purchase an Electric Studio package before you can reserve a spot in class. Package expiration begins upon purchase. A mandatory waiver must be signed by a parent/guardian for riders under the age of 18. First Timer Packages may only be purchased once per rider. All sales are final.</p>
        <a class="link" href="#/faq">Faqs</a>
      </div>  
    </div>  
  </div>

