
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large">History</h2>
        
        <div class="stats">
          <h3 class="h small">34 classes</h3>
          <h3 class="h small">10 Power Hour classes, 24 Pure Electric classes</h3>
          <h3 class="h small">12 days consecutive</h3>
        </div>
        
        <section class="col-2">
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 20, 2015</h3>
            <span>8:30 AM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Kris</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 15, 2015</h3>
            <span>8:30 AM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Abel</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 14, 2015</h3>
            <span>10:30 AM</span><br>
            <span>Class: Power Hour</span><br>
            <span>Instructor: Yessa</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 13, 2015</h3>
            <span>5:30 PM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Kris</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 10, 2015</h3>
            <span>8:30 AM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Kris</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 9, 2015</h3>
            <span>10:30 AM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Rachel</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 8, 2015</h3>
            <span>11:30 AM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Kris</span>
          </div>
          <div class="block">
            <h3 class="h small primary space--off pad--half-bottom">Jan 7, 2015</h3>
            <span>5:30 PM</span><br>
            <span>Class: Pure Electric</span><br>
            <span>Instructor: Kris</span>
          </div>
        </section>
      </div>
      
      <div ng-include="'/site/account-nav'"></div>
    </div>
  </div>
