<div ng-if="isFrozen" class="content">
  <div class="wrapper">
    <h3 class="h--medium brand-color space--bottom">Your Account has been frozen due to:</h3>
    <p class="intro">{{ loginUser.remarks }}</p>
  </div>
</div>

<div class="slider-container home fitscreen" ng-controller="SliderCtrl">
  <ul class="slider">
    <li ng-repeat="slider in sliders" class="slide">
      <span>{{ slider.text }}</span>
      <img src="{{ slider.image }}" class="preloaded-img">
    </li>
  </ul>
</div>