<div ng-if="isFrozen" class="content">
  <div class="wrapper">
    <p class="brand-color">Your account is frozen. Please contact the studio for more details.</p>
  </div>
</div>

<div class="slider-container home fitscreen" ng-controller="SliderCtrl">
  <ul class="slider">
    <li ng-repeat="slider in sliders" class="slide loading">
      <span>{{ slider.text }}</span>
      <img ng-src="{{ slider.image }}" class="preloaded-img desktop">
      <img ng-src="{{ slider.mobile_image }}" class="preloaded-img mobile">
      <a ng-href="{{ slider.link }}"></a>
    </li>
  </ul>
</div>
