
  <div class="content">
    <div class="wrapper">
      <h2 class="h large primary">Meet Our Pack</h2>
      <p class="intro">Our instructors have been selected for their high energy and ability to inspire a class.</p>
    </div>
  </div>
  
  <div class="content bg-lightGray parts-4 instructors-info">
    <div class="wrapper">
      <section>
        <div class="image">
          <img src="/assets/images/es-raisa.jpg">
        </div>  
        <h2 class="h medium primary">Raisa</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-migs.jpg">
        </div>  
        <h2 class="h medium primary">Migs</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-trish.jpg">
        </div>  
        <h2 class="h medium primary">Trish</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-kris.jpg">
        </div>  
        <h2 class="h medium primary">Kris</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-yessa.jpg">
        </div>  
        <h2 class="h medium primary">Yessa</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-mel.jpg">
        </div>  
        <h2 class="h medium primary">Mel</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-rachel.jpg">
        </div>  
        <h2 class="h medium primary">Rachel</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-abel.jpg">
        </div>  
        <h2 class="h medium primary">Abel</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-mitch.jpg">
        </div>  
        <h2 class="h medium primary">Mitch</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section>
        <div class="image">
          <img src="/assets/images/es-armand.jpg">
        </div>  
        <h2 class="h medium primary">Armand</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      
      <div class="book-cta">
        <a class="button large center primary"  href="#/rates-and-packages">Book A Ride</a>
      </div>
    </div>  
  </div>