<div ng-controller="InstructorCtrl">
  <div class="content bg-lightGray parts-4 instructors-info">
    <div class="wrapper">
      <h2 class="h large primary pad--bottom">Meet Our Pack</h2>
      <div class="cf">
        <section ng-repeat-start="instructor in instructors" id="{{ instructor.admin.first_name }}">
          <div class="image">
            <img ng-src="{{ instructor.image ? instructor.image : 'http://placehold.it/350x150' }}">
          </div>
          <h2 class="h--medium space--ends h--primary">{{ instructor.admin.first_name }}</h2>
          <p class="text-color-light">{{ instructor.motto }}</p>
        </section>
        <div ng-repeat-end="" class="clearfix" ng-if="($index + 1) % 4 == 0 "></div>
      </div>
      <div class="book-cta">
        <a class="button large center primary"  href="#/schedule">Book A Ride</a>
      </div>
    </div>
  </div>
</div>
