<div ng-controller="InstructorCtrl">
  <div class="content pad--off-bottom">
    <div class="wrapper pad--off-bottom">
      <h2 class="h large primary">Meet Our Pack</h2>
      <p class="intro">Our instructors have been selected for their high energy and ability to inspire a class.</p>
      <div class="group-pic">
        <img class="group-pic-img" src="/assets/images/teampic.jpg">
        <div class="imgmap">
          <a href="" data-target="kris" title="Kris"></a>
          <a href="" data-target="raisa" title="Raisa"></a>
          <a href="" data-target="migs" title="Migs"></a>
          <a href="" data-target="trish" title="Trish"></a>
          <a href="" data-target="yessa" title="Yessa"></a>
          <a href="" data-target="mel" title="Mel"></a>
          <a href="" data-target="rachel" title="Rachel"></a>
          <a href="" data-target="abel" title="Abel"></a>
          <a href="" data-target="mitch" title="Mitch"></a>
          <a href="" data-target="armand" title="Armand"></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content bg-lightGray parts-4 instructors-info">
    <div class="wrapper">
      <section id="kris">
        <div class="image">
          <img src="/assets/images/instructor-kris.jpg">
        </div>  
        <h2 class="h medium primary">Kris</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="migs">
        <div class="image">
          <img src="/assets/images/instructor-migs.jpg">
        </div>  
        <h2 class="h medium primary">Migs</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="trish">
        <div class="image">
          <img src="/assets/images/instructor-trish.jpg">
        </div>  
        <h2 class="h medium primary">Trish</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="raisa">
        <div class="image">
          <img src="/assets/images/instructor-raisa.jpg">
        </div>  
        <h2 class="h medium primary">Raisa</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="yessa">
        <div class="image">
          <img src="/assets/images/instructor-yessa.jpg">
        </div>  
        <h2 class="h medium primary">Yessa</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="mel">
        <div class="image">
          <img src="/assets/images/instructor-mel.jpg">
        </div>  
        <h2 class="h medium primary">Mel</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="rachel">
        <div class="image">
          <img src="/assets/images/instructor-rachel.jpg">
        </div>  
        <h2 class="h medium primary">Rachel</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="abel">
        <div class="image">
          <img src="/assets/images/instructor-abel.jpg">
        </div>  
        <h2 class="h medium primary">Abel</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="mitch">
        <div class="image">
          <img src="/assets/images/instructor-mitch.jpg">
        </div>  
        <h2 class="h medium primary">Mitch</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      <section id="armand">
        <div class="image">
          <img src="/assets/images/instructor-armand.jpg">
        </div>  
        <h2 class="h medium primary">Armand</h2>
        <p>Mini but mighty Marissa, lectured at the University of Cumbria in Dance, Jazz, Musical Theathre and Contemporary.</p>
      </section>
      
      <div class="book-cta">
        <a class="button large center primary"  href="#/rates-and-packages">Book A Ride</a>
      </div>
    </div>  
  </div>
</div>