  <div ng-if="isFrozen" class="content">
    <div class="wrapper">
      <p class="brand-color">Your account is frozen. Please contact the studio for more details.</p>
    </div>
  </div>
  
  <div class="banner rates">
    <span>Fire Up that Energy Factory</span> 
  </div>

  <div class="content">
    <div class="wrapper">
      <h2 class="h large primary">Rates &amp; Packages</h2>
      <a href="#/first-ride" class="link">What to expect on your first ride</a>
    </div>
  </div>
  
  <div id="rates-section" class="content bg-gray parts-5 rates-info" ng-controller="RatesCtrl">
    <div class="wrapper">
      <section ng-repeat="package in packages">
        <p>{{ package.description || '&nbsp;' }}</p>
        <h2>
          <span>{{ package.first_timer ? '1st Timer' : '' }}</span>
          <span class="credits">{{ package.credits }}</span>
          <span>Ride{{ package.credits > 1 ? 's' : '' }}</span>
        </h2>
        <p class="price">PHP {{ package.fee | currency:'' }}</p>
        <p>Expires in {{ package.expiration }} days</p>
        <form id="payForm-{{ $index }}" action="https://www.paypal.com/ph/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_xclick"> 
          <input type="hidden" name="no_note" value = "0">
          <input type="hidden" name="bn" value="PP-BuyNowBF">
          <input type="hidden" name="rm" value="2">
          <input type="hidden" name="business" value="contact@drinkspruce.com">
          <input type="hidden" name="item_name" value="{{ package.name || package.credits + ' Ride' + (package.credits > 1 ? 's' : '') }}">
          <input type="hidden" name="item_number" value="{{ package._id }}">
          <input type="hidden" name="amount" value="{{ package.fee }}">
          <input type="hidden" name="currency_code" value="PHP">
          <input type="hidden" name="return" value="{{ redirectUrl }}?pid={{ package._id }}&success=True">
          <input type="hidden" name="cancel_return" value="{{ redirectUrl }}?success=False">
          <input type="hidden" name="cbt" value="Return to Electric Studio">

          <input ng-if="!package.special_package" class="button primary small" ng-click="buyPackage($event, $index)" value = "Buy" class = "button" type = "button">
          <i ng-if="package.special_package">Call studio directly</i>
        </form>
      </section>
      <div class="faq">
        <p>You must purchase an Electric Studio package before you can reserve a spot in class. Package expiration begins upon purchase. A mandatory waiver must be signed by a parent/guardian for riders under the age of 18. First Timer Packages may only be purchased once per rider. All sales are final.</p>
        <a class="link" href="#/faq">Faqs</a>
      </div>  
    </div>  
  </div>
