  
  <div class="slider-container rates">
    <ul class="slider">
      <li class="slide slide-1 font-medium"><span>Be Part of Our Pack</span></li>
      <li class="slide slide-2"><span>Let's Go <br>For A Ride</span></li>
      <li class="slide slide-3"><span>Plug In</span></li>
    </ul>
  </div>

  <div class="content">
    <div class="wrapper">
      <h2 class="h large primary">Rates &amp; Packages</h2>
      <a href="#/first-ride" class="link">What to expect on your first ride</a>
    </div>
  </div>
  
  <div class="content bg-gray parts-4 rates-info" ng-controller="RatesCtrl">
    <div class="wrapper">
      <section ng-repeat="package in packages">
        <h2>{{ package.credits }} <span>Class</span></h2>
        <p class="price">PHP <span>{{ package.fee }}</span></p>
        <p>Expires in {{ package.expiration }} days</p>
        <!-- <a class="button small" ng-click="buy(package.id)">Buy</a> -->
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="no_note" value = "0">
          <input type="hidden" name="bn" value="PP-BuyNowBF">
          <input type="hidden" name="rm" value="2">
          <input type="hidden" name="business" value="ogsmelvin05-facilitator@gmail.com">
          <input type="hidden" name="item_name" value="{{ package.name }}">
          <input type="hidden" name="amount" value="{{ package.fee }}">
          <input type="hidden" name="currency_code" value="PHP">
          <input type="hidden" name="return" value="{{ redirectUrl }}?pid={{ package.id }}&success=True">
          <input type="hidden" name="cancel_return" value="{{ redirectUrl }}?success=False">
          <input type="hidden" name="cbt" value="Return to Electric Studio">
          <input class="button small" value = "Buy" class = "button" type = "submit">
        </form>
      </section>
      <div class="faq">
        <p>If it's your first time, call our studio to check for special promos and packages.</p>
        <p>You must purchase Electric Studio classes before you can reserve a spot in the class. Classes are transferrable between studios, but may cost different amounts. To purchases classes for another studio, click on the change studio dropdown menu and select your desired location. A mandatory waiver must be signed by parent/guardian, for riders under the age of 18 to take class at Electric Studio.</p>
        <a class="link" href="#/faq">Faqs</a>
      </div>  
    </div>  
  </div>