  <link rel="stylesheet" type="text/css" href="assets/sass/extra/gift-card.css">
  <link rel="stylesheet" type="text/css" href="assets/sass/extra/grid.min.css">
  <div class="content" ng-controller="RatesCtrl">
    <div class="wrapper">
      <div class="gift-card">
            
            

            <div class="row">
               <!-- <div class="col-md-6">
                  <img src="assets/images/gift-card-balance.png">
               </div> -->
               <div class="col-md-3"></div>
               <div class="col-md-6 card-holder">

                  <div class="title">
                     <div class="title">
                        <small>ELECTRIC STUDIO GIFT CARD</small>
                        <h2>REDEEM GIFT CARD</h2>
                     </div>
                  </div>
                  
                  <div class="row pad--top">
                     <div class="col-md-12">
                     <p>To redeem your gift card, enter the Card Code number and pin and hit Redeem button.</p>
                     </div>
                     <div class="col-md-6 pad--top">
                        <span class="label">Card Code</span>
                        <input class="input" ng-model="gcCode">
                     </div>

                     <div class="col-md-6 pad--top">
                        <span class="label">PIN</span>
                        <input class="input" ng-model="gcPin">
                     </div>
                  </div>

                  <button class="btn" ng-click="redeemGC()" type="button"> REDEEM GIFT CARD </button>
                  <button class="btn" ng-click="checkGCValue()" type="button"> CHECK VALUE </button>
               </div>
            </div>
         </div>

    <!-- <div class="">
      <h2 class="h large primary">Redeem Gift Card</h2>


      	<label>Code: </label>
      	<input type="text" ng-model="gcCode" placeholder="Code" name=""/>
      	<label>Pin:</label>
      	<input type="text" ng-model="gcPin" placeholder="Pin" name=""/>
        <br/>
        <label></label>
        <input ng-click="redeemGC()" type="button" name="redeem" value="Redeem"> 
	
    </div>
    </div> -->
  </div>
  
 