
  <div class="content" ng-controller="RatesCtrl">
    <div class="wrapper">
    <div class=""> <!-- center this div -->
      <h2 class="h large primary">Redeem Gift Card</h2>


      	<label>Code: </label>
      	<input type="text" ng-model="gcCode" placeholder="Code" name=""/>
      	<label>Pin:</label>
      	<input type="text" ng-model="gcPin" placeholder="Pin" name=""/>
        <br/>
        <label></label>
        <input ng-click="redeemGC()" type="button" name="redeem" value="Redeem"> 
	
    </div>
    </div>
  </div>
  
  <div id="rates-section" class="content bg-gray parts-5 rates-info" ng-controller="RatesCtrl">
    <div class="wrapper">
      <span class="h small primary center" ng-show="loadingPackages">
        <i class="fa fa-spinner"></i> Loading packages ... 
      </span>

      <div class="faq">
        <p>You must purchase an Electric Studio package before you can reserve a spot in class. Package expiration begins upon purchase. A mandatory waiver must be signed by a parent/guardian for riders under the age of 18. First Timer Packages may only be purchased once per rider. All sales are final.</p>
        <a class="link" href="#/faq">Faqs</a>
      </div>  
    </div>  
  </div>


