  <div ng-if="isFrozen" class="content">
    <div class="wrapper">
      <p class="brand-color">Your account is frozen. Please contact the studio for more details.</p>
    </div>
  </div>

  <div class="content bg-lightGray sidebar-layout" ng-controller="ReservedCtrl">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large">Reservation</h2>
        
        <div class="stats">
          <h3 class="h small">{{ reservations.length || 0 }} Rides</h3>
        </div>
        
        <section class="col-2">
          <div class="block" ng-repeat="res in reservations">
            <h4 class="h small primary space--off pad--half-bottom">{{ res.date | formatDate }}</h4>
            <span>{{ res.schedule.start | formatTime }}</span><br>
            <span>Class: {{ res.schedule.type }}</span><br>
            <span>Instructor: {{ res.schedule.instructor.admin.first_name }}</span><br>
            <span ng-if="res.status !== 'waitlisted'">Seat: {{ res.seat_number }}</span>
            <span ng-if="res.status === 'waitlisted'" class='h small primary'>{{ res.status }}</span>
            <br>
            <div class="pad--ends">
              <!-- <a class="btn btn--small btn--secondary" ng-click="reSched(res)">Reschedule</a> -->
              <a class="btn btn--small btn--tertiary" ng-click="cancelSched(res)">Cancel</a>
            </div>
          </div>
        </section>
      </div>
      
      <div ng-include="'/site/account-nav'"></div>
    </div>
  </div>