  <div class="content bg-lightGray sidebar-layout" ng-controller="ReservedCtrl">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large">Reservation</h2>
        
        <div class="stats">
          <h3 class="h small">{{ loginUser.credits }} classes</h3>
        </div>
        
        <section class="col-2">
          <div class="block" ng-repeat="res in reservations">
            <h4 class="h small primary space--off pad--half-bottom">{{ res.date | formatDate }}</h4>
            <span>{{ res.schedule.start | formatTime }}</span><br>
            <!-- <span>Class: Type 2</span><br> -->
            <span>Instructor: {{ res.schedule.instructor.admin_id.first_name }}</span><br>
            <span>Seat: {{ res.seat_number }}</span><br>
            <div class="pad--ends">
              <a class="btn btn--small btn--secondary" ng-click="reSched(res)">Reschedule</a>
              <a class="btn btn--small btn--tertiary" ng-click="cancelSched(res)">Cancel</a>
            </div>
          </div>
        </section>
      </div>
      
      <div class="sidebar light">
        <h2 class="h small gray">My Classes</h2>
        <p>
          <a href="#/reservation" class="link basic">Reservation</a><br>
          <a href="#/history" class="link basic">History</a>
        </p>
        <h2 class="h small">My Account</h2>
        <p>
          <a href="#/account" class="link basic">Personal Info</a><br> 
          <a href="#/account#billing" class="link basic">Billing</a><br>
          <a href="#/account#packages" class="link basic">Packages</a><br>
          <a href="#/rewards" class="link basic">Rewards</a>
        </p>
        <a class="link" href="#/logout">Sign Out</a>
      </div>
    </div>
  </div>