
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large">My Rewards</h2>
        <p class="intro">Invite your friends and earn a FREE Electric ride when 5 of them signup for their first ride.</p>
        
        <section>
          <h3 class="h medium">Share this link</h3>
          <input class="input" value="http://electricstudio.com">
          <p class="space--ends">3 friends already signed up, 2 more to go.</p>
        </section>
      </div>
      
      <div ng-include="'/site/account-nav'"></div>
    </div>
  </div>