
  <div class="content bg-lightGray sidebar-layout">
    <div class="wrapper">
      
      <div class="main">
        <h2 class="h large primary">My Rewards</h2>
        <p class="intro">Invite your friends and earn a FREE Electric ride when 5 of them signup for their first ride.</p>
        <section>
          <h3 class="h medium">Share this link</h3>
          <input class="input" value="http://electricstudio.com">
        </section>
      </div>
      
      <div class="sidebar light">
        <h2 class="h small primary">My Classes</h2>
        <p>Reserved <br> Bookmarks <br> History</p>
        <h2 class="h small primary">My Packages</h2>
        <h2 class="h small primary">My Account</h2>
        <p>Personal Info <br> Billing</p>
        <h2 class="h small primary">My Rewards</h2>
        <a class="link">Sign Out</a>
      </div>
    </div>
  </div>