<div ng-controller="WhatsnewCtrl" class="content">
  <div class="wrapper relative">
    <h2 class="watermark">What's New</h2>

    <div class="grid space--ends pad--top">
      <div class="spacer"></div>
      <div ng-repeat="photo in instagram" class="grid__item grid__item--inline bp-md-one-third bp-sm-one-half space--bottom">
        <a class="instagram-link" href="{{photo.link}}">
          <img ng-src="{{photo.images.standard_resolution.url}}">
          <div class="text-color-light space--ends">
            <p class="caption space--half-bottom">{{photo.caption.text}}</p>
            <small class="pad--half-right caps">{{photo.likes.count}} likes</small>
            <small class="caps">{{photo.comments.count}} comments</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
