
  <div class="banner workouts">
    <span>Move with<br> the pack</span>
  </div>

  <div class="content">
    <div class="wrapper">
      <h2 class="h large primary">The Workout</h2>
      <p class="intro">Each experience is a high-intensity full-body workout guided by a great team, supportive and positive instructors, and to a great soundtrack. It's extreme cardio, rocking your core, upper, and lower muscles.</p>
      <a href="#/first-ride" class="link">What to expect on your first ride</a>
    </div>
  </div>
  
  <div class="content bg-gray parts-3">
    <div class="wrapper">
      <section>
        <div class="circles items-1 animated" data-animation="flipInX">
          <div class="item horizontal type-1"></div>
        </div>
        <h2 class="h medium light">Pure Electric</h2>
        <p>Our signature ride that incorporate full body movements, music, and free weights. A great class to start with.</p>
      </section>
      <section>
        <div class="circles items-2 animated" data-animation="flipInX">
          <div class="item type-1"></div>
          <div class="item vertical type-2"></div>
        </div>
        <h2 class="h medium light">Power Hour</h2>
        <p>For those that want a more challenging ride, push yourself with an extra 15 minutes of electic experience.</p>
      </section>
      <section>
        <div class="circles items-3 animated" data-animation="flipInX">
          <div class="item type-3"></div>
          <div class="item vertical type-1"></div>
          <div class="item diagonal type-2"></div>
        </div>
        <h2 class="h medium light">Electric Endurance</h2>
        <p>Think about going the distance with double the intensity through this back to back rides.</p>
      </section>
      
      <div class="book-cta">
        <a class="button large center" href="#/schedule">Book A Ride</a>
      </div>
    </div>
  </div>