<div class="workouts page">

  <section class="content section-1">
    <div class="wrapper">
      <p class="intro">Each experience is a high-intensity full-body workout guided by high energy beats and supportive and positive instructors. It's extreme cardio, rocking your core, upper, and lower muscles.</p>
      <a class="first-ride-link" href="#/first-ride">What to expect on <br/>your first ride</a>
    </div>
    <div class="image-banner"></div>
  </section>

  <section class="content section-2" id="workouts-section">
    <div class="wrapper">

      <div class="workout">
        <h2 class="h large">Jumpstart</h2>
        <div class="display">
          <div class="circle logo"></div>
        </div>
        <p>Learn all the essentials in 45 minutes to kickstart your electric experience.</p>
      </div>

      <div class="workout">
        <h2 class="h large">Pure Electric</h2>
        <div class="display">
          <div class="circle type-3 diagonal"></div>
          <div class="circle logo pull"></div>
        </div>
        <p>Our signature 45-minute ride incorporates full body movements, music, and free weights.</p>
      </div>

      <div class="workout">
        <h2 class="h large">Power Hour</h2>
        <div class="display">
          <div class="circle type-3 diagonal"></div>
          <div class="circle logo pull"></div>
          <div class="circle type-2 diagonal-2 pull"></div>
        </div>
        <p>For those who want a more challenging ride, push yourself with an extra 15 minutes of electric experience.</p>
      </div>

      <div class="workout">
        <h2 class="h large">Electric Endurance</h2>
        <div class="display">
          <div class="circle type-3 diagonal-2"></div>
          <div class="circle type-2 vertical pull"></div>
          <div class="circle type-1 diagonal pull"></div>
          <div class="circle logo pull"></div>
        </div>
        <p>Think about going the distance with double the intensity through this back to back ride.</p>
      </div>

      <!-- <div class="book-cta">
        <a class="button large primary center" href="#/schedule">Book A Ride</a>
      </div> -->

    </div>
  </section>

</div>
