
.fr {
  float: right;
}
.gift-card {
  padding: 0 80px;
  font: inherit;
}
@media(max-width: 992px){
  .gift-card{
    padding : 0;
  }
}
.gift-card .title {
  margin-bottom: 30px;
}
.gift-card .title h2 {
  font-weight: normal;
  color: #777;
  font-size: 23px;
}
.gift-card .title small {
  font-size: 11px;
}
.gift-card small.label {
  display: block;
  color: #777;
  font-weight: bold;
  font-size: 11px;
}
.gift-card span.label {
  display: block;
  color: #777;
  font-weight: bold;
  font-size: 12px;
}

.gift-card span.label i{
  font-style: normal;
  font-weight: normal;
}
.gift-card .card-input {
  background-color: #333;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 30px;
}
.gift-card .card-input input[type="text"] {
  display: block;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  font-size: 14px;
}
.gift-card .card-input select.rides {
  display: block;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 30px 0 5px;
  padding: 20px 5px 20px 10px;
  font-size: 56px;
  height: 100px;
  font-weight: bold;
  color: #939393;
}

@media(max-width: 992px){
  .gift-card .card-input select.rides{
    font-size: 14px;
    font-weight: normal;
    height: auto;
    padding: 10px;
  }
}
.gift-card .card-input small.label {
  color: #fff;
}
.gift-card .card-holder {
  padding-right: 50px;
  min-height: 330px;
}
.gift-card .copy-holder {
  padding-left: 50px;
}
@media(max-width: 992px){
  .gift-card .card-holder,.gift-card .copy-holder{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.gift-card p {
  font-size: 14px;
  color: #939393;
}
.gift-card .copy-holder textarea {
  min-height: 70px;
}
.gift-card .copy-holder big {
  font-weight: bold;
  font-size: 24px;
  padding: 10px 0;
  color: #939393;
  display: block;
}
.gift-card .copy-holder big span {
  color: #ff8f1c;
}
.gift-card .input {
  border: solid 2px #cdcfcf;
  border-radius: 4px;
  margin: 5px 0 30px;
  font-size: 12px;
  padding: 8px;
  width: 100%;
  resize: none;
  max-width: none;
}
.gift-card .btn {
  background-color: #ff8f1c;
  border: none;
  padding: 7px 0;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}
.gift-card .balance {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
