.career.page {
  padding-bottom: 0!important;

  .wrapper {
    min-height: 500px;
  }

  .banner-image {
    background-image: url('/assets/images/image2587.png');
    background-position: center;
    background-size: cover;
    height: 300px;
  }
}
