.rates.page {
  color: $brand-color-secondary;

  @include breakpoint(lg) {
    margin-top: 50px;
  }

  .package {

    @include breakpoint(md) {
      display: inline-block;
      width: 25%;
      vertical-align: top;
    }

    .rides, .description {
      font-family: 'Tungsten', sans-serif;
      font-weight: normal;
      font-size: 26px;
      text-transform: uppercase;

      @include breakpoint(md) {
        font-size: 34px;
      }
    }

    .credits {
      display: block;
      font-size: 60px;

      @include breakpoint(md) {
        font-size: 90px;
      }
    }

    .description {
      color: $brand-color-tertiary;
    }

    .price {
      font-size: 20px;
      font-weight: bold;

      i {
        font-style: normal;
        font-size: 14px;
      }
    }

    form {
      .button {
        padding: 6px 18px;
        margin-top: 10px;
        border: 2px solid $brand-color-primary;
      }
    }
  }


  .faq {
    max-width: 800px;
    text-align: center;
    margin: 60px auto 20px;
  }

}



.giftcard-section {
  background: $brand-color-secondary;
  color: #fff;
  overflow: auto;
  position: relative;

  .side-image {
    background-image: url('/assets/images/gift-card-image.png');
    background-position: center;
    background-size: cover;
    display: none;

    @include breakpoint(md) {
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .content {
    background: $brand-color-secondary;
    padding: 20px;
    text-align: center;
    font-size: 18px;

    @include breakpoint(md) {
      width: 50%;
      margin-left: 50%;
      float: left;
    }

    .content-1, .content-2 {
      @include breakpoint(md) {
        width: 50%;
        float: left;
      }
    }

    .h {
      margin-bottom: 0;
      font-size: 40px;

      @include breakpoint(md) {
        font-size: 46px;
      }
    }
  }

}
