<!DOCTYPE html>
<html ng-app="elstudio">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <title>Home - Electric Studio</title>
  
  <link rel="stylesheet" href="{{ static_url('css/site.css') }}">
  <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-64306317-1', 'auto');ga('send', 'pageview');</script>
</head>
<body ng-controller="SiteCtrl">
  <header class="main-header">
    <div class="wrapper">
      <h1 class="brand">
        <a href="#/">
        <img src="{{ static_url('images/electricstudio-nameplate.png') }}" alt="Electric Studio Logo" class="nameplate">
        </a>
        <img src="{{ static_url('images/electricstudio-logo.png') }}" class="logo">
      </h1>
      
      <ul class="main-menu">
        <li>
          <a ng-class="{ active : activeMainNav('/about') }" href="#/about">About Us</a>
        </li>  
        <li>
          <a ng-class="{ active : activeMainNav('/instructors') }" href="#/instructors">Instructors</a>
        </li>
        <li class="class-menu">
          <a>Classes <i class="fa fa-chevron-down"></i></a>
          <div class="class-menu__list">
            <ul class="class-menu__holder">
              <li><a href="#/workouts">The Workouts</a></li>
              <li><a href="#/rates-and-packages">Rates &amp; Packages</a></li>
              <li><a href="#/first-ride">What to expect</a></li>
              <li>
                <a>Schedule</a>
                <div class="sub-menu-holder">
                  <ul class="submenu">
                    <li><a class="font--bold" href="#/schedule">FORT BGC</a></li>
                  </ul>
                </div>
              </li>
            </ul>  
          </div>  
        </li>
        <li>
          <a ng-class="{ active : activeMainNav('/gift-cards') }" href="#/gift-cards">Gift Card</a>
        </li>  
        <li>
          <a ng-class="{ active : activeMainNav('/whats-new') }" href="#/whats-new">What's New</a>
        </li>
      </ul>
      
      <div class="account-menu">
        <div class="account-menu__options">
        {% if not loginUser %}
          <a class="login-toggle">Login</a> /  
          <a class="signup-toggle">Sign up</a>
          <script type="text/javascript"> window.localStorage.removeItem('login-user'); </script>
        {% else %}
          <a href="javascript:void(0)" class="user-loggedin">
            Hi <strong>{{ loginUser }}</strong>! 
            <span>{{ credits }}</span>
            <i class="fa fa-caret-down"></i>
          </a>
        {% end %}            
        </div>
        {% if loginUser %}  
        <div class="account-menu__list">
          <div class="account-menu__holder">
            <a href="#/account">My Account</a>
            <a href="#/reserved">My Classes</a>
            <a href="javascript:void(0)" ng-click="logout()" >Sign Out</a>
          </div>  
        </div>
        {% end %}  
      </div>  
      
      <div class="book-buy">
        <span class="book-ride-btn" href="#/schedule">
          <span>Buy/Book A Ride</span>
          <div class="dropdown-holder">
            <ul class="dropdown">
              <li>
                <div class="pad">
                  <a class="special" href="#/rates-and-packages">Buy Rides</a>
                </div>
              </li>
              <li><a class="color--orange font--bold" href="#/schedule">FORT BGC</a></li>
            </ul>
          </div>
        </span>  
      </div>
      

      <a class="menu-toggle"><i class="fa fa-bars"></i></a>
      
    </div>  
  </header>
  
  <div class="header-form-container login" ng-controller="LoginCtrl">
    <div class="wrapper">
      <h2 class="h large light">Log In</h2>
      <p class="notify">{{! signInError }}</p>

      <div class="wrapper" ng-controller="SignUpCtrl" ng-show="unverifiedLogin">
        <button class="button" ng-click="sendEmailConfirmation(user)">Resend Email Confirmation</button>
      </div>

      <form class="login-form" method="post">
        <input class="input-box" placeholder="Email Address" ng-model="login.email" required>
        <input type="password" class="input-box" placeholder="Password" ng-model="login.password" required>
        <input type="submit" value="Log In" class="button primary" ng-click="signIn()">
        <br/>
        <a ng-click="forgotPass()" >Forgot password ?</a> <a ng-click="showSignup()">/ Sign up</a>
      </form>
      <span class="close-btn">&times;</span>
    </div>  
  </div>
  
  <div class="header-form-container signup" ng-controller="SignUpCtrl">
    <div class="wrapper" ng-show="!registered">
      <h2 class="h large light">Sign Up</h2>
      <p class="notify">{{! signupError }}</p>
      <form class="signup-form" method="post">
        <input class="input-box" placeholder="First Name" ng-model="user.first_name">
        <input class="input-box" placeholder="Last Name" ng-model="user.last_name">
        <input class="input-box" placeholder="Email Address" ng-model="user.email">
        <input class="input-box" placeholder="Mobile Number" ng-model="user.phone_number">
        <input type="password" class="input-box" placeholder="Password (minimum 6 character)" ng-model="user.password">
        <input type="password" required compare-to="user.password" class="input-box" placeholder="Re-type Password" ng-model="user.confirm_password">

        <input ng-disabled="signingUp" type="submit" value="Sign Up" class="button primary" ng-click="signUp()">
      </form>
      <span class="close-btn">&times;</span>
    </div>
    <div class="wrapper" ng-show="registered">
      <h2 class="h medium light">Check your Email!</h2><br/><br/><br/>
      <button class="h small btn" ng-click="sendEmailConfirmation(user)">Resend Email Confirmation</button>
      <span class="close-btn">X</span>
    </div>
  </div>

  <div ng-view ></div>

  <footer class="main-footer">
    <div class="wrapper">
      <ul class="footer-links">
        <li>© ELECTRIC STUDIO 2015</li>
        <li><a href="#/faq">FAQ</a></li>
        <li><a href="#/career">Careers</a></li>
        <li><a href="#/contact">Contact Us</a></li>
      </ul>
      
      <ul class="social-links">
        <li>
          <a href="mailto:letsride@electricstudio.ph"><i class="fa fa-envelope"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/teamelectricph"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="http://instagram.com/teamelectricph/"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/teamelectricph"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>  
  </footer>

  <div class="modal alert-modal" id="alert-modal">
    <div class="modal__box pad">
      <span id="alert-close-btn" class="close-btn modal-close">X</span>
      <p id="alert-modal-message"></p>
    </div>
  </div>

  <div class="modal" id="confirm-modal">
    <div class="modal__box pad">
      <p id="confirm-modal-message"></p><br/>
      <a class="btn btn--small btn--tertiary modal-close" id="confirm-cancel-button">Cancel</a>
      <a class="btn btn--small btn--secondary modal-close" id="confirm-ok-button">OK</a>
    </div>
  </div>

  <div class="modal" id="prompt-modal">
    <div class="modal__box pad">
      <span class="label" id="prompt-modal-message"></span>
      <input class="text-input" id="prompt-input"><br/><br/>
      <a class="btn btn--small btn--tertiary modal-close" id="prompt-cancel-button">Cancel</a>
      <a class="btn btn--small btn--secondary modal-close" id="prompt-ok-button">OK</a>
    </div>
  </div>

  <div class="modal" id="forgot-password-modal" ng-controller="ForgotPasswordCtrl" >
    <div class="modal__box pad">
      <p>Please enter your email address below and we will send you a link to reset your password.</p>
      <br/>
      <span class="label">Email Address</span>
      <input class="text-input" ng-model="forgotPassEmail"><br/><br/>
      <a class="btn btn--small btn--primary modal-close" ng-click="sendForgotPassEmail()">Send</a>
    </div>
  </div>
  
  <script src="{{ static_url('vendor/jquery/dist/jquery.min.js') }}"></script>
  
  <script src="{{ static_url('vendor/angular/angular.min.js') }}"></script> 
  <script src="{{ static_url('vendor/angular-route/angular-route.min.js') }}"></script>
  <script src="{{ static_url('vendor/angular-resource/angular-resource.min.js') }}"></script>
  <script src="{{ static_url('vendor/angular-sanitize/angular-sanitize.min.js') }}"></script>
  
  <link rel="stylesheet" href="{{ static_url('vendor/pickadate/lib/themes/classic.css') }}">
  <link rel="stylesheet" href="{{ static_url('vendor/pickadate/lib/themes/classic.date.css') }}">
  
  <script src="{{ static_url('vendor/FitText.js/jquery.fittext.js') }}"></script>
  <script src="{{ static_url('vendor/glidejs/dist/jquery.glide.min.js') }}"></script>
  <script src="{{ static_url('vendor/pickadate/lib/picker.js') }}"></script>
  <script src="{{ static_url('vendor/pickadate/lib/picker.date.js') }}"></script>

  <script src="{{ static_url('js/app/templates.js') }}"></script>
  <script src="{{ static_url('js/app/services.js') }}"></script>
  <script src="{{ static_url('js/app/controllers.js') }}"></script>
  <script src="{{ static_url('js/app/app.js') }}"></script>
  <script src="{{ static_url('js/script.js') }}"></script> 
</body>  
</html>