<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maintenance | Electric Studio </title>

    <link rel="stylesheet" href="/assets/css/admin-login.css">
  </head>
  
  <body>
  
    <div class="content " style="text-align:center">

      <img src="/assets/images/electricstudio-nameplate.png" class="nameplate">
      <br/>
      <h1 class="brand-color" >UNDER MAINTENANCE</h1>

        <br/>
        <h2 class="h small">Call</h2>
        <h1 style="color:#D8CCCC!important">833-60-51</h1>
        <h1 style="color:#D8CCCC!important">833-60-56</h1>
        <h1 style="color:#D8CCCC!important">0915-212-4929</h1>
        <br/>
        <h2 class="h small">Email</h2>
        <p style="color:#D8CCCC!important">letsride@electricstudio.ph</p>

    </div>
      
  </body>
</html>