<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin | Electric Studio</title>

    <link rel="stylesheet" href="/assets/css/styles.min.css">
  </head>

  <body>
    <div class="page-wrapper">
      <div class="page-sidebar">
        <div class="brand pad">
          <img src="/assets/images/electricstudio-nameplate.png" class="nameplate">
          <img src="/assets/images/electricstudio-logo.png" class="logo">
        </div>

        <ul class="main-nav nav nav--stacked">
          <li class="active">
            <a data-dropdown-toggle="dashboard-menu">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">Dashboard</span>
            </a>

            <ul class="nav nav--stacked sub-nav" data-dropdown="dashboard-menu">
              <li><a href="/analytics">Analytics</a></li>
              <li><a href="/packages">Packages</a></li>
              <li><a href="/sliders">Sliders</a></li>
            </ul>
          </li>
          <li>
            <a href="/classes">
              <i class="fa fa-th-list"></i>
              <span class="nav-label">Classes</span>
            </a>
          </li>
          <li>
            <a href="/accounts">
              <i class="fa fa-users"></i>
              <span class="nav-label">Accounts</span>
            </a>
          </li>
          <li>
            <a href="/schedules">
              <i class="fa fa-calendar"></i>
              <span class="nav-label">Schedules</span>
            </a>
          </li>
        </ul>

      </div>

      <div class="page-content">

        <div class="page-header pad">

          <button class="sidebar-toggle btn btn--small btn--primary">
            <i class="fa fa-bars"></i>
          </button>


        </div>

        <div class="main-content">

   <div class="grid content pad">

    <div class="grid__item">
    <div class="sliders box--white box--bordered">
      <div class="box__header align--middle cf pad">
        <span class="label label--inline">Homepage Slider</span>
        <button class="btn btn--small btn--primary float--right" data-modal-toggle="add-slide">Add Slide</button>
      </div>
      <div class="pad pad--off-top">

        <table class="slider-list data-table">
          <thead>
            <tr>
              <th>Background Image</th>
              <th>Text</th>
              <th class="options-cell">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img class="slider-image" src="/assets/images/slider-image-1.jpg">
              </td>
              <td>Let's go for a ride</td>
              <td>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-trash"></i> Edit
                </button>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-pencil"></i> Remove
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <img class="slider-image" src="/assets/images/slider-image-2.jpg">
              </td>
              <td>Plug In</td>
              <td>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-trash"></i> Edit
                </button>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-pencil"></i> Remove
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <img class="slider-image" src="/assets/images/slider-image-3.jpg">
              </td>
              <td>RIDE - CLIMB - PUSH - STRETCH - SPRINT - CRUNCH - LIFT - DANCE</td>
              <td>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-trash"></i> Edit
                </button>
                <button class="btn btn--small btn--secondary">
                  <i class="fa fa-pencil"></i> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>

  </div>

  <!-- modal Add Slider -->
  <div class="modal" data-modal="add-slide">
    <div class="modal__box pad">
      <span class="close-btn modal-close">X</span>
      <h3 class="h--medium brand-color space--bottom">Add Slide</h3>

      <div class="space--bottom">
        <span class="label">Background Image</span>
        <input type="file">
      </div>

      <div class="space--bottom">
        <span class="label">Text</span>
        <input placeholder="Add Text" class="text-input">
      </div>

      <button class="btn btn--medium btn--primary space--top modal-close">Add</button>
    </div>
  </div>



        </div><!-- .main-content -->
      </div>
    </div>


    <link rel="stylesheet" href="/assets/vendor/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.css">
    <link rel="stylesheet" href="/assets/vendor/pickadate/lib/themes/classic.date.css">

    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.js"></script>
    <script src="/assets/vendor/pickadate/lib/picker.date.js"></script>

    <script src="/assets/js/script.min.js"></script>
  </body>
</html>
